[2019-11-11 06:41] zacck opened #36 "Buy Button unresponsive in Borboins Env"
## ISSUE
As reported by @muguika ,

[code]

ENV: "Borboins"

![image](https://user-images.githubusercontent.com/897731/68566449-07f32180-045f-11ea-8f31-ccc4a4db5b0c.png)

[2019-11-12 23:50] lucca65 opened #38 "Claims not working on Borboins env"
1. claims on desktop are not working, tried with Firefox and Chrome... after clicking claim on an action, nothing happens. On mobile I can complete the process but is not showing the green confirmation message that was showing before.
2. As a verifier I can see that a verification is pending on my dashboard, but when I click on it, is showing me this error message

![Screenshot_20191112-173738](ht

[2019-11-13 00:15] lucca65 commented on #38
Closing for now

[2019-11-13 00:15] #38 closed

[2019-11-13 00:15] #36 closed

[2019-11-13 00:22] lucca65 opened #39 "Buy button don't work on the Shop"
Nothing happens when clicking the "Buy" button on the shop

This was reported while testing https://borboins.cambiatus.io

[2019-11-13 00:23] lucca65 opened #40 "Can't access verifications"
As a verifier I can see that a verification is pending on my dashboard, but when I click on it, is showing me this error message

![Screenshot_20191112-173738](https://user-images.githubusercontent.com/1082127/68720456-0bd19180-058e-11ea-8a46-e93c18a29028.png)

This error was reported while testing https://borboins.cambiatus.io

[2019-11-13 00:33] lucca65 opened #41 "View transfer screen"
Screen that shows a transfer, it receives an ID by the URL. The view should change depending on the user. If the user is involved on the transfer it should show "received" or "sent"

Also we should link this page with the transfer notifications

[2019-11-13 15:31] natillasol opened #43 "app.cambiatus.io not opening in Safari"
app.cambiatus.io not opening in Safari

[2019-11-13 15:32] natillasol opened #44 "app.cambiatus.io not opening in chrome"
app.cambiatus.io not opening in chrome

[2019-11-13 15:36] #44 closed

[2019-11-13 15:37] #43 closed

[2019-11-13 15:49] natillasol opened #45 "App fails to render when it uses the root path"
**Describe the bug**
Can't access app.cambiatus.io   in Safari, Chrome.   NOTE that it DOES work in Firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app.cambiatus.io'

OR

1. Go to borboins.cambiatus.io

**Expected behavior**
a blank page will appear

**Screenshots**
in the annex.

**Cambiatus Env you are using**
app.cambiatus.io
borboins.cambiatus.io

**Desktop (please comple

[2019-11-13 15:57] natillasol opened #46 "Borboins Top left corner in Spanish"
**Is your feature request related to a problem? Please describe.**
Currently the top left corner in the Borboins environment is in catalan.

**Describe the solution you'd like**
This should be in Spanish

**Describe alternatives you've considered**
----

**Additional context**
In Annex
<img width="939" alt="Screen Shot 2019-11-13 at 09 53 59" src="https://user-images.githubusercontent.com/57719975

[2019-11-13 16:07] natillasol opened #47 "Community Logos not showing"
**Describe the bug**
The community logos or icons are not showing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.cambiatus.io
2. Click login
3. See error

**Expected behavior**
There would be instead a blank square with a broken paper icon on the top left corner.

**Screenshots**
in annex

**Cambiatus Env you are using**
app.cambiatus.io         AND    borboins.cambiatus.io

**De

[2019-11-13 16:17] natillasol opened #48 "Logo not showing in action page"
**Describe the bug**
Logo not showing in action page

**To Reproduce**
Steps to reproduce the behavior:

Go to app.cambiatus.io
Click login
See error

**Expected behavior**
broken paper icon instead of image
<img width="1288" alt="Screen Shot 2019-11-13 at 10 11 38" src="https://user-images.githubusercontent.com/57719975/68782117-71f5fd00-05fe-11ea-8f9e-4d38516a495e.png">
<img width="1440" alt="Sc

[2019-11-13 16:22] natillasol opened #49 "Claim box does stays fixed when scrolling down"
**Describe the bug**
Claim box does stays fixed when scrolling down, so ultimately I cannot read the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.cambiatus.io
2. Login
3. Press on community
4. Click on action
5. Click on objective
6.Click in claim

**Expected behavior**
The claim box will appear at the bottom of the page, but the user is unable to read it completely, becau

[2019-11-13 19:03] natillasol opened #50 "translation of members"
**Describe the bug**
"members" should be translated  as "Miembros" in the Spanish version

[2019-11-13 19:09] natillasol opened #51 "Verification access"
**Is your feature request related to a problem? Please describe.**

When you click in any of the last actions (see red circle in screenshot) it takes you to a page that says:  "verification.title .   Cannot return null for non-nullable field"

This happens because I have not been assigned the role of verifier.

**Describe the solution you'd like**
So I think that instead of : "verification.title .

[2019-11-13 19:14] natillasol opened #52 "track Units"
**Is your feature request related to a problem? Please describe.**
When creating an offer, you have the option of tracking units. This is not very clear to me at first hand, but since I know the project I can make an idea of it. However, we need something clearer.

**Describe the solution you'd like**

Maybe say: "Would you like to track how many units have been sold?"

OR

Have a clarification bo

[2019-11-13 19:20] natillasol opened #53 "Confirmation of purchase"
**Is your feature request related to a problem? Please describe.**
Currently, when you press buy, it instantly goes back to offers and the user is not sure of what happened... what the product purchased? How much was I charged? What is my balance now?

**Describe the solution you'd like**
A confirmation message that responds to the questions above.

**Describe alternatives you've considered**

Als

[2019-11-14 00:02] lucca65 commented on #53
@natillasol I feel that this should be addressed by the design team first. We haven't implemented the new designs for those screens too, so it might be that it is already implemented. Regardless I will close this issue for now and redirect this to them!

[2019-11-14 00:02] #53 closed

[2019-11-14 00:05] lucca65 commented on #52
@natillasol this is also something that should be addressed by the UX-UI team. I'll close it and forward it to them!

[2019-11-14 00:05] #52 closed

[2019-11-14 00:06] lucca65 commented on #51
hey this is a duplicate of #40

I'll close this and we can track it there

[2019-11-14 00:06] #51 closed

[2019-11-14 00:17] heltonlr commented on #52
@natillasol
We are considering your feedback on the new interfaces, thank you very much.
<img width="366" alt="Captura de Tela 2019-11-13 às 21 12 13" src="https://user-images.githubusercontent.com/39558132/68815708-eeb6c480-065a-11ea-8b27-1b8c2354bea8.png">

[2019-11-14 00:24] lucca65 commented on #47
Fixed! IPFS was down

[2019-11-14 00:24] #47 closed

[2019-11-14 00:37] lucca65 commented on #48
Fixed!

[2019-11-14 00:37] #48 closed

[2019-11-14 00:41] lucca65 commented on #50
It was already fixed, but not deployed. Now it is deployed

[2019-11-14 00:41] #50 closed

[2019-11-14 07:29] zacck commented on #49
@pancakem I challenge you to try this one out

[2019-11-14 08:05] zacck commented on #52
Hmm @lucca65  I feel as though we should icebox these issues rather than close them, that way once the xu/ui team is done with there part we can jump on these available issues

[2019-11-14 12:18] #39 closed

[2019-11-14 14:16] natillasol opened #56 "Handle blockchain erros on Claim page"
**Is your feature request related to a problem? Please describe.**

When I verify someone's action, the app just remains in the same page, there is no confirmation that the verification has been done.

**Describe the solution you'd like**
A confirmation that the verification has been done, and that after the app takes me to a page in which pending verifications are shown, or if there is no verific

[2019-11-14 14:19] natillasol opened #57 "When I approve a verification (claim) the reward of 100 BOR is not shown in my account"
**Describe the bug**
When I approve a verification (claim) the reward of 100 BOR is not shown in my account.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'borboins.cambiatus.io
2. Click on 'Activities for your analysis'
3. Click on "Approve"
4. Go back to Dashboard

**Expected behavior**
When you check the account (balance) you won't have the 100 BORs that you were meant to earn

**

[2019-11-14 14:38] natillasol opened #58 "After approving a claim, the same claim remains in dashboard to be approved."
**Describe the bug**
After approving a claim, the same claim remains in dashboard to be approved.

**To Reproduce**
Steps to reproduce the behavior:
Go to 'borboins.cambiatus.io
Click on 'Activities for your analysis'
Click on "Approve"
Go back to Dashboard

**Expected behavior**
Previously approved claims, remain in dashboard

**Screenshots**
<img width="1440" alt="Screen Shot 2019-11-14 at 08 33

[2019-11-14 14:51] natillasol opened #59 "Objectives are not being created"
**Describe the bug**
After creating an objective, this does not show in the community page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'borboins.cambiatus.io'
2. Click on 'communities'
3. Click on 'New Objective'
4. Write objective
5. Save
6. See error

**Expected behavior**
New objective is not created

**Screenshots**
<img width="1440" alt="Screen Shot 2019-11-14 at 08 44 25" src

[2019-11-14 14:56] natillasol opened #60 "Actions are not being created"
**Describe the bug**
After creating an action, this does not show in the community page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'borboins.cambiatus.io'
2. Click on 'communities'
3. Click on objetive
4. Click on create new action
4. Write action
5. Click on create
6. Click on objetive (in which you created action)
7. See error

**Expected behavior**
New action is not created

**

[2019-11-14 15:01] natillasol opened #61 "Invitations are not being sent"
**Describe the bug**

Tried sending an invitation, but it says that invitation failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'borboins.cambiatus.io'
2. Click on 'communities'
3. Click on Borboins community
4. insert email adrees
5. Click send invitations
6. See error

**Expected behavior**
"invitation failed" message

**Screenshots**
<img width="1440" alt="Screen Shot 2019-11

[2019-11-14 15:06] natillasol opened #62 "Transfers are not reflected in receiver's account"
**Describe the bug**

Tried sending BOR from the admin account to nataliaborbo and nataliasolan account. The balance in the admin account reflects the transfer, however, it the receiver does not get the BOR.

NOTE that when nataliasolan send BORs to admin, it DOES reflect the transfer, but it does not show in "recent transfers"

[2019-11-14 15:38] lucca65 commented on #52
Hey @zacck why we should track this as an issue if we don't even know yet how it is going to look like after the UX team handles it?

In any case we will have tasks to implement new design changes as they come. Thats the reason to not keep this issue opened since the solution might actually be very different (for instance a complete redesign). This will require us to do a lot of back tracking or s

[2019-11-14 15:41] natillasol commented on #52
@zacck @lucca65 @heltonlr  Should we have a separate "board" (not sure of the name) in Github for the features?

[2019-11-14 15:42] lucca65 commented on #52
@natillasol we do

https://github.com/orgs/cambiatus/projects/2

But the design team has its own task management

[2019-11-14 15:49] zacck commented on #52
@lucca65  hmmm seems reasonable ...

[2019-11-14 15:51] heltonlr commented on #52
I have a backlog column:

<img width="322" alt="Captura de Tela 2019-11-14 às 12 50 28" src="https://user-images.githubusercontent.com/39558132/68872811-662d3800-06dd-11ea-982c-08afd4c3bf62.png">

[2019-11-14 15:54] natillasol commented on #52
Excuse my ignorance, but is it possible to have everything in one app? in Github?

[2019-11-14 15:56] heltonlr commented on #52
Yes I think. But we would have to differentiate by tag (improvement / bug), I don't mind being all in Github.

[2019-11-14 15:59] natillasol opened #63 "When claim is done by user, it is not reflected in verifier's account"
**Describe the bug**

When claim is done by user, it is not reflected in verifier's account

[2019-11-14 16:00] natillasol commented on #52
I honestly find it easier, so we (users) don't have to jump between two different platforms

[2019-11-14 16:07] natillasol opened #64 "BOR new account did not get 5000 BOR"
**Describe the bug**
New borboin accounts are supposed to receive 5000 BOB when these are created. However, I created a new account leokeagsolan  and leosolankeag which did not receive it.

**To Reproduce**
Create new user

**Expected behavior**
balance will be on 0 BOR

**Screenshots**

<img width="1440" alt="Screen Shot 2019-11-14 at 10 02 57" src="https://user-images.githubusercontent.com/57719

[2019-11-14 16:08] heltonlr commented on #52
Cool, so we can create an **"Improvement"** tag in Git, if you agree @zacck and @lucca65

[2019-11-14 16:27] lucca65 commented on #52
@natillasol we use GitHub to track development tasks. Right now @heltonlr is using Asana for the UX team.

He would need to start using GitHub to track UX issues. Which is entirely possible, of course. That being said, I don't think it is productive to create tags in this repo that aren't related to the development tasks!

Think of it as different boards for different contexts. Lets try to use the

[2019-11-14 16:35] natillasol commented on #52
so, what should I don then?

[2019-11-14 17:24] natillasol opened #65 "After purchasing an item, the ad remains in the shop"
**Describe the bug**
After purchasing an item, the ad remains in the shop, even if there was only one unit left and that unit was bought.

[2019-11-14 17:24] lucca65 commented on #52
This is for sure something that should be handled by the design! So it is up to @heltonlr how he is going to track his tasks!

[2019-11-14 18:20] lucca65 commented on #56
The reason for that is that this pages don't handle failed push transaction. We should implement this workflow so the user gets feedbacks that something went wrong

[2019-11-14 18:24] lucca65 commented on #57
closing this as this is a duplicate of #58

[2019-11-14 18:24] #57 closed

[2019-11-14 18:24] lucca65 commented on #58
Fixed! This was happening because event-source was offline

[2019-11-14 18:24] #58 closed

[2019-11-14 18:25] lucca65 commented on #59
Event source was off in this env, fixed

[2019-11-14 18:25] #59 closed

[2019-11-14 18:25] lucca65 commented on #60
Fixed! This was happening because event-source was offline

[2019-11-14 18:25] #60 closed

[2019-11-14 18:26] lucca65 commented on #62
Fixed! This was happening because event-source was offline

[2019-11-14 18:26] #62 closed

[2019-11-14 18:28] lucca65 commented on #63
Fixed! This was happening because event-source was offline

[2019-11-14 18:28] #63 closed

[2019-11-14 18:32] lucca65 opened #66 "Allow edit of invited_reward and inviter_reward"
Right now on the Community Editor page we have a few fields that allow changing the name, description and logo of a community. We need to add two more fields to it. `invited_reward` and `inviter_reward`. Those fields are currently hard coded in the function that pushes the edit action to the blockchain. We just need to hook those input values into the ports call to edit the community

[2019-11-14 18:33] lucca65 commented on #64
This is actually another problem, the current community page don't have configurations for invitation reward. This means that everytime the community is edited it makes the reward 0 as it is de default value. Closed in favor of #66

[2019-11-14 18:33] lucca65 commented on #65
Fixed! This was happening because event-source was offline

[2019-11-14 18:33] #65 closed

[2019-11-14 20:33] #64 closed

[2019-11-15 15:09] natillasol opened #69 "PIN cannot be inserted"
**Describe the bug**
When creating an account, PIN cannot be inserted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'borboins.cambiatus.io
2. Click on 'Create account'
3. Scroll down to 'PIN'
4. Try and insert number and See error

**Expected behavior**
The cursor will be active in the first box of the PIN, but when you type a number, this will not show in the screen

**Screenshots**

[2019-11-15 15:11] natillasol opened #70 "Session automatically ends"
**Describe the bug**

Session automatically ends and user is required to login again. It happened several times for various users in different phones.

borboins.cambiatus.io

[2019-11-15 15:13] natillasol opened #71 "Language suddenly changes"
**Describe the bug**
For various users, the language changes out of the blue, mainly to CAT. They get really confused.

**Expected behavior**
Language changes suddenly

**Screenshots**

**Cambiatus Env you are using**
cambiatus.borboins.io

[2019-11-15 15:14] natillasol opened #72 "Verifications translation to ESP"
**Describe the bug**

In the verifications Pending and Approved, for the Spanish version it should read : "Pendiente" and "Aprobado"

[2019-11-15 15:20] natillasol opened #73 "Session finished automatically but it was still on in the background (odd behaviour)"
**Describe the bug**

An user was logged and doing a claim. When he was going to complete the claim, his session was finished automatically and requested to log in again. however if he tap the back button, his session was still on, but when trying to claim again, he will be requested to log in again (including PK).

**Expected behavior**
As explained

**Screenshots**

**Cambiatus Env you are using

[2019-11-15 15:21] natillasol opened #74 "PDF is not downloaded"
**Describe the bug**
An user could not download his PDF into his phone. Note that he has a previous version of the 12 words document from a previous meeting.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Cambiatus Env you are using**
borboins..cambiatus.io

**Smartphone (please complete the following information):**
 - Device: Huawei P30
 - OS:
 - Browser : Chrom

[2019-11-15 15:23] natillasol opened #75 "Session automatically finished whilst doing a transfer"
**Describe the bug**
Session automatically finished whilst doing a transfer

**Cambiatus Env you are using**
borboins.cambiatus.io

**Smartphone (please complete the following information):**
 - Device: Xiaomi A1N1
 - OS:
 - Browser Mozilla Firefox
 - Version 68.1.1

**Additional context**
Ranulfo's phone

[2019-11-15 15:27] natillasol opened #76 "Over imposed text"
**Describe the bug**
Over imposed text when searching for a user to do a transfer. [iphone]
Over imposed numbers in PIN [Dell Computer]

**Expected behavior**
over imposed text

**Screenshots**
![WhatsApp Image 2019-11-14 at 16 48 26](https://user-images.githubusercontent.com/57719975/68954540-d98c8380-0789-11ea-8a92-5fb25080b822.jpeg)

![WhatsApp Image 2019-11-14 at 17 00 02](https://user-images.

[2019-11-15 15:29] natillasol opened #77 "Claim buble not showing"
**Describe the bug**
When clicking to claim an action, the bubble in which you confirm your claim does not show.

**Expected behavior**
 the background of the page goes darker (in gray) but the bubble is not visible

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Cambiatus Env you are using**
borboins.cambiatus.io

**Desktop (please complete the following informati

[2019-11-15 17:23] #61 closed

[2019-11-16 11:58] #49 closed

[2019-11-18 15:45] natillasol opened #78 "Limit on the claims per day per user"
**Is your feature request related to a problem? Please describe.**
During the meeting with borboins we had an user that "hacked the system", he made loads of claims and that let us thinking if it was possible to limit the amount of claims that an user could do during a period of time.

**Describe the solution you'd like**
limit the number of claims, per action, per user during a specific period of

[2019-11-18 15:47] natillasol opened #79 "Verifiers cannot verify themselves"
**Is your feature request related to a problem? Please describe.**

During the meeting with Borboins the users asked if it was possible to avoid verifiers verifying themselves, in order to avoid inadequate use of the tool .

**Describe the solution you'd like**
Not allow verifiers to verify themselves

**Describe alternatives you've considered**

**Additional context**
Add any other context or scr

[2019-11-18 16:11] zacck commented on #66
@Pancakem  another one?

[2019-11-18 18:58] #46 closed

[2019-11-18 19:00] lucca65 commented on #74
@natillasol please give us more details, this is after creating an account? How come then it is that the user already as the PDF?

[2019-11-18 19:02] lucca65 commented on #70
closing as it lacks details.

@natillasol even though it happened with different people, we need a way to test and simulate this. This can have several reasons: low memory on budget phones, browser issues (maybe some different mobile browser?), etc.

We already have #75 and #73 for tracking that with more details.

[2019-11-18 19:02] #70 closed

[2019-11-18 19:03] lucca65 commented on #71
@natillasol thanks for the report.

To whoever will solve this: It might be that the language dropdown is with a incorrect z-index, causing misclicks

[2019-11-18 19:11] lucca65 commented on #79
Maybe we can include @muguika into this conversation. AFAIK the verifier is a trusted user in the community. We surely can add this feature, but I just want to make sure we **really** want this. Usually trust issues are more related to human to human interactions. Maybe a verifier that isn't honest shouldn't be a verifier at all.

Maybe we can have a screen that shows the "work" of verifiers to al

[2019-11-18 20:10] Pancakem commented on #66
@zacck I'll get on it.

[2019-11-18 21:00] natillasol commented on #74
We did a previous meeting with them in which he created a username and he downloaded a PDF.

[2019-11-18 21:02] lucca65 commented on #74
But if he already has the document I don't understand what it was the expected behaviour.

[2019-11-18 21:11] natillasol commented on #74
1. On October 31st, we had a meeting in which this user created an account and downloaded the PDF (dated 31/10/2019) in the app.cambiatus.io environment if not wrong.
2. During the meeting, the same person with the same phone  on November the 14th, using borboins.cambiatus.io created an account in which the PDF was not downloaded and only a blank page was retrieved (about page). When we checked th

[2019-11-19 00:09] muguika commented on #74
The user was able to download the PDF the first time we tested borboins.cambiatus.io  but not the second time.  During our second test, after creating his new account and clicking to download the PDF he got a blank page.

![IMG_20191114_163207](https://user-images.githubusercontent.com/25396167/69104597-74a58780-0a2e-11ea-98c1-03333070ecdc.jpg)

[2019-11-19 00:32] muguika commented on #79
I understand what they were asking for, more than an issue of trust it really doesn't make much sense to verify oneself... is like having users that can claim actions directly. I was thinking on the similar example of la COOP, in which August will be the only verifier of an action:  attending an event (that he hosts). If he is the host and only verifier, it seems about right that he won't claim th

[2019-11-19 04:33] zacck commented on #66
Let us know if you need any help @Pancakem

[2019-11-19 05:33] lucca65 commented on #79
@muguika, yeah i’m throwing ideas to see how the go.

The panel that shows some kind of report of the most active users and the activity verifiers should be enough to make those

[2019-11-19 12:03] heltonlr commented on #79
I suggest do not allow only one verifier, at least 2. Thus, if a verifier claims his own activity, the vote of the second verifier will be decisive. In such cases a single vote will be required.

We can group some ideas, choose the most interesting and take for evaluation in the pilots, what do you think?

[2019-11-19 13:01] zacck commented on #56
@lucca65  Where in particular is the failed transaction not catered for?

[2019-11-19 14:14] lucca65 commented on #56
it only logs failed transactions, there is no message like in the community page

[2019-11-19 14:43] zacck commented on #56
@lucca65  awesome thanks, I needed to know where cool will do the error handling  ...

[2019-11-20 15:39] #56 closed

[2019-11-20 15:42] #66 closed

[2019-11-21 18:18] lucca65 commented on #79
@natillasol @heltonlr I'll close this issue as a new consensus has been reached, and with that another task

[2019-11-21 18:18] #79 closed

[2019-11-22 16:26] lucca65 opened #83 "Balance shows as 0 when seeing an individual Sale"
When seeing an individual sale, the balance shows as 0.

[2019-11-24 08:34] Pancakem commented on #41
Hey @lucca65! I would like to have a go at this.

[2019-11-24 15:43] lucca65 commented on #41
this is a big one @pancakem!

let me know if you need any help! I’ll also link the design here

https://www.figma.com/file/X0ROabI93lbH0YsHDiwcFf/shop-mobile?node-id=0%3A1

https://www.figma.com/file/GyRvSEQNS91DOLgMIk3u77/shop-desk?node-id=0%3A1

[2019-11-24 16:47] Pancakem commented on #41
@lucca65 thanks! I think I can crack it and get a better feel of the code base in the process. Is this the screen? How should the URL look like? I am guessing `/community/<>/transfer/<>` .

![tr](https://user-images.githubusercontent.com/36479602/69497903-ea0fcd00-0ef2-11ea-8f34-0ad30b334541.JPG)

[2019-11-25 04:41] lucca65 commented on #41
looks good!

[2019-11-25 16:12] #72 closed

[2019-11-25 19:26] lucca65 opened #85 "Require at least two verifiers in the verifier list"
Make sure that if we have a list of verifiers active on the action, it is required of it to have at least two users.

[2019-11-25 20:14] lucca65 commented on #83
Closing this as it looks like it is not applicable anymore, balance shows just fine!

[2019-11-25 20:14] #83 closed

[2019-11-26 05:45] zacck commented on #76
@lucca65  do we really have a fix for the over imposed text in the pin, I think the issue is that the app considers double digit numerals to be numbers

[2019-11-26 05:46] zacck commented on #76
Hmmm perhaps I can limit the highest value to 9 let me try

[2019-11-26 07:31] zacck commented on #76
Hi @natillasol  @lucca65  I can not seem to replicate the pin issue on my end

[2019-11-26 07:33] zacck commented on #41
@Pancakem how's this going for you, remeber to shout if you have any issues

[2019-11-26 07:42] zacck opened #87 "Display a user friendlier message when Javascript is disabled"
**Is your feature request related to a problem? Please describe.**
I always ashamed of the user message I run into when my  browser has Javascript disabled and I am trying to access the website.
All one sees is a single line of text at the top right of the screen saying one needs to enable Javascript

**Describe the solution you'd like**
Since we are going to be catering for low powered device usa

[2019-11-26 07:42] zacck opened #90 "Display a user friendlier message when Javascript is disabled"
**Is your feature request related to a problem? Please describe.**
I always ashamed of the user message I run into when my  browser has Javascript disabled and I am trying to access the website.
All one sees is a single line of text at the top right of the screen saying one needs to enable Javascript

**Describe the solution you'd like**
Since we are going to be catering for low powered device usa

[2019-11-26 09:55] lucca65 commented on #76
it is device specific, our code really tries to mitigate this.

[2019-11-26 15:58] Pancakem commented on #41
@zacck I am going to start working on it tomorrow. If I get stuck, I'll make sure to shout.

[2019-11-27 17:17] lucca65 opened #306 "Allow usage of Spanish as a mnemonic for private key generation"
**Is your feature request related to a problem? Please describe.**
A large part of our user speak Spanish. Sometimes that have trouble with English words

**Describe the solution you'd like**
To use BIP39 implementation of mnemonics to support the user language. We have examples here: https://iancoleman.io/bip39/#spanish

**Describe alternatives you've considered**
As far as I know there is no alt

[2019-11-28 05:52] zacck commented on #77
@lucca65  this was fixed by @Pancakem's fix the other week closing this as it is a non issue for now

[2019-11-28 05:52] #77 closed

[2019-11-28 05:55] #76 closed

[2019-11-29 13:50] zacck commented on #75
Oh wow I experienced this while testing something else @natillasol  I thought I logged out

[2019-11-29 14:05] #69 closed

[2019-12-01 16:24] Pancakem commented on #41
@zacck are there any queries for a transfer?

[2019-12-01 16:47] lucca65 opened #108 "Got duplicate transaction due to lack of feedback during action claim"
**Describe the bug**
While trying to claim an action in a mobile network, I get an error

**To Reproduce**
Steps to reproduce the behaviour:
1. Turn on "slow network" setting in your browser
2. Try claiming an action
3. Don't wait, hit it again before the transaction is sent to the blockchain
4. See error

**Expected behaviour**
We need to disable the buttons until the transaction is back with suc

[2019-12-01 16:57] zacck commented on #41
@Pancakem  there aren't any you might have to add one or wait for me to add one for you tomorrow

[2019-12-01 18:22] lucca65 opened #107 "Ignore uppercase letters during account creation"
**Describe the bug**
Some people during the sign up process happen to use uppercase letters, this will make the account creation process fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app.cambiatus.io
2. Click on create account
3. use an account name with uppercase letters
4. See error

**Expected behavior**
Just ignore the uppercase letters, make it downcase before pushing to t

[2019-12-01 18:40] lucca65 opened #106 "Can't scroll on buy shop form"
**Describe the bug**
Some smaller sized devices can't scroll to the "buy" button while trying to buy a new product

**To Reproduce**
Steps to reproduce the behavior:
1. Have a small mobile device
2. Go to the shop in any community env
3. Try to buy something in the shop
4. Make sure you are using a sale with units
5. Try to scroll down to click on "Buy"
6. See the error

**Expected behavior**
We s

[2019-12-01 21:25] lucca65 opened #111 "iOS safari zoom causes miscrolls and misclicks"
**Describe the bug**
Menu scroll don't work if the screen is zoomed in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Dashboard
2. Zoom in a little with double pinch
3. try clicking in the menu items
4. clicks gets harder to do

**Expected behavior**
Clicks works as expected

**Smartphone (please complete the following information):**
 - Device: iPhone 8
 - OS:
 - Browser safari

[2019-12-01 21:27] lucca65 commented on #75
This happened several times during our tests, we should increase priority

[2019-12-02 05:50] zacck commented on #75
On it this week @lucca65  did you notice any likely causes?

[2019-12-02 13:30] lucca65 commented on #75
no nothing ):

[2019-12-02 16:07] zacck commented on #75
No worries have a few hours scheduled for it tomorrow ...

[2019-12-03 06:08] #71 closed

[2019-12-03 06:08] #73 closed

[2019-12-03 06:28] zacck commented on #74
Ok I have a fix that downloads he pdf in the same tab the user is in, hopefully this removes the confusion caused by the new tab

[2019-12-03 07:08] zacck commented on #41
@Pancakem I have a PR open https://github.com/cambiatus/backend/pull/20 to extend the schema to expose a single transfer, however this feature is already available in our staging environment at
https://api.bespiral.io/api/graphiql

This means that you can run
`yarn generate-graphql`
and it will generate the necessary codecs for you to pull a single transfer
please let me know if I can assist you f

[2019-12-03 12:14] #74 closed

[2019-12-03 13:29] zacck commented on #45
@lucca65  even with nginx reloading this persists for me :(

[2019-12-03 13:49] lucca65 commented on #45
I had these on muda after a reset on Nginx, we will need to work more on this

[2019-12-03 14:45] heltonlr commented on #41
Hey Team;

**Success transfer:**
https://www.figma.com/file/cVmLXESyfs6Vb5EdrcEh8U/profile-Desk?node-id=128%3A1594

**Success repeipt:**
https://www.figma.com/file/cVmLXESyfs6Vb5EdrcEh8U/profile-Desk?node-id=128%3A4925

[2019-12-04 07:31] lucca65 commented on #75
This is still happening, reopening...

[2019-12-04 14:33] Pancakem commented on #41
@zacck I am almost done with this issue. I need a valid `transfer_id` so that I can get the correct page (not a loading or error page) when styling.

[2019-12-04 14:38] zacck commented on #41
Hey @Pancakem  I see, awesome work so far you can get a valid transfer id by  running the following query in the `graphiql` endpoint at https://api.bespiral.io/api/graphiql

[code]

[2019-12-05 05:55] zacck opened #94 "Buy form is broken"
**Describe the bug**
The value input and label touches the quantity input and label please see the screen grab below

**To Reproduce**
Steps to reproduce the behavior:
1. Log into the app
2. Click on `Shop`
3. Scroll down to an item and click on it '.
4. Click on buy'
4. See value element and quantity element are touching

**Expected behavior**
The form should be displayed in a manner that is unde

[2019-12-05 05:56] zacck commented on #94
@heltonlr  I can't seem to find a shop interface for the buy page on figma would you mind sharing the link if it's available?

[2019-12-05 09:57] zacck commented on #94
Rest of the states
Success interface (transfer):
https://www.figma.com/file/GyRvSEQNS91DOLgMIk3u77/shop-desk?node-id=103%3A0
Success interface (receipt):
https://www.figma.com/file/GyRvSEQNS91DOLgMIk3u77/shop-desk?node-id=351%3A2447
and when an error occurs:
https://www.figma.com/file/GyRvSEQNS91DOLgMIk3u77/shop-desk?node-id=349%3A108

[2019-12-05 14:13] heltonlr opened #95 "User needs type "/dashboard" at URL to enter on the app"
**Describe the bug**
User needs write **"/dashboard"** at URL to enter (example: **muda.cambiatus.io/dashabord**).

**To Reproduce**
Steps to reproduce the behavior:
1. Open browser and type **muda.cambiatus.io**

**Expected behavior**
Should work even not typing /dashboard

**Screenshots**
--

**Cambiatus Env you are using**
Put the URL of the page you are trying to use

**Desktop (please complet

[2019-12-05 14:33] heltonlr opened #96 "Is Cutting the "12 words" at the pdf"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create account
2. Download the pdf with 12 words and private key
3. Open the document

**Expected behavior**
Do not cut the words

**Screenshots**
--

**Cambiatus Env you are using**
muda.cambiatus.io

**Desktop (please complete the following information):**
- OS: OSX
- Browser: Safari
- Version: --

**Smartphone (please co

[2019-12-05 14:45] heltonlr opened #97 "Input "Sale price" does not work when creating offer and accept letters"
**Describe the bug**
Input "Sale price" does not work when creating offer. User types a number (example: 20) and the input show "Number less than 0". And is accepting letters.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an offer
2. Type a number at "Sale price" input or type letters
3. Click "Create"

**Expected behavior**
- Do not show error when the number is bigger than 0 and d

[2019-12-05 14:51] heltonlr opened #98 ""Ask" button does not works"
**Describe the bug**
Ask button do not open the chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Click an offer
3. Click an "ASK" button

**Expected behavior**
- Open the chat when click at the button;

**Screenshots**
--

**Cambiatus Env you are using**
- muda.cambiatus.io

**Desktop (please complete the following information):**
 - All

**Smartphone (please complete the

[2019-12-05 15:03] heltonlr opened #99 "Logo too small on desktop and smartphone"
**Describe the bug**
Logo too small at desktop, users can not see.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to muda.cambiatus.io

**Expected behavior**
Logo visible to the user at desktop and a bit bigger at smartphone

**Screenshots**

![Screen Shot 2019-12-05 at 11 55 09](https://user-images.githubusercontent.com/39558132/70246889-3363e600-1757-11ea-97df-8274616f2548.png)

**Camb

[2019-12-05 15:13] heltonlr opened #100 "Forms should works with enter (keyboard)"
**Describe the bug**
Forms do not send the data when user click enter on the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any form
2. Enter the data
3. Click enter on the keyboard

**Expected behavior**
- When user click enter on the keyboard , send the data.

**Screenshots**
--

**Cambiatus Env you are using**
- muda.cambiatus.io

**Desktop (please complete the following

[2019-12-05 15:23] heltonlr opened #101 "Interfaces do not open on the top"
**Describe the bug**
Interfaces do not open at the top after user create your account (example: Dashboard).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard for the first time after create your account;

**Expected behavior**

- Interface should open on the top and show all content, as this image:

![Screenshot_2019-12-05-14-34-45-323_com android chrome](https://user-images.gi

[2019-12-05 16:10] lucca65 commented on #101
@heltonlr can you be more specific on the "should open on the top". What should open in the top? Are there print screens?

[2019-12-05 17:45] heltonlr commented on #101
Sure @lucca65, print addeded. Basically, the interface already loads in half of content as show this image

![Screenshot_2019-12-05-14-30-20-806_com android chrome](https://user-images.githubusercontent.com/39558132/70259841-cc9df700-176d-11ea-9bf6-f2a28facfc46.png)

[2019-12-06 12:53] lucca65 commented on #101
@heltonhr are you talking about the scroll position?

[2019-12-08 17:34] Pancakem commented on #41
Hey @zacck.  I added translations for the transfer screen but I can't get them to work.

[2019-12-08 17:44] zacck commented on #41
@Pancakem  how come what results are you getting?

[2019-12-08 18:06] zacck commented on #41
@Pancakem  plase open a PR and push so we can see what's not working for you

[2019-12-09 00:54] lucca65 commented on #96
@heltonlr why don't we solve this by implementing the new PDF?

[2019-12-09 00:58] lucca65 commented on #41
hey @Pancakem when reporting problems like this, can you be more specific?

examples:

- "I'm having trouble making the translations work. The text appears as "x""
- "I'm using this code snippet to load translations but they don't load properly" (and add a code snippet about it)

Since all the work we do is async having good communication and knowing how to ask for help is key!

[2019-12-09 05:36] zacck commented on #41
@lucca65  this is such good advice, reminds me we should compile a contributions guideline it will make it much easier to onboard ...

[2019-12-09 12:16] heltonlr commented on #96
Sure, no problem.

[2019-12-09 13:00] heltonlr opened #103 "Username on card Shop"
Muda users missed the name of the person selling a product in the Shop, just the photo was not enough.

So the improvement is to add the first username on the cards...

**MOBILE**
<img width="386" alt="Captura de Tela 2019-12-09 às 09 56 51" src="https://user-images.githubusercontent.com/39558132/70437393-4bdf4380-1a6a-11ea-96b1-7b6294152abc.png">

<img width="682" alt="Captura de Tela 2019-12-09

[2019-12-09 13:35] heltonlr opened #104 "Change select element to tab element in Shop"
To make it easy for the user to find your offers. Also removing the filter "Offers from my communities", leaving only "All offers" (from the community I'm accessing) and "My offers".

**DESK**
<img width="1357" alt="Captura de Tela 2019-12-09 às 10 26 10" src="https://user-images.githubusercontent.com/39558132/70439575-20ab2300-1a6f-11ea-9250-3ac283de136f.png">

**MOBILE**
<img width="702" alt="Ca

[2019-12-09 13:44] Pancakem commented on #41
The trouble am having with translations, for example, I use this `I18Next.t shared.translations "transfer.title" to load the translations ` but `transfer.title` appears.

[2019-12-09 13:50] zacck commented on #41
@Pancakem  looking at your PR I dont think the `transferscreen` object is a root object seems to be a child of `menu`

[2019-12-09 13:51] lucca65 commented on #41
Oh I see! Looking your pull request I see that you added these lines:

[code]

This means that in order to access the title you need to use:

[code]

[2019-12-09 13:53] zacck commented on #94
@nyoikejerry this one is a good one to start with ... let me know if I can help

[2019-12-09 13:53] Pancakem commented on #41
Yeah. I have changed the `transferscreen` object to `transfer`. It doesn't work.

[2019-12-09 13:56] zacck commented on #41
@Pancakem  we  can session this out on vscode later today or early tomorrow I am positive it's some small misstep

[2019-12-09 13:56] Pancakem commented on #41
@zacck yes we can.

[2019-12-09 13:57] zacck commented on #41
@Pancakem  tomorrow morning, say 9am your time?

[2019-12-09 14:02] Pancakem commented on #41
@zacck yeah 9am is fine.

[2019-12-09 16:59] lucca65 commented on #96
Ok, after it is done on the Design UX/UI board we open a new issue to solve this

[2019-12-09 16:59] #96 closed

[2019-12-09 17:18] heltonlr opened #105 "Create new main menu"
Create the new main menu that should work with the following rules:

- Must not appear in content add form interfaces (example: register offer, create community, etc.).

- When performed scrolldown the menu should exit to the right getting off screen;

- When the user scrolls or stays with the navigation stopped the menu should appear, appearing from right to left;

- The menu must always be above

[2019-12-09 17:47] lucca65 commented on #94
Sorry guys it is already solved, I missed closing this issue on the PR that closes it

[2019-12-09 17:47] #94 closed

[2019-12-09 17:48] lucca65 commented on #94
<img width="1309" alt="Screen Shot 2019-12-09 at 14 48 06" src="https://user-images.githubusercontent.com/1082127/70459431-ec495e00-1a92-11ea-8f07-11d5b1f51e13.png">

[2019-12-09 17:49] Pancakem commented on #41
@zacck Hey the translation errors were from a typo that I ended up pasting through the translations. @lucca65 spotted one and I have been able to make them work.

[2019-12-10 05:38] zacck commented on #41
@Pancakem  awesome to hear let's keep going

[2019-12-10 05:43] zacck commented on #104
@JerryNyoike let's go for this one

[2019-12-10 06:10] zacck commented on #101
Ahhh so the focus is on the wrong part of the page when the application first loads

[2019-12-10 06:17] zacck commented on #90
We need to implement this screen but without the personalization basically with the logo on the top left and the error message
https://www.figma.com/file/9BX6vISFLh3Ns0HtVx2XJX/Special-pages?node-id=22%3A1059

[2019-12-10 07:20] zacck commented on #75
@lucca65  so I can't even replicate this issue, would you reckon this would be easier to solve if we built fuzz tests for the Auth module?

[2019-12-10 14:20] lucca65 commented on #90
but we cannot build the menu without javascript, since it is generated using several elm stuff.

[2019-12-10 14:22] zacck commented on #90
@lucca65  agreed @heltonlr  already said he would adjust that, I am sure he has already we just dont have the link

[2019-12-10 14:22] lucca65 commented on #95
duplicate of #45

[2019-12-10 14:22] #95 closed

[2019-12-11 14:09] lucca65 opened #110 "Remove the "Ask" button"
After the MUDA pilot tests we realised that we should remove the chat feature for now as mentioned in the [IP 19](https://github.com/cambiatus/improvement-proposals/issues/19)

This button is inside a Shop sale, for example: https://app.cambiatus.io/shop/17

Just remove the button, pretty straightforward

[2019-12-13 14:07] zacck commented on #104
@JerryNyoike please do let us know how this is going and if you need any help  ...

[2019-12-13 14:10] zacck commented on #41
@Pancakem so please let us know how this is going and if you need any help

[2019-12-13 14:50] Pancakem commented on #41
I think what remains is making this responsive
![image](https://user-images.githubusercontent.com/36479602/70808547-f0e27f00-1dd0-11ea-8f1f-99db576861dd.png)

[2019-12-13 15:10] Pancakem commented on #41
@zacck I may need help doing this

[2019-12-14 07:15] zacck commented on #41
@Pancakem  how can we help you with this?

[2019-12-15 13:17] JerryNyoike commented on #104
I replaced the select element with buttons and I am currently trying to make the buttons produce messages. The code compiles but when the buttons are clicked the filters are not produced. I can't seem to find where I am going wrong

[2019-12-15 21:43] lucca65 commented on #104
@JerryNyoike Please open a PR, so we can look at the code!

[2019-12-16 10:25] namoscagnm commented on #110
Hi, I will try to work on this issue on my free time.
Just to be sure I dont mislead you with wrong expectations, I am:
-Elm newbie
- Have a regular work and child
So it might take me some time to be productive.
Otherwise, I would like to be assigned to this. Thanks!

[2019-12-16 11:56] zacck commented on #110
@namoscagnm  we appreciate your time and the help 🙏

[2019-12-16 13:19] zacck opened #114 "Confusing number of notifications for a single sale"
**Is your feature request related to a problem? Please describe.**
I am always a little confused when I see two notifications for one sale, One gets a notification for the transfer and a notification for buying items please see the screen grab below, You can see that I have a notification for transferring some money to Lucca and I have another one for buying a conch from Lucca, thing is they are f

[2019-12-16 14:42] lucca65 commented on #114
Zacck this is true, there is a reason why we don’t group those, it has to do on how saletransfer work.

I think this is a good issue for you to tackle because it involves smart contract and the event source, which maybe are the parts of the project your are the least familiar with!

What do you think? this may be a good issue to tackle before the recess

[2019-12-16 14:45] zacck commented on #114
@lucca65  I can look at it but I am not sure I can finish it before recess,  I would say I have done the least work with them but I would love to think I am super familiar with their workings

[2019-12-16 14:46] lucca65 commented on #114
I don’t think it is urgent no problem if it takes long

[2019-12-16 14:47] zacck commented on #114
Ok grabbing this one

[2019-12-17 09:02] #110 closed

[2019-12-17 18:02] namoscagnm commented on #103
Hi, can you assign this to me so I can have a try? It looks an interesting problem :)

[2019-12-17 20:55] namoscagnm commented on #103
Hi, actually we can already see the user name when we click buy. Do you mean you want to see it before buy, right? There are two places where this could happen: While listing all products, or after clicking one in the list, but before clicking buy. Where do you need it to be? Both? Thanks

[2019-12-17 22:09] namoscagnm commented on #103
Hi, I see the user account alias (shortname) is being shown, so I tried to see how it works.

It starts (backwards) on Viewer.elm, line 662, that the user account is being loaded with:
accountName, which comes from card.sale.creatorId, line 615. I see fro Sale.elm, page 615, that creatorId is creatorId : Eos.Name, which comes from Eos.Account in file Account.elm, line 32.

I somehow got the impres

[2019-12-18 01:15] lucca65 commented on #103
Done @namoscagnm you are assigned.

Maybe you'll have to modify the Shop query to include more information about the user. You can do that on graphql first and then on elm. You can test and explore our api here: https://api.cambiatus.io/api/graphiql

an sample query that includes more information about the user:

[code]

[2019-12-18 05:48] zacck commented on #103
@namoscagnm you can always use the small blue box on the right lower side of the screen to view the model you are operating on and what pieces of data you need to add let me know if I can assist more with this ...

[2019-12-18 22:36] namoscagnm commented on #103
Can you correct me if I'm on the wrong track with those two items:

- I guess I have to change line 36 on Shop.elm to creator: {name: Name, avatar: Avatar}, and salesSelection near line 115 to do the equivalent change?

- I dont think I have to change Sale.elm under BeSpiral.Object because its autogenerate with all the possible data

[2019-12-19 00:55] flaviagoma opened #115 ""Reinvidicar" button is not available for the new actions"
**Describe the bug**
At the community section, under the item "Incentivar hábitos que mudam o mundo" the buttons that allow us to claim the coins for those offers is not displayed. Therefore the action cannot be claimed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
2. Click on explore
3. Scroll down and click to on "Incentivar hábitos que mudam o mundo"
4. See error

**Exp

[2019-12-19 05:22] zacck commented on #115
@flaviagoma  this is because this action is automatic, i.e does not allow one to claim, however it still needs to have someone do the awarding, which @lucca65  and I are still figuring out how to provide a UI for

[2019-12-19 05:30] lucca65 commented on #115
@zacck actually, automatic is an action that is done by a bot or similar software. so there will probably not have an UI to do this.

@heltonr maybe the interface can have a different section or way to show automatic actions?

I’ll close this issue for now as this is the expected behavior.

please feel free to continue the discussion, if we have a use case where this is necessary we can reopen it!

[2019-12-19 05:30] #115 closed

[2019-12-19 05:34] lucca65 commented on #103
no need to do nothing with the files under Bespiral/

[2019-12-19 05:39] zacck commented on #103
@namoscagnm Actually you may be a little lost, don't worry though it is a huge app with quite a bit of code so misdirection can easily occur. However see below on how you can achieve this
1. The information you need is already fetched so good news you don't need to touch the shop module at all.
2. You will need to adjust this area of code https://github.com/cambiatus/frontend/blob/5580193af833ecc3

[2019-12-19 07:32] namoscagnm commented on #103
Yes, there is alreadz the creatorId, but @heltonlr  asked for the username on his request. The creatorId is alredy shown anyway when you click buy, so I the request of this issue seems redundant.

[2019-12-19 07:37] flaviagoma commented on #115
Ok, so summing up you guys are still figuring out how the person will get rewarded for an action that needs no external validation, right?
So, at this initial phase our idea was to build these actions based on trust, the user will have total control over it. So I imagine that we will need a button somewhere so they can say they did the action and then get the reward, correct?

[2019-12-19 07:46] zacck commented on #115
@flaviagoma I was wrong, there is a system that awards automatic actions it's just not a human system.

If you are building trust based actions, then for all intents and purposes we can say that the system will take care of doing those rewards. In other words there won't be a button  the `system` will do the rewarding. I hope this clears things up

[2019-12-19 07:52] zacck commented on #103
Ah I see @namoscagnm so one thing you have to be aware of, the username isn't mandatory on this system so the user may or may not have a username perhaps you want to consider  the strategy employed in this part
https://github.com/cambiatus/frontend/blob/5580193af833ecc3e30dc5041d53d2446f0b9f8d/src/elm/Page/Dashboard/Community.elm#L439

basically you show a combination of the the username and the c

[2019-12-19 08:18] flaviagoma commented on #115
Sorry @zacck but now I am even more intrigued 😬😅. There will be no button at all? How will the system know if the user wants to claim that action if there is not a button? How will it know who to reward? 🤔    It's probably a silly question. Anyway, I will let you guys do your thing and I can catch up if the implementation once it's settled.

[2019-12-19 15:33] lucca65 commented on #115
@flaviagoma actually this type of questions are perfect. This is because with this information you folks at MUDA will be able to know what you can do with the system. We have some level of documentation for our code, but not for our platform yet. Those discussions can be referenced in the future until we build a guide or something.

I'll give you an example from Fundes, which is the most mature co

[2019-12-19 15:40] lucca65 commented on #103
Just a clarification folks. In the system we use EOS, that require an account. Accounts are always 12 character long strings. Besides that our users also have a Name, with a max length of 256 characters.

What we need to do is start to display on the listing of sales and in the individual sale the name of the user. We will have scenarios where the name will be `""` or `NULL` but never a scenario w

[2019-12-19 17:20] flaviagoma commented on #115
Hi @lucca65 great to know! So in this case I belive our actions should not be automatic, because there is no system input from the user to trigger the reward. Maybe we should move back to manual validation or are there other possibilities?

[2019-12-19 17:22] lucca65 commented on #115
Yeah I think so as well. If you require human interaction during the validation of an action, manual is the way to go!

[2019-12-19 17:35] flaviagoma commented on #115
@lucca65 actually we were trying to avoid this human validation. Is there a way to have the normal claim button and the system automatically approves it??g

[2019-12-19 17:38] lucca65 commented on #115
Yeah, you’ll have to develop a software that validate those stuff, we can provide assistance and examples to the developer if needed

[2019-12-22 04:36] #104 closed

[2019-12-23 16:06] namoscagnm opened #117 "Remove unused functions"
Plugin elmtooling.elm-ls-vscode is reporting many unused functions in the codebase. They have to be removed

[2019-12-26 19:01] flaviagoma opened #120 "Unable to approve a pending action"
**Describe the bug**
I've being unable to approve a pending action under the section "Activities for your analysis". First an error message showed up, saying I should try again later. Then, some days later I tried and after inserting the pin, the Enter button changed collor but nothing happened afterwards. Today, the error message was displayed again.

**To Reproduce**
Steps to reproduce the behav

[2020-01-01 13:35] #117 closed

[2020-01-07 20:25] #41 closed

[2020-01-08 18:39] flaviagoma commented on #120
@lucca65 this is the bug I was talking about, have you seen this??

[2020-01-09 18:01] JerryNyoike commented on #105
Can I take on this one?

[2020-01-09 18:24] lucca65 commented on #105
sure! @JerryNyoike

[2020-01-09 18:38] zacck commented on #105
@JerryNyoike  be sure to let us know if you need a hand

[2020-01-10 07:10] JerryNyoike commented on #105
Okay @lucca65 @zacck  I will let you know when I need a hand

[2020-01-17 14:32] lucca65 opened #125 "Show closed actions when the 'is_completed' flag is true"
**Is your feature request related to a problem? Please describe.**
Sometimes completed actions (that is actions with the `is_completed` flag set as true) don't show as closed in the frontend

**Describe the solution you'd like**
Display it as closed and don't enable the claim button

[2020-01-18 08:49] Pancakem commented on #100
Hey @zacck. Can I have a go at this one?

[2020-01-18 16:14] zacck commented on #100
@Pancakem  lets go!

[2020-01-22 13:08] lucca65 opened #127 "Create sharable invite links"
**Is your feature request related to a problem? Please describe.**
Users have been requesting for a while now a way to invite people to their community. Although we do have a way of doing that it requires you to fill in an email. Maybe it is best for us to create just a sharable link that allow users to register. It will be easier to share via WhatsApp and other messengers apps, and it can still w

[2020-01-22 14:16] lucca65 commented on #127
@zacck this need to go first to the backend, as we need to change how invitations work there

[2020-01-22 14:23] zacck commented on #127
@lucca65  sure thing then

[2020-01-22 18:01] lucca65 commented on #103
closed by #121

[2020-01-22 18:01] #103 closed

[2020-01-22 18:02] lucca65 commented on #90
@heltonlr any news on this one?

[2020-01-22 18:04] lucca65 commented on #99
@heltonlr you need to provide us with a desktop version with the following dimensions: 505x52

that is the dimension of the original Cambiatus logo and the partners logo should follow the same pattern or else it will be impossible to do a rule to fit all logo sizes in a restricted space

[2020-01-22 18:05] lucca65 commented on #100
@Pancakem here is the screens where we have a form:

- Login
- Register
- Transfer (from the dashboard)
- Profile
- Shop (create/edit sale)
- Create community
- Create action
- Create objective

[2020-01-22 18:07] lucca65 commented on #120
this happened due to event-source being out of sync. Already solved!

[2020-01-22 18:07] #120 closed

[2020-01-22 18:27] heltonlr commented on #90
Yes, I had sent this interface to @zacck:
https://www.figma.com/file/9BX6vISFLh3Ns0HtVx2XJX/Special-pages?node-id=22%3A1059

It looks like it would just be removing the header and footer, correct?

[2020-01-22 18:29] lucca65 commented on #90
yeah looks good! This one is pretty easy to do as well I add a tag! Thanks @heltonlr

[2020-01-22 18:39] zacck commented on #90
@lucca65 @heltonr I actually ran into a similar page but this one had
instructions on how to enable Javascript I think we should telly consider
doing the same on ours

On Wednesday, January 22, 2020, Julien Lucca <notifications@github.com>
wrote:

--

--
Zacck Osiemo
Software Developer
GitHub: https://github.com/zacck
Skype: zacck.os
Tel: +27724341105

[2020-01-22 18:42] heltonlr commented on #90
Hey @zacck , great. If this is possible send me this instructions

[2020-01-22 18:51] zacck commented on #90
@heltonr see this page when you have JS disabled on Gmail

Of course ours could be a bit more styled and also maybe even account for
language...  We may need to write a short set of clear instructions in each
language we support.. Maybe a grid with each square having a language we
support

On Wednesday, January 22, 2020, Helton Ramos <notifications@github.com>
wrote:

--

--
Zacck Osiemo
Software

[2020-01-22 19:00] heltonlr commented on #99
@lucca65, please try this one. It is exactly 52px height. let me know if it worked.

<img width="133" alt="LogoMudaDesk" src="https://user-images.githubusercontent.com/39558132/72924810-590d7480-3d30-11ea-91bb-6a1a099bcdff.png">

[2020-01-22 19:02] lucca65 commented on #99
@heltonlr we need the logo to be svg can you export in that format for us?

[2020-01-22 19:05] heltonlr commented on #99
Sure, I will send at Slack.

[2020-01-22 19:17] heltonlr commented on #90
Awesome @zacck, I will check this

[2020-01-22 19:23] heltonlr commented on #90
Can we use the automatic translation, right?
https://www.figma.com/file/9BX6vISFLh3Ns0HtVx2XJX/Special-pages?node-id=22%3A1059

[2020-01-22 19:23] lucca65 commented on #90
not without javascript! 🤷🏻‍♂️

[2020-01-22 19:26] heltonlr commented on #90
How Google do? They show in portuguese

[2020-01-22 19:30] lucca65 commented on #90
Google uses a Backend to provide specific information to the client.

that is: browser do a request to their servers, they process a new page to deliver to the user, during this processing they can do several stuff like changing the language.

Our frontend don’t work like gmail because it is a static website, we program the page and it’s compiled to a Html, a Css and a javascript file. Browser req

[2020-01-22 19:33] heltonlr commented on #90
Then, I suggest to show in english

[2020-01-22 19:34] lucca65 commented on #90
as zacck suggested we can have sections with all the languages, this will make sure it is accessible

[2020-01-22 19:37] heltonlr commented on #90
I will check, maybe with less text...

[2020-01-22 20:10] lucca65 commented on #99
deployed on muda.cambiatus.io

[2020-01-23 13:21] heltonlr commented on #90
Done team;

https://www.figma.com/file/9BX6vISFLh3Ns0HtVx2XJX/Special-pages?node-id=22%3A1059

@lucca65 and @zacck

[2020-01-23 13:36] heltonlr opened #128 "Like and Dislike button doesn't function"
**Describe the bug**
When user clicks on Like or Dislike button, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Shop
2. Click on Like or Dislike button
3. See error

**Expected behavior**
When click, the counter must show the number of users that liked or disliked according click.

**Screenshots**

<img width="509" alt="Captura de Tela 2020-01-23 às 10 32 52" src="ht

[2020-01-23 14:18] heltonlr opened #129 "Update the Error/Success element"
**Is your feature request related to a problem? Please describe.**
We already have the new success/error element for interfaces,we must update. The current interfaces are with the old element.

**Describe the solution you'd like**
When this element appears, we see that it is the old (image)

<img width="1995" alt="Captura de Tela 2020-01-22 às 11 43 12" src="https://user-images.githubusercontent.c

[2020-01-23 14:23] heltonlr opened #130 "Some product images do not open on product list and details"
**Describe the bug**
Some product images do not open on product list and details.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Shop
2. Click on product details or on the list
3. See error

**Expected behavior**
The product images should appear

**Screenshots**

details
<img width="2048" alt="Captura de Tela 2020-01-23 às 11 19 26" src="https://user-images.githubusercontent.com/3955

[2020-01-23 14:30] heltonlr opened #131 "Some buttons do not grow along with the text size"
**Describe the bug**
Some buttons do not grow along with the text size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Click on My Offers tab
3. Click on Your offer
4. See error

**Expected behavior**
Buttons size must grow along with the text size. The button must have a padding of at least 16px from the right and left

**Screenshots**
<img width="159" alt="Captura de Tela 202

[2020-01-23 14:34] heltonlr opened #132 "Confirmation modal before delete some product"
**Is your feature request related to a problem? Please describe.**
Users can accidentally delete a product

**Describe the solution you'd like**
Show the confirmation modal before delete

**Additional context**
Figma url(an example):
https://www.figma.com/file/cVmLXESyfs6Vb5EdrcEh8U/Profile?node-id=439%3A2803

[2020-01-23 15:19] zacck commented on #90
Hey @heltonlr  this is awesome, I think this works just fine we can always keep adding languages to the list

[2020-01-23 15:23] zacck commented on #130
Seems like all products don' have images here, this seems to me like the ipfs server died will check

[2020-01-23 18:15] heltonlr opened #133 "Modal do not opens on right place in the interface (desktop version)"
**Describe the bug**
Modal do not opens on right place in the interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Community
2. Claim an action
3. See the error

**Expected behavior**
modal must opens on the top and centralized.

**Screenshots**

<img width="2008" alt="Captura de Tela 2020-01-22 às 10 32 35" src="https://user-images.githubusercontent.com/39558132/73011259-a783478

[2020-01-23 18:25] heltonlr opened #134 "Update input error (form)"
**Is your feature request related to a problem? Please describe.**
We have the new default for errors on inputs and we need update. The default error feedback is shown below the input, not above.

**Describe the solution you'd like**
Update the element

**Describe alternatives you've considered**
Update the element

**Additional context**

Example on the site (wrong):
<img width="1253" alt="Captur

[2020-01-23 18:47] heltonlr commented on #99
Hey @lucca65 and @zacck, this is the exact size of the logo and on the header it appears smaller ...

SVG
<img width="133" alt="LogoMudaDesk" src="https://user-images.githubusercontent.com/39558132/73012593-6a6c8480-3df5-11ea-89a0-3ee41ef145f5.png">

On header
<img width="114" alt="Captura de Tela 2020-01-23 às 15 46 29" src="https://user-images.githubusercontent.com/39558132/73013718-9852c880-3df

[2020-01-23 19:10] heltonlr opened #135 "The layout should not expand to the end on larger screens, the limit is 1280px."
**Describe the bug**
The layout should not expand to the end on larger screens, the limit is 1280px. If we let it expand too much, the following cases (image) will occur where the content is far from other content, making it difficult to read and usability.

Shop example:
<img width="1976" alt="Captura de Tela 2020-01-22 às 10 15 13" src="https://user-images.githubusercontent.com/39558132/73014699

[2020-01-24 16:27] zacck commented on #135
Consider setting a max size, for the `only-container` class

[2020-01-25 16:09] lucca65 commented on #99
@heltonlr this was made to make sure our logo looks right. Maybe the best course of action is to first take a look at the size of our logo, make sure it’s correct and then send us both muda’s and our logo in the same size and change on both

otherwise we’ll do a fix for muda that will mess up our logo and vice versa

[2020-01-28 12:11] heltonlr commented on #99
I will ckeck @lucca65

[2020-01-28 12:42] heltonlr opened #136 "Wrong inputs margin (mobile) and wrong inputs width"
**Describe the bug**
The correct inputs margin is 40px, as show the image below (mobile) ans inputs should be 100%

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Shop~
2. Click on Create an offer'
3. See error

**Expected behavior**
Correct margin: 40px
Correct width: 100% (respecting the margin)

**Screenshots**
![bug_form](https://user-images.githubusercontent.com/39558132/73264828

[2020-01-28 12:45] heltonlr commented on #101
Also occurring in the PDF interface, Loads exactly that way:
![Screenshot_2020-01-28-08-48-03-155_com android chrome](https://user-images.githubusercontent.com/39558132/73264980-c008ae80-41b2-11ea-8747-dfc72b2c0484.jpg)

[2020-01-28 12:56] heltonlr opened #137 "Input price shouldn't accept letters, only numbers"
**Describe the bug**
Input price is accepting letters

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Click on 'Create an offer
3. Go to Price input
4. Type letters
5. See the error

**Expected behavior**
Only accept numbers

**Screenshots**
![inputNumber](https://user-images.githubusercontent.com/39558132/73265747-4e316480-41b4-11ea-86b3-f9ab83f16ce2.png)

**Cambiatus Env you

[2020-01-28 12:58] heltonlr commented on #131
Occurring to on mobile:

![Screenshot_2020-01-28-08-51-03-143_com android chrome](https://user-images.githubusercontent.com/39558132/73265935-aa948400-41b4-11ea-9231-f0fb9f7e72aa.jpg)

[2020-01-28 15:11] natillasol opened #138 "Change text in Spanish in shop"
**Describe the bug**
 It currently says:  " Aquí puede usar sus monedas para comprar productos y servicios, o ganar monedas vendiendo sus productos y servicios"

It should be:   "Aquí puedes usar tus monedas para comprar productos y servicios, o ganar monedas vendiendo tus productos y servicios"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.cambiatus.io/shop?filter=all

*

[2020-01-28 15:14] natillasol opened #139 "Change text In SHOP, Offers"
**Describe the bug**

It reads: "Su saldo actual es:"

It should be: "Tu saldo actual es:"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://app.cambiatus.io/shop?filter=all

**Screenshots**
<img width="349" alt="Screen Shot 2020-01-28 at 09 12 09" src="https://user-images.githubusercontent.com/57719975/73276560-833ab880-41ae-11ea-8f7b-eccf39fd9516.png">

[2020-01-28 15:18] natillasol opened #140 "Change text in Communities - MEMBERS"
**Describe the bug**

When there is only 1 member in a community, it should read "1 member" (or "1 miembro" in ESP, and "1 membro" in POR)  instead of reading "1 members" (in plural).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://app.cambiatus.io/community

**Screenshots**
<img width="317" alt="Screen Shot 2020-01-28 at 09 15 56" src="https://user-images.githubusercontent.c

[2020-01-28 15:20] natillasol opened #141 "Change Text in PROFILE"
**Describe the bug**

Change "Localization" to "Location"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://app.cambiatus.io/profile

**Screenshots**
<img width="270" alt="Screen Shot 2020-01-28 at 09 19 38" src="https://user-images.githubusercontent.com/57719975/73277247-7c607580-41af-11ea-9908-f2d6a10af3a1.png">

[2020-01-28 17:30] zacck commented on #101
@heltonlr  noted

[2020-01-28 17:44] lucca65 commented on #136
I love this kind of report @heltonlr! Thanks a lot! this is the type of thing that will help us improve faster!

[2020-01-28 17:45] lucca65 commented on #131
@heltonlr can you send us an example of how the text size should be on the mobile and desktop?

[2020-01-28 17:47] lucca65 commented on #137
uuuhhh this will be troublesome, we tried to do that on the PIN form and kept having all sorts of troubles on Android (since there is so much difference in what numbers are in each device)

I recommend we show an error before submitting the form instead of just ignoring non number inputs

[2020-01-28 18:48] heltonlr commented on #101
@zacck, is exactly what is happen.

[2020-01-28 18:50] heltonlr commented on #136
I will try register always with a visual example

[2020-01-28 19:01] heltonlr commented on #131
Sure @lucca65, the text size is correct, but the padding is necessary:

![ButtonsBug](https://user-images.githubusercontent.com/39558132/73295898-51921380-41e7-11ea-95c0-75fb0ed4fdc7.png)

[2020-01-28 19:25] heltonlr commented on #137
This solution already improves

![Screen Shot 2020-01-28 at 4 23 25 PM](https://user-images.githubusercontent.com/39558132/73297586-95d2e300-41ea-11ea-9ca6-9d53d7adb1b0.png)

Can we show the error before the click on the button? Immediately when the user types a letter or symbol?

[2020-01-28 20:37] natillasol opened #142 "Make "Create community " button more conspicuous"
**Is your feature request related to a problem? Please describe.**

Currently the "Create community " button gets a bit lost the universe of communities that an account may have. Also, the color of the button is similar to that of the buttons of members and transactions.

**Describe the solution you'd like**
Include a drawing or illustration that clearly shows that the button is for creating a new

[2020-01-29 07:51] zacck commented on #136
Yes @heltonlr  this makes it so much easier

[2020-01-29 07:53] zacck commented on #142
Hmmm @natillasol  I see and understand the issue you are facing, however, I am unsure about a bigger and perhaps more colorful Icon is what we need.

@heltonlr  what do you think about a floating action button for this? maybe it will conflict with the new mobile menu style perhaps we can put it on the navbar in mobile?

[2020-01-29 07:56] zacck commented on #137
@heltonlr  the issue here is some numbers have letters in them such as

`1.8446744e+19` is actually  the value of `2 to the power of 64`  but perhaps we can find a way of validating this with every character

[2020-01-29 12:20] heltonlr commented on #142
@natillasol  is right, this is not the standard color of our buttons, and in the desktop version it shouldn't have 100% width.

Let's do this way (The default for these pages is the button on the right and smaller/ 40px height):

![Screen Shot 2020-01-29 at 9 17 13 AM](https://user-images.githubusercontent.com/39558132/73356046-33282880-4278-11ea-85ac-78dbbe91c0d4.png)

**Governance example**
http

[2020-01-29 12:24] zacck commented on #142
@heltonlr  was this in any of the designs? specifically for the `create community` button?

[2020-01-29 12:27] heltonlr commented on #142
Sorry @zacck , i don't understand your question.

[2020-01-29 16:40] natillasol opened #143 "When click "Create" in Communities Page, there is no response"
**Describe the bug**
When creating a community, and click "Create" in Communities Page (all info has been provided), there is no response or message explaining the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app.cambiatus.io/dashboard'
2. Click on 'communities'
3. Click on 'create communities'
4. Fill information
5. Click on 'create'
6. see error

**Expected behavior**
No r

[2020-01-29 16:44] natillasol commented on #143
same happens for Safari 13.0.3 in the same OS

[2020-01-30 17:03] lucca65 commented on #142
@zacck we have no designs ready for the "Explore" tab, as far as I know.

[2020-02-02 05:48] natillasol opened #144 "Referrals"
**Is your feature request related to a problem? Please describe.**

With one of the pilot projects (Coopeorganicos), one of the actions is getting people to join the platform and go to buy organic produce in the weekly farmers market. I remember in the past we had an invite option, which is no longer in the app.

**Describe the solution you'd like**

Have an option for inviting people to join Camb

[2020-02-02 20:58] lucca65 commented on #144
it does exists but the form to invite only appears for the account that created the community

[2020-02-03 16:28] natillasol commented on #144
So in that case, the feature request will be to allow all members of the community to send invitations.

[2020-02-03 18:54] lucca65 commented on #144
we have to see how this goes because if there is a reward for invited users someone can just keep inviting people to get those rewards.

I think we have to think this through carefully, we didn’t made it admin only for no reason

[2020-02-04 14:20] natillasol commented on #144
of course the system should not allow people to take advantage. Could it be possible for the admin to establish the maximum invites that any member can send?

[2020-02-04 15:00] lucca65 commented on #144
not in the current structure. There is rework of the invite feature that we have do to that will change how it works, instead of emails it will become just a shareable link

[2020-02-04 15:03] lucca65 commented on #144
So if you want to use the existing referral it does exists but it admin only! if you then want to allow anyone to invite it already have another issue.

https://github.com/cambiatus/backend/issues/26

I’ll close this issue as duplicate! please feel free to comment on that issue to get notifications on this feature advancement

[2020-02-04 15:04] #144 closed

[2020-02-06 14:46] heltonlr opened #147 "Give a correct feedback when user tries to analyze a claim and other user already had analyzed."
**Is your feature request related to a problem? Please describe.**
Currently the feedback is not clear

**Describe the solution you'd like**
Show a modal with the correct feedback, After user closes the modal, the Action card must be hide on the dashboard and your status must be change on the list.

**Describe alternatives you've considered**
Show in modal or in the interface (feedback default)

*

[2020-02-10 10:40] Pancakem commented on #100
Can I catch a single event with two different Msgs?

[2020-02-10 11:14] zacck commented on #100
You should be able to, could you explain the scenario you are expecting to
go through?

On Monday, February 10, 2020, Marvin Ouma <notifications@github.com> wrote:

--

--
Zacck Osiemo
Software Developer
GitHub: https://github.com/zacck
Skype: zacck.os
Tel: +27724341105

[2020-02-10 17:10] #125 closed

[2020-02-10 17:12] #108 closed

[2020-02-10 17:30] #133 closed

[2020-02-11 12:24] heltonlr commented on #133
Great

[2020-02-11 12:30] heltonlr opened #149 "Not possible to delete a product on Shop"
**Describe the bug**
Not possible to delete a product on Shop after click on DELETE button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Click on My Offers
3. Click on EDIT
4. Click on DELETE
5. See the bug

**Expected behavior**
Show the confirmation modal

**Screenshots**
![Screen Shot 2020-02-11 at 09 28 59](https://user-images.githubusercontent.com/39558132/74236879-0250

[2020-02-11 12:38] heltonlr opened #150 "New PDF layout"
**Is your feature request related to a problem? Please describe.**
The current PDF layout is weird and have some word cut off.

**Describe the solution you'd like**
Use the new PDF's interface.

**Describe alternatives you've considered**
1. Use the new PDF's interface.

**Additional context**
New PDF's interface on Figma:
https://www.figma.com/file/AUiVfZ8HbDQ4Qw22uP5OzU/pdf?node-id=0%3A1

[2020-02-12 13:51] heltonlr opened #151 "New sign In/create account interface and usability improvement"
With the new **sign In/create account** interface and **usability improvement** we will probably correct some difficulties that our pilots had when creating their accounts.

**All flows and interface rules on Figma**

_Create account:_
https://www.figma.com/file/vqHVOvugUksHKlhJvNfaFq/LoginCreateAccount-desk?node-id=1%3A259

_Sign In:_
https://www.figma.com/file/vqHVOvugUksHKlhJvNfaFq/LoginCreateA

[2020-02-12 18:39] heltonlr opened #152 "New Shop interface and usability improvement"
With these improvements we want to:

- Give clear feedbacks about each important action of users;
- Apply new interfaces for creating and editing offers, improving usability
- Apply the full payment flow, improving usability
- Apply the complete evaluation flow of an offer
- Apply the new product details interface with the possibility of publishing more photos and video, improving usability
- Crea

[2020-02-12 19:30] lucca65 commented on #140
@natillasol will close this one without a fix because we already have a new design on this screen that don't actually show member info, and the solution would take too much effort! Thanks for the report!

[2020-02-12 19:30] #140 closed

[2020-02-12 19:33] #138 closed

[2020-02-12 19:33] #139 closed

[2020-02-12 19:33] #141 closed

[2020-02-12 19:36] #143 closed

[2020-02-12 19:37] lucca65 commented on #143
Fixed! Thanks a lot for this @natillasol the solution was on the server, some variable got misconfigured by accident

[2020-02-12 19:39] #142 closed

[2020-02-12 20:22] #135 closed

[2020-02-13 01:31] lucca65 opened #156 "Cant update bio if it is too long"
**Describe the bug**
We get a 500 error when adding a bio with more than 255 characters

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Edit'
3. Fill a bio with more than 255 characters
4. See error

**Expected behavior**
Show an error related to the length, right now it is only "Something went wrong"

**Cambiatus Env you are using**
Happens on all envs

[2020-02-13 01:56] lucca65 commented on #156
also it resets the form. this is not desirable

[2020-02-13 12:12] heltonlr opened #157 "Wrong elements on the header"
**Describe the bug**
Wrong elements on the header:
- Background element
- Search input location
- Text font-size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard
2. See error

**Expected behavior**
The correct gray is #F8F8F8 and correct font-size is 10px

**Screenshots**

Wrong:
![Screen Shot 2020-02-12 at 20 19 44](https://user-images.githubusercontent.com/39558132/74386566

[2020-02-13 12:54] heltonlr opened #158 "Invite feature"
With this feature we going to help on pilot's business model and going to bring more people to the communities.

**Main project**
https://www.figma.com/file/uDj0g2TculdYI8nfAI7avz/Invite?node-id=0%3A1

**Invite flow**
https://www.figma.com/file/uDj0g2TculdYI8nfAI7avz/Invite?node-id=1%3A703

**User with an account**
https://www.figma.com/file/uDj0g2TculdYI8nfAI7avz/Invite?node-id=1%3A1256

**User w

[2020-02-16 20:10] #75 closed

[2020-02-17 13:16] heltonlr opened #161 "Correct text on the create new goal button"
**Describe the bug**
The text on button is wrong. The correct is **"Create new objective"**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Community
2. Click on 'Explore'
3. Click on 'Edit'
4. See error

**Expected behavior**
The correct is text is **"Create new objective"**

**Screenshots**
![Screen Shot 2020-02-17 at 10 11 27](https://user-images.githubusercontent.com/39558132/74657

[2020-02-17 13:33] heltonlr opened #162 "Mobile layout (small screens) used on desktop (large screens)"
**Describe the bug**
Mobile layout (small screens) used on desktop (large screens).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Wrong:
![error01](https://user-images.githubusercontent.com/39558132/74658150-6cb1cc80-5170-11ea-92d0-b3307253d9c7.png)

Correct :
![Screen Shot 2020-02-17 at 10 29 23](

[2020-02-17 13:46] heltonlr opened #163 "No success screen after user create objective and the new objective only appears after page reload by user"
**Describe the bug**
No success screen after user create objective and the new objective only appears after page reload by user

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Explore'
2. Click on 'Edit"
2. Click on 'Create objective'
4. Send the form
5. See the bug.

**Expected behavior**
After user create an objective, show the success feedback on top:
https://www.figma.com/file/

[2020-02-17 13:53] heltonlr opened #164 "Wrong "mark as complete" button"
**Describe the bug**
Wrong "mark as complete" button. The text inside button shouldn't break a line

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Explore'
2. Click on 'Edit Action'
3. See error

**Expected behavior**
The text inside button shouldn't break a line

**Screenshots**

Wrong:
![Screen Shot 2020-02-17 at 10 47 29](https://user-images.githubusercontent.com/39558132/74659

[2020-02-17 18:38] heltonlr opened #165 "Wrong autocomplete design"
**Describe the bug**
Wrong autocomplete design, must be must be the same on figma

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Explore'
2. Click on 'Create new action'
3. Use auto-complete (choose the verifiers input)
4. See error

**Expected behavior**

Correct on Figma:
- Background;
- Same width of input;
- Full name first;
- Username (I liked this idea, you can add username

[2020-02-17 18:45] heltonlr opened #166 "Wrong text on tittle input"
**Describe the bug**
Wrong text on tittle input, the correct is "claimants reward"

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Explore
2. Click on create action
4. See error

**Expected behavior**

Correct:
![Screen Shot 2020-02-17 at 15 43 25](https://user-images.githubusercontent.com/39558132/74679372-718c7580-519c-11ea-9366-c659ee39cd20.png)

Wrong:
![Screen Shot 2020-02-17 a

[2020-02-17 18:50] heltonlr opened #167 "Wrong delete element"
**Describe the bug**
Wrong delete element,

Wrong:
![Screen Shot 2020-02-17 at 15 46 47](https://user-images.githubusercontent.com/39558132/74679551-efe91780-519c-11ea-81de-ff2098c4dbbf.png)

Correct:
- Background on name;
- Trash icon;

![Screen Shot 2020-02-17 at 15 47 01](https://user-images.githubusercontent.com/39558132/74679559-f6778f00-519c-11ea-80d9-051fc65224b6.png)

**To Reproduce**
Step

[2020-02-17 18:59] heltonlr opened #168 "The buttons on actions and objectives must be disable when marked as complete"
## Description
Add archive objective button.

Archived objectives must not allow actions to be edited, making the edit button disabled.

This form is only visible on an admin page:

1. Create a new community on the path `/community/new`, after its done, reload the app
2. After its created, click the cog on the top right part of the page (make sure you've selected the new community on the selector,

[2020-02-17 19:00] lucca65 commented on #165
@heltonlr what should we do with the account information? We have a lot of users without photo (since its not required) and with the same name. Why remove the account if it is the only unique identifier?

[2020-02-17 19:07] heltonlr opened #169 "Should be the "marked as complete" button also on objective edit"
**Describe the bug**
Must be possible to the user mark a objective as complete, but we do not have this button on edit screen of Objective

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Edit Objective' screen
2. See error

**Expected behavior**

"Mark as complete" button on edit objective screen (When an objective is marked as complete, all of its actions must change to "Complete" st

[2020-02-17 19:11] heltonlr commented on #165
Hey @lucca65 . We will not remove it, just start with the Full name and below the username, this part is correct on HTML

[2020-02-17 19:12] lucca65 commented on #165
then can you provide an example that shows that information? the one you added to the issue have the account omitted

[2020-02-17 19:12] lucca65 commented on #165
you can edit the issue directly

[2020-02-17 19:13] heltonlr commented on #165
Sure, adjusted on Figma:
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=122%3A1217

![Screen Shot 2020-02-17 at 16 12 35](https://user-images.githubusercontent.com/39558132/74680757-5c194a80-51a0-11ea-84f3-accf78cd169f.png)

[2020-02-17 19:21] heltonlr opened #170 "Form content without max-width"
**Describe the bug**
Form content without max-width, must be centralised.
![erro2](https://user-images.githubusercontent.com/39558132/74681100-48baaf00-51a1-11ea-8fb4-84bef0a6e339.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to explore
2. Click on Create Objective
3. See error

**Expected behavior**
Centralized content

**Cambiatus Env you are using**
app.cambiatus.io

**Desktop (

[2020-02-17 19:38] heltonlr opened #171 "Objective edit button duplicated (desktop)"
**Describe the bug**
Objective edit button duplicated (desktop).

![erro3](https://user-images.githubusercontent.com/39558132/74682080-caabd780-51a3-11ea-9578-541a93798ecd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on explore
2. Click on arrow down on accordion
3. See error

**Expected behavior**
Must be exist only one edit button, the first next to arrow.

**Cambiatus Env yo

[2020-02-18 02:29] lucca65 commented on #170
how should the blue bar behave? just add two white bars on each side or just centralize the content? (back button and title)

[2020-02-18 14:03] heltonlr commented on #170
The purple bar remains 100% (background) but the content must be limited to the width of the container:

![Screen Shot 2020-02-18 at 11 03 00](https://user-images.githubusercontent.com/39558132/74742922-44909f00-523e-11ea-89c0-689c66dc1f4e.png)

[2020-02-18 14:32] heltonlr opened #172 "Slide (horizontal slide) was not created (mobile only)"
**Describe the bug**
Slide (horizontal slide) was not created (mobile only)

Correct on Figma:
![Screen Shot 2020-02-18 at 11 26 39](https://user-images.githubusercontent.com/39558132/74744863-b74f4980-5241-11ea-98b8-a98fb6c5df14.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Explore
2. Click on Edit
3. Click on Arrow down
4. See error (mobile only)

**Expected behavior**
The

[2020-02-18 14:42] heltonlr opened #173 "Edit action buttons are not 100% wide"
**Describe the bug**
Edit action buttons are not 100% wide.

Correct on Figma:
![Screen Shot 2020-02-18 at 11 39 30](https://user-images.githubusercontent.com/39558132/74745906-57f23900-5243-11ea-8610-e70e4f8efeae.png)

Wrong on HTML:
![Screen Shot 2020-02-18 at 11 35 58](https://user-images.githubusercontent.com/39558132/74745946-66405500-5243-11ea-9f33-4f21f1a74910.png)

**To Reproduce**
Steps t

[2020-02-18 14:50] heltonlr opened #174 "Move Edit Objective button to the top"
**Is your feature request related to a problem? Please describe.**
Move **Edit Objective** button to the top next to **Create action** button when the accordion is opened. Nowadays it is far below after opening of the accordion, getting long from the name of the Objective.

Improvement on figma:
![Screen Shot 2020-02-18 at 11 46 42](https://user-images.githubusercontent.com/39558132/74746590-70168

[2020-02-18 15:28] heltonlr opened #175 "Several wrong elements in the editing and action creation forms"
**Describe the bug**
Several wrong elements in the editing and action creation forms:

- Checkbox
- Inputs
- Text alignment
- Toogle

![Screen Shot 2020-02-18 at 12 24 07](https://user-images.githubusercontent.com/39558132/74750037-d3ef7f80-5249-11ea-9220-4a6b57cab240.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on explore
2. Click on edit
3. Click on edit action
4. See error

[2020-02-18 21:14] #150 closed

[2020-02-19 13:28] heltonlr opened #177 "Change toggle's text and margin"
Correct text when toggle is ON:
"Expiration on, the action will be available until a date, quantity or both"

![Screen Shot 2020-02-19 at 10 19 36](https://user-images.githubusercontent.com/39558132/74837946-5be49080-5301-11ea-803f-4d8c41602760.png)

Correct margin betwenn toggle and checkbox(24px):

![Screen Shot 2020-02-19 at 10 26 42](https://user-images.githubusercontent.com/39558132/74838463-

[2020-02-24 18:20] lucca65 opened #178 "Logout don't work"
**Describe the bug**
Altough the logout resets the session in Elm, it doesn't clear the user data from the cache. If the page is reloaded, the user is still logged in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Logout'
2. Click on 'Refresh the page'
3. See error

**Expected behavior**
It should logout and clear all the private user data from the local storage

[2020-02-24 18:50] lucca65 opened #179 "Action editor fails with default value"
**Describe the bug**
When creating/editing a action, if you choose it to be claimable and don't add no values for "verification reward" the saves fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the action editor (can be creating a new action or editing an existing one)
2. Fill all the necessary fields (be sure to choose manual verification)
3. Don't fill no information on the "Ve

[2020-02-24 19:43] #170 closed

[2020-02-24 19:43] #178 closed

[2020-02-24 19:43] #179 closed

[2020-02-25 12:15] jxxcarlson commented on #174
It took me a while to realize that the "v" to the right of "Edit" is how how you create a new action. I think it would be better to simply have a "New Action" button there.  The more that is exposed so that the user has a complete picture of the context, the better.

<img width="1097" alt="Screen Shot 2020-02-25 at 13 12 06" src="https://user-images.githubusercontent.com/679991/75246708-a1590000-5

[2020-02-26 12:14] heltonlr commented on #174
Thanks for your feedback @jxxcarlson . The "v" (arrow) opens the element, and the "create action" button is inside the element. We can add this improvement and bring it to a button in the next version of the interface when we start creating the dashboard.

[2020-02-26 12:34] heltonlr commented on #157
After analysis, I suggest that the right margin of the bell is **44px** for the profile element (example):

![Screen Shot 2020-02-26 at 09 31 23](https://user-images.githubusercontent.com/39558132/75345265-239dfe80-587b-11ea-986a-b8eec6c03518.png)

[2020-02-26 12:38] heltonlr commented on #157
And about the font-size: 10px on the "Profile name", It was not as readable as I imagined, let's use 11px, capital letters then.

[2020-02-26 13:01] heltonlr commented on #158
Hey @lucca65 , the Welcome screen simplified as we talked yesterday;

![Screen Shot 2020-02-26 at 09 51 59](https://user-images.githubusercontent.com/39558132/75347069-bf7d3980-587e-11ea-9aaf-c0d9792131a4.png)

And

The Invite button on the dashabord (the font-size on the buttons are wrong, take a look please);

![Screen Shot 2020-02-26 at 09 52 23](https://user-images.githubusercontent.com/395581

[2020-02-28 21:45] lucca65 commented on #158
This issue actually relates to the following tasks:

- [ ] Create new "create invite" modal on the dashboard
- [ ] create new screen "public community page" that will be public and allow for both netlink and sign up redirection
- [ ] change behaviour and params for the current register to accept the new invitation method
- [ ] change redirect behaviour of the current sign in page, to accept redire

[2020-03-01 17:48] lucca65 commented on #156
The ideal solution would be have a counter on the textarea input and limit the number of characters when they reach the max length.

We have an example of input with that counter in this design: https://www.figma.com/file/vqHVOvugUksHKlhJvNfaFq/LoginCreateAccount-desk?node-id=1%3A17378

[2020-03-01 18:08] altjohndev commented on #156
Hi folks, I am available to solve this issue.

What is the procedure to contribute for this project?

Some questions:
- What is the definition of done?
- The development docker environment is "ready" as is? Do I need to perform more steps to prepare my local environment? (Such as: Build/start the backend, integrate with another services or projects)
- Finally, what about testing and code quality/c

[2020-03-01 18:12] lucca65 commented on #156
thanks for your interest @altjohndev.

Here are the answers:

In this issue in particular is an approved pull request. That solves the problem described above.

It is. We currently consist of several systems, the frontend is only one of them. You are able to run them all in `docker-compose` but the docker files for all the systems are in another repo. For this issue in particular you can only run

[2020-03-01 18:17] altjohndev commented on #156
Thank you for the reply!

I will start to solve the issue this Thursday (03/05, MM/DD), expecting to open a PR on Friday (04/05) with the solution.

[2020-03-01 23:06] gui-gui commented on #132
I will try to fix this one

[2020-03-02 12:12] heltonlr commented on #132
Thanks @gui-gui

[2020-03-02 17:34] Trunkol commented on #168
I got it, let me try!

[2020-03-02 19:07] #137 closed

[2020-03-02 19:49] altjohndev commented on #156
PR created with additional info: #184

[2020-03-02 21:53] #156 closed

[2020-03-05 01:18] #173 closed

[2020-03-11 04:44] #166 closed

[2020-03-13 15:29] RodrigoLeiteF commented on #167
@heltonlr Do we have the new element on Figma? I achieved an approximation, but I'd like to know the exact values for font size, padding and border. Also, the trash can icon doesn't seem to be in the project so I'd need it's SVG values as well if possible.

![image](https://user-images.githubusercontent.com/16887983/76635474-4b9d8b00-6526-11ea-94dc-02d0b11a0648.png)

[2020-03-13 16:59] #161 closed

[2020-03-15 18:46] #167 closed

[2020-03-16 20:11] lucca65 opened #196 "Refactor: unify feedback messages"
**Is your feature request related to a problem? Please describe.**
Although in our designs we have a single way to pass success failure feedback, on the implementation we don't. We should unify feedback messages

**Describe the solution you'd like**
Add a new key in the shared map with messages, allowing us to configure if it is success or failure. Use our default designs: https://www.figma.com/fi

[2020-03-16 20:12] lucca65 commented on #196
@zacck @RodrigoLeiteF this might be a good issue for you folks, we will need to navigate the whole project, so might be a good learning experience. Let me know if the details are clear enough or if we need to detail it further.

[2020-03-17 16:47] #177 closed

[2020-03-17 21:12] lucca65 opened #200 "Allow actions to be reopen"
**Is your feature request related to a problem? Please describe.**
Sometimes users complete actions by mistake or need to reopen it.

**Describe the solution you'd like**
Allow the button on the action form to allow a toggle like behaviour

[2020-03-17 21:12] lucca65 opened #778 "Allow actions to be reopen"
**Is your feature request related to a problem? Please describe.**
Sometimes users complete actions by mistake or need to reopen it.

**Describe the solution you'd like**
Allow the button on the action form to allow a toggle like behaviour

[2020-03-23 13:39] heltonlr opened #202 "The invite button and input are wrong on mobile"
The button and input don't are fit on interface, see on image below :

![inviteError01](https://user-images.githubusercontent.com/39558132/77321930-b05ca080-6cf1-11ea-8e44-ed82c8ddbbdb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'invite a friend' on mobile

**Expected behavior**
That the button and input fits in the interface, image below:

![inviteErrorCorrect](https://use

[2020-03-23 14:05] heltonlr opened #203 "Mobile interface without side margins and incorrect buttons"
Mobile interface without side margins and incorrect buttons, image below:

![inviteError02](https://user-images.githubusercontent.com/39558132/77323541-30840580-6cf4-11ea-8807-c6c8c0fef6d0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open an invite url on mobile

**Expected behavior**
Image below:

![errorInvitecorrect02](https://user-images.githubusercontent.com/39558132/77324905-35

[2020-03-24 02:01] lucca65 opened #204 "Some date time information is shown incorrectly"
**Describe the bug**
Date time is shown incorrectly in actions/claims/verifications. On our versions we only show date (not time), so it was difficult to notice.

When trying to reproduce this error please take into consideration that our server is in UTC, it will depend on the time of the day you are, the time when the claim was opened, your timezone, etc.

**To Reproduce**
Steps to reproduce the

[2020-03-24 03:57] zacck commented on #204
@lucca65  could you please describe this in detail? and give an example of where this is broken plus how to fix?

[2020-03-24 17:02] lucca65 commented on #204
Thanks for the comment Zacck, I wrote this down during a meeting with MUDA and completely forgot to provide a proper description!

[2020-03-24 20:38] zacck commented on #204
No worries Lucca, always easier to fix when you see what is broken

[2020-03-24 20:40] #90 closed

[2020-03-24 20:52] zacck opened #205 "CI is broken when merging into master"
**Describe the bug**
Some actions in the continuous integration set up do not succeed when a PR is merged into master. Why this is due to some missing data in the application. I expect some docker logins so the applications
can actually build and move past that stage

**To Reproduce**

Merge an approved PR into Master

**Expected behavior**
It should build and publish a docker image of the build

[2020-03-25 15:48] lucca65 commented on #205
@zacck I think I can help with this, please create a new docker hub user for our CI (maybe Cambiatus-ci) and share access details with me. We still don't have a way to safely share team passwords so I'll be handling those for now.

After that I can add the CI user as one of the collaborators of our docker hub account

[2020-03-25 15:59] zacck commented on #205
@lucca65  first thing tomorrow I'm on this

[2020-03-25 20:33] #100 closed

[2020-03-26 05:26] #107 closed

[2020-03-26 21:24] #158 closed

[2020-03-26 21:24] #202 closed

[2020-03-29 13:34] amiskov opened #208 "Can't start/build the project"
**Describe the bug**
Elm compilation fails with `yarn start` and `yarn build`.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project.
2. Try `yarn start` from the `master` branch.
3. The Error:
[code]

**Expected behavior**
Elm code compiles, frontend server start on `localhost:3000`.

**How to solve**
Add `import Url` in `src/elm/Page/Dashboard/Balance.elm`.

[2020-03-29 13:39] amiskov commented on #208
Can I fix it? :)

[2020-03-30 18:08] #208 closed

[2020-03-30 19:12] Zequez commented on #132
Well, I'll dive into it then :)

[2020-03-31 00:14] lucca65 opened #210 "Incorrect message when PIN is incorrect"
**Describe the bug**
While trying to input my PIN, if I use the wrong number I got this message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Transfer
2. Fill in all the fields
3. When the app ask for your PIN, use a wrong one
4. See error

**Expected behavior**
It should have a clear message: Incorrect PIN

**Screenshots**
<img width="664" alt="Screen Shot 2020-03-30 at 21 13 59" sr

[2020-03-31 01:12] lucca65 commented on #97
fixed by #183

[2020-03-31 01:12] #97 closed

[2020-03-31 01:23] lucca65 opened #211 "Error while trying to export the private key"
**Describe the bug**
App don't respond when trying to export the private key/PDF from the profile.

In development mode we get an JS error, displayed in the print screen below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on the key icon
3. See error

**Expected behavior**
A PDF download of the private key

**Screenshots**
<img width="1057" alt="Screen Shot 2020-03

[2020-03-31 05:01] Zequez commented on #132
<img width="898" alt="Captura de Tela 2020-03-31 às 01 20 09" src="https://user-images.githubusercontent.com/126037/77988612-2e710680-72f3-11ea-8984-b7310718d5cb.png">

Hi @heltonlr is this design and wording to your liking?

Also, if the use is not logged in, should the authentication modal show up BEFORE or AFTER the delete confirmation modal?

This is what I mean, I have it like this right now

[2020-03-31 10:25] heltonlr commented on #132
Hey @Zequez , the design is correct, thanks. The authentication modal must show up AFTER the delete confirmation modal. And about the translation, we should talk to @lucca65  to find out how it was done in this case.

[2020-03-31 15:00] lucca65 commented on #132
@Zequez hit me up on telegram, translations are pretty straight forward, you can look for examples in the whole project. the language files are json files under `public/` folder

[2020-03-31 15:13] amiskov commented on #85
I guess I understand how it should work, but I'm not sure enough :)

Here’s how I see the implementation. @lucca65 please, correct me if I’m wrong.

When “Manual” verification is chosen, we need to select _at least 2 verifiers_. So, when we press “Create” button with _no verifiers selected_, there should be a validation error like this:
￼
![• Manual, rewards the user only after reviewed by others]

[2020-03-31 15:32] amiskov commented on #85
And here's another question:
![Screenshot 2020-03-31 at 18 28 04](https://user-images.githubusercontent.com/140053/78044832-d7fcda00-737d-11ea-8822-c233a8f51b29.png)

[2020-03-31 20:13] lucca65 commented on #85
@amiskov You understood it completely. The "minimum number of votes" is related to the verifiers field! Just keep in mind that, min votes number cannot be smaller than 2!

[2020-04-02 18:36] amiskov commented on #85
@lucca65 here's the result so far. I made a little demo to show how it works:

[![image](https://user-images.githubusercontent.com/140053/78285189-30bca600-7529-11ea-9fbe-95957664dec3.png)](https://youtu.be/VclL3sm5m0w)

[2020-04-03 07:02] amiskov commented on #211
As far as I can see, the problem is that there are 2 buttons in [Page/Profile.elm#L215](https://github.com/cambiatus/frontend/blob/master/src/elm/Page/Profile.elm#L215), one above the other. In browser it renders like there's only 1 button. Here I shifted one of them in browser tools to demonstrate:

![image](https://user-images.githubusercontent.com/140053/78333068-d60b6480-7591-11ea-9521-f7ac9e4

[2020-04-03 14:45] lucca65 commented on #211
nice investigation @amiskov. Yeah, profile screen is one that we still have to rework. We started a redesign that is still ongoing for some less used screens. Profile page is one of them. The correct behaviour would be to download the PDF.

I think the right way to do it is, instead of copying from the existing elements, we'll need to change that port to take the private key from the local storage

[2020-04-03 17:05] #85 closed

[2020-04-03 20:42] RodrigoLeiteF opened #215 "New public profile page"
We need to implement a new public profile page according to figma: https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=0%3A1

[2020-04-04 01:09] felipeasf commented on #210
I'll take a look at it.

[2020-04-06 15:16] #132 closed

[2020-04-08 16:23] #196 closed

[2020-04-09 15:16] lucca65 opened #220 "Show arrows in transfer view as the Layout specify"
**Is your feature request related to a problem? Please describe.**
We don't have the layout correctly implemented on the transfer view.

### Expected layout
<img width="272" alt="Screen Shot 2020-04-09 at 12 12 47" src="https://user-images.githubusercontent.com/1082127/78910487-6dbdf680-7a5b-11ea-9cd3-15ba419fbee0.png">

### Current layout
<img width="340" alt="Screen Shot 2020-04-09 at 12 14 53"

[2020-04-13 12:42] amiskov commented on #211
I started working on this issue. Need to do some exploration at first and then I'll create a WIP PR and likely ask some questions.

[2020-04-13 14:59] amiskov commented on #211
I think I need Profile page design mock-ups to handle this issue properly. @lucca65, can you please provide me these mock-ups in Figma?

[2020-04-13 15:09] amiskov commented on #211
If I understand everything right, the PDF generated from the Profile should be different then PDF, displayed to the user after the registration:

- PDF from the Profile page can't contain 12-words passphrase (we display it to the user only once, during the registration process).
- Phrase "This is the only chance you have to download it!" is inappropriate for PDF, downloaded from the profile. User

[2020-04-14 17:47] lucca65 commented on #211
@amiskov sorry it took me while to reply. Here are the designs for the new profile page:

https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=21%3A53

The PDF should be the same as the one we got during the login, I'll ping you for a call so we can sort this out

[2020-04-15 15:28] lucca65 commented on #151
We have a new version for those pages here: https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=0%3A1

[2020-04-20 15:38] lucca65 opened #225 "Implement basic parts of the new dashboard"
**Is your feature request related to a problem? Please describe.**
As part of the implementation of https://github.com/cambiatus/improvement-proposals/issues/32. We need to do the basic workflow.

**Describe the solution you'd like**
Implement:

- [ ] Implement community change
- [ ] Implement scoped dashboard for claims and balances
- [ ] Allow claims to be evaluated from the dashboard directly
-

[2020-04-20 22:47] RodrigoLeiteF opened #226 "Closed action button is still interactable"
**Describe the bug**
Clicking the Closed button on a closed action still opens the claim modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a community
2. Click the Closed button on an expired action
3. Modal opens

**Expected behavior**
Nothing happens

**Cambiatus Env you are using**
Local

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Arch Linux
 - Br

[2020-04-22 14:02] #220 closed

[2020-04-23 15:07] felipeasf commented on #149
Hey @heltonlr , I think that this issue should be closed. The deletion of a product is working fine and the confirmation modal was fixed in this PR: https://github.com/cambiatus/frontend/pull/213.

[2020-04-23 19:02] felipeasf commented on #164
I'll dive into this one

[2020-04-23 20:04] lucca65 commented on #149
The confirmation modal exists but we are still laking contract and backend adjustments

[2020-04-24 20:39] #225 closed

[2020-04-24 20:44] heltonlr opened #227 "The "girl's card" goes off from dashboard"
**Is your feature request related to a problem? Please describe.**
The "girl's card" goes off from dashboard after

**Describe the solution you'd like**
Show the "girl card" after the user analyzes all your actions on dashboard. The card must be shown after page "refresh" and when the user goes out and comes back to the dashboard. Must show off only when the user user have news actions to analyze.

[2020-04-27 16:29] #227 closed

[2020-04-30 20:48] #226 closed

[2020-04-30 22:45] amiskov commented on #151
As a part of this task the [new layout for PDF](https://www.figma.com/file/AUiVfZ8HbDQ4Qw22uP5OzU/pdf?node-id=81%3A0) with passphrase was also implemented.

[2020-05-01 13:46] amiskov opened #232 "Add CSS sourcemaps for better development experience"
**Is your feature request related to a problem? Please describe.**
We have hot reloading for CSS in development mode. This is nice, but all processed styles of the page are stored in the `<style>` tag and we can't see the origins of the CSS rules in the developer panel:
![no_sourcemaps](https://user-images.githubusercontent.com/140053/80808474-52608a00-8bc8-11ea-8552-3a70289a0a01.png)

**Describe

[2020-05-03 15:45] lucca65 opened #234 "All analysis screen"
as part of the dashboard refactor, we need to implement the "All analysis" screen. Its a historical page that allows the user to see all his/her past votes on claims. Its scoped by community and contains filters. It also allows users to review pending claims.

Figma designs: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=572%3A505

[2020-05-03 16:07] lucca65 opened #235 "Create community configuration"
We need to create a new screen on the community that allows community administrators to change some params. The Figma design is here: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=1046%3A22

Its important to make this screen accessible only by community admins. You can check the community creator, that is the admin account. Make sure to hide the link from the community page a

[2020-05-03 16:16] lucca65 opened #236 "Apply community configurations to the app"
After we finished #235, we'll need to apply those community configurations to the dashboard.

Since we only allow for simple toggle stuff, it should be easy to hide away menus and features.

For the shop:

Hide link from the menu and add a validation to all the shop pages, if the community don't have the shop enabled, then we'll have to display a 404 for them

For the objectives and actions:

Hide

[2020-05-03 16:31] lucca65 opened #237 "Create timeline"
Implement this Figma design: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=564%3A3

We'll have to make sure its auto updated depending on the GraphQL subscription status. It also should render all the available cases:

- Join community (links to community page)
- Create shop sales (links to sale)
- Send/Receive transfers (links to view transfer)
- Open Claims (links to claim

[2020-05-04 12:38] #232 closed

[2020-05-05 14:54] amiskov opened #238 "Add user quotes to the login/registration screen"
**Is your feature request related to a problem? Please describe.**
[Desktop layouts](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=0%3A1) for login/registration pages have users quote on it. We already have styles and markup implemented in #151 but still have to collect the actual quotes.

**Describe the solution you'd like**
In `Session/Guest.elm` use already implemented `vi

[2020-05-08 19:12] #151 closed

[2020-05-08 22:06] lucca65 opened #240 "Add filter to all analysis"
Add filters to the "All analysis" Page.

Follow the Figma design: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=572%3A505

We'll need to filters:

1) For user that opened the claim
2) For claim status

[2020-05-08 22:14] lucca65 opened #241 "Add pagination to dashboard claim analysis"
The dashboard claim should now be an horizontal list. We should always show only 8 pending analysis cards. As the user vote, we remove the voted one and load a new one until we have nothing else to load.

If the user voted on all, we just show the bike girl as it is right now

[2020-05-12 20:46] lucca65 commented on #235
Please refrain from doing mutations for now, only load the database stuff and allow for toggles, but don't do the submit process just yet

[2020-05-12 22:10] RodrigoLeiteF commented on #235
Gotcha :)

[2020-05-13 15:49] heltonlr opened #242 "New menu structure"
We currently have a small horizontal scroll on tiny screens (320px), so this new proposal will avoid this scroll because the menu has been optimized for 320px wide.

In desktop versions we can keep the menu text next to the icon, as we have space. In the mobile version, follow as shown in Figma.

There are 3 versions on Figma (language):

_English_
https://www.figma.com/file/ZFYjG821WJpUFXlxV4dfnO

[2020-05-13 16:51] lucca65 opened #243 "Make the validator # to be at minimum 3 on Action Editor"
**Describe the bug**
Right now we require a minimum of 2 votes to create a new action (on the `ActionEditor.elm` file). The problem is that this causes a scenario where claims that require two votes (actually all scenario with an even number of required votes) we may reach a scenario of having half of the required votes as "approved" and "disapproved". This will create limbo scenario of ever pendi

[2020-05-13 17:10] lucca65 opened #244 "Community selector don't appear on login, only on reload"
**Describe the bug**
Its not possible to access the community selector after you login, you have to reload the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with an account that is part of several communities
2. See error

**Expected behavior**
The selector should be always available if the user is part of more than one community

**Cambiatus Env you are using**
app.cambiatus.i

[2020-05-14 00:06] heltonlr opened #245 "Create account and Sign in improvements"
After the usability test, we must change some changes on the Registration and Sign in flow to improve the user experience:

1. The pdf file must download in the background without showing to the user. In iOS the pdf file must be open in another tab but do not be shown.

**This item was removed from the task:**

3. Change the text on Basic informations step:

- Button text: "Continue"

Figma screen

[2020-05-14 13:14] amiskov opened #246 "Make core review more automated"
**Is your feature request related to a problem? Please describe.**
We can partially automate code review with [elm-review](https://package.elm-lang.org/packages/jfmengels/elm-review/latest/) to fix various issues like forgotten `Debug.log` or unused imports/function early. It may save us some time.

**Describe the solution you'd like**
- Add `elm-review` package to the project.
- Add `yarn review`

[2020-05-14 15:49] #234 closed

[2020-05-14 19:03] heltonlr opened #248 "Add buttons: "Approve" and "Disapprove" in action detail's screen"
Some users would like to see the action details before approve or disapprove an action. So, they can access this details page and here approve or disapprove too.

Figma screen:
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=581%3A498

If the user already voted in this action, the buttons will not show. The success feedback must appear on this same screen (same behaviour to das

[2020-05-14 19:17] heltonlr opened #249 "Show real-time informations"
In many moments the users need to refresh the browser to see important information about your journey.

**Example:**

- [ ] Users don't see the "community change element" on the header. Only after the browser's refresh.
- [ ] Users don't see your new balance after that made an action.
- [ ] The SHOP item (in the menu) should disappear as soon as it is disabled.
- [ ] The actions for analysis and t

[2020-05-14 19:32] lucca65 commented on #249
@heltonlr there are all the scenarios? In tasks like this we should list all the possible cases where we need auto reload, as this is the only way of knowing that we implemented all cases.

If there is more to them, can you please list it?

[2020-05-14 20:25] heltonlr commented on #249
Sure @lucca65 , I will check it

[2020-05-15 16:03] #205 closed

[2020-05-15 22:45] #246 closed

[2020-05-18 08:07] amiskov opened #251 "Payment history page"
Create a page with the organization's feed of payments:

![page_history](https://user-images.githubusercontent.com/140053/82189584-4975f500-98f8-11ea-97a5-9211f062bdfa.png)

Here's the [Figma design](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=208%3A3129).

This page will be used by the seller or by the seller's employees to track the payments of their clients. Each payment

[2020-05-18 08:18] amiskov commented on #251
@lucca65 I would very much appreciate if you share your ideas about implementing the emoji-hashing :)

[2020-05-18 09:24] amiskov commented on #251
@lucca65 Can you please clarify, what is “Pura Vida cafe” in terms of the Cambiatus entities here? Is it just a user, but registered not for a person but a little business, right?

[2020-05-18 19:49] lucca65 commented on #251
@amiskov about the Emoji encoding we should just encode the transaction id. Every transfer will automatically include one (I'm not sure we expose them on the API though!)

So we will basically encode a transaction id, which is a string like this one: `3cb2ff1a266974a0dca92749516a33391256e3450d164e92565a28309ee50ac6`

There are several emoji encoders js libraries out there, this one seems fine: htt

[2020-05-18 19:52] lucca65 commented on #251
So about this, it is actually a simple account really. We could add some kind of abstraction to differentiate between business and regular users (which, at some point we should -- so we are better connected to https://github.com/cambiatus/simulator -- https://jxxcarlson.github.io/app/cambiatus/index.html). But for now we should just make it work for any type of user/account.

Lets wait until the c

[2020-05-18 20:18] lucca65 opened #252 "Webpack fails to invalidate cache"
**Describe the bug**
Sometimes during our builds, web pack fails to invalidate the cache and we get a blank screen when trying to access the app. You should see a similar error as the print attached

**To Reproduce**
Steps to reproduce the behavior:

It depends on the cache state of your browser, so its difficult to simulate, as it will depend on the browser's behaviour.
1. Go to the app
2. If it

[2020-05-19 12:37] heltonlr commented on #249
Hey @lucca65, I analysed the interfaces and these two are the most important to fix now, for now. We must prioritize if possible.

[2020-05-19 16:03] #215 closed

[2020-05-20 18:18] amiskov opened #254 "Add page titles for better navigation"
**Is your feature request related to a problem? Please describe.**
All pages have the same title:
![cambiatus_page_titles](https://user-images.githubusercontent.com/140053/82482046-e98d7300-9ade-11ea-92ba-1a1c82eee34f.png)

It's better to have a meaningful title for each page to be able to navigate via browser history.

**Describe the solution you'd like**
Change page titles along with URI during

[2020-05-21 18:18] lucca65 commented on #254
+1 It would help a lot!

[2020-05-22 17:17] amiskov commented on #251
Hey, @heltonlr and @lucca65, how do you think, how should we handle the picture under the page title?

![Screenshot 2020-05-18 at 11 19 48](https://user-images.githubusercontent.com/140053/82691939-6d726700-9c67-11ea-9919-da2e75240ad7.png)

It seems like we need to implement the ability for users to upload their own backgrounds for their profiles. It does not seem like a big deal, but as the Payme

[2020-05-22 17:52] heltonlr commented on #251
I agree I will create a default image and send to you @amiskov

[2020-05-22 18:05] lucca65 commented on #251
Nice +1 to have a default one for now. We can add cover images later

@heltonlr can you please add the image here so we have everything together?

[2020-05-22 19:12] heltonlr commented on #251
Sure

[2020-05-22 19:12] heltonlr commented on #251
Sure

[2020-05-22 19:43] heltonlr commented on #251
Here the image:
[bgCR.svg.zip](https://github.com/cambiatus/frontend/files/4670048/bgCR.svg.zip)

About the title, we must change size and margin, Figma example:
https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=208%3A3129

Let me know if you have some question. Good job.

[2020-05-27 20:50] #243 closed

[2020-05-29 12:17] amiskov commented on #251
For this issue, I created the related [PR for the backend](https://github.com/cambiatus/backend/pull/43) with the GraphQL query for the Payment History.

The frontend code in this branch will work only with the related backend code because we need to generate Elm types for the related GraphQL implementation.

[2020-05-29 15:19] #240 closed

[2020-05-29 15:19] #244 closed

[2020-05-29 15:22] lucca65 opened #257 "Add emoji hash to transfers and payments page"
We need to use a emoji hash library to encode the transaction id. This information will be useful to be shown as a receipt of uniqueness to the transaction.

It will be only a frontend feature

Add it to:

- Payments history page
- View transfer page

[2020-05-29 15:28] lucca65 opened #258 "My Profile Refactor"

[2020-05-29 15:29] lucca65 opened #259 "Check scoped filters on Shop"
For some reason, looks like the filters on the shop are not working, we need to investigate why

[2020-05-29 15:30] lucca65 opened #260 "Add transfer links to notifications"
Make sure the notification items have links to the view transfer page

[2020-05-29 15:32] #203 closed

[2020-05-29 15:32] lucca65 commented on #203
this was completed on #186

[2020-05-29 15:33] lucca65 commented on #252
duplicate of #45

[2020-05-29 15:33] lucca65 commented on #45
closing as this is better explained on #252

[2020-05-29 15:33] #45 closed

[2020-05-29 15:35] lucca65 commented on #99
Fixed on #229, now we show the community logo (which can be changed by community admins)

[2020-05-29 15:35] #99 closed

[2020-05-29 15:36] lucca65 commented on #101
fixed after we recreated the new login screen #224

[2020-05-29 15:36] #101 closed

[2020-05-29 15:37] lucca65 commented on #105
@heltonlr is this still relevant? do we have a new design for this?

[2020-05-29 15:37] #111 closed

[2020-05-29 15:37] lucca65 commented on #111
not happening anymore after dashboard redesign

[2020-05-29 15:40] #210 closed

[2020-05-29 15:42] heltonlr commented on #105
Hi @lucca65, yes, some users with very small (320px width) screens need these improvements.

All design is in Figma.

[2020-05-29 15:46] amiskov commented on #257
Here are some thoughts on it.

We can use `createdTx` field from the Transfer as a basis. Then we can shorten it somehow to 6 symbols and translate it to emoji with the library you [suggested earlier](https://github.com/cambiatus/frontend/issues/251#issuecomment-630400044).

For example:

- `createdTx` value `cee71e2cdd38a65f41bf4348ab2572beea232ab6d728baaaa097a21a3f69eb34`
- becomes `1IXDsV` (I u

[2020-05-29 16:38] lucca65 commented on #254
Lets just make sure its localised

[2020-05-29 17:01] heltonlr commented on #105
Oh, Sorry @lucca65
..no more, because we change the menu

[2020-05-29 18:01] lucca65 commented on #105
we can close this issue, maybe open another one with the new menu

[2020-05-29 18:01] lucca65 commented on #257
amazing, looks like we have a clear path ahead! Thanks @amiskov

[2020-05-29 20:17] heltonlr commented on #105
Yes, I opened another about the new menu these days.

[2020-05-30 00:08] #105 closed

[2020-06-02 20:42] amiskov commented on #257
This issue is [implemented](https://github.com/cambiatus/frontend/pull/253/files#diff-467b3049ca57e1eeb2fc9ff0026b2678R484) as part of #253 PR for the Payment History page.

[2020-06-03 00:57] lucca65 commented on #147
after the new screens we wont display cases like this anymore. Closing

[2020-06-03 00:57] #147 closed

[2020-06-03 14:51] lucca65 commented on #129
this was done during the #212 PR/issue

[2020-06-03 14:51] #129 closed

[2020-06-04 17:42] heltonlr opened #264 "The copy feature doesn't work during a user invite"
The copy feature doesn't work during a user's invites. Neither the button, neither when the user selects and copy manually.

Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Click on 'Invite link'
3. Try to copy the URL by button and manually
4. See error

**Cambiatus Env you are using**
app.cambiatus.io

**Smartphone (please complete the following information):**
Android 9, Xiaomi Mi A1,

[2020-06-04 20:29] #241 closed

[2020-06-04 20:29] #260 closed

[2020-06-04 20:58] lucca65 commented on #259
The "My Offers" was fixed on the backend after a bug report from Muda

[2020-06-09 15:19] lucca65 opened #266 "Create a generic PDF generator app"
**Is your feature request related to a problem? Please describe.**
As we migrated to using only 12 words as login options, some old users that used the private key to login are having issues to use the app.

Right now I'm manually generating new PDFs for those users and changing their keys. Since this is happening a lot lately, I think it would be good to have a tool to automate that process

**De

[2020-06-11 13:13] lucca65 commented on #259
also fixed the normal sales filter too

[2020-06-11 13:13] #259 closed

[2020-06-12 13:10] #251 closed

[2020-06-12 13:44] lucca65 commented on #257
closed by #253

[2020-06-12 13:44] #257 closed

[2020-06-12 13:55] lucca65 opened #268 "Update instructions for git hooks (with husky) for elm-review"

[2020-06-22 17:44] #268 closed

[2020-06-22 20:43] lucca65 opened #273 "Add emoji to ViewTransfer.elm"
**Is your feature request related to a problem? Please describe.**
We already added emoji encoding to the transaction ID on #257. But we forgot to add it to the `ViewTransfer.elm` page

**Describe the solution you'd like**
To add the emoji hash to it

[2020-06-22 20:54] #254 closed

[2020-06-23 13:08] amiskov commented on #252
There is some progress on this bug.

How to achieve this behavior on your `localhost`:

1. Run `yarn build`.
1. Run some local server from the `./build` directory (I used [this one](https://github.com/lwsjs/local-web-server#single-page-application) with `--spa` option). Make sure you are serving it via `localhost` or `127.0.0.1` to have Service Worker enabled (it works only with HTTPS or on `local

[2020-06-23 13:20] #273 closed

[2020-06-23 14:45] lucca65 commented on #252
wow! Thanks for the report @amiskov! Now we have a way to simulate it and work with it

[2020-06-23 19:53] #252 closed

[2020-06-23 19:59] lucca65 commented on #238
After talking to @heltonlr I'm closing this as we are not doing it anymore

[2020-06-23 19:59] #238 closed

[2020-06-25 21:05] #171 closed

[2020-06-26 16:02] lucca65 commented on #174
@heltonlr the Figma link is no longer available, can you send a new one, please?

[2020-06-26 16:15] lucca65 opened #280 "Add GitHub action for running Husky with elm-review"
**Is your feature request related to a problem? Please describe.**
We need to also run elm-review in our GitHub actions during PR to make sure we don't upload code that is not using our review tools

[2020-06-26 16:31] heltonlr commented on #174
Hum, there isn't this interface on Figma anymore. When I 've updated the new layout, I deleted this interface. But we need to move this button to the top. Can someone send me the print screen? Then I indicate the right place

[2020-06-26 16:36] lucca65 opened #281 "Add tailwind purge to the production build process"
**Is your feature request related to a problem? Please describe.**
As Tailwind uses generated classes with related styles, we have too many of them in our final CSS file. Tailwind has [purge](https://tailwindcss.com/docs/controlling-file-size/#removing-unused-css) option for getting rid of styles which were generated but weren't used.

**Describe the solution you'd like**
Add `purge` section to `t

[2020-06-26 16:42] heltonlr commented on #174
i found it @lucca65;

This edit button:

![bug](https://user-images.githubusercontent.com/39558132/85880433-67196280-b7b2-11ea-875a-bc928677b572.jpg)

When the card opens, the edit button must be under the "Create new action":

![bug2](https://user-images.githubusercontent.com/39558132/85880653-bfe8fb00-b7b2-11ea-909e-5507e6f2792b.jpg)

[2020-06-26 16:44] lucca65 opened #282 "Move away from IPFS"
After done in the backend, we need to update the URL on the config so the images keep working

[2020-06-28 20:14] lucca65 opened #283 "Improve error tracking and availability"
**Is your feature request related to a problem? Please describe.**
A lot of users report errors and moments where the app don’t load. It’s super hard for us to know what happened and the way we use sentry today is not working properly

**Describe the solution you'd like**
Not sure, a good first step would be to improve sentry integration, and look for ways to improve error tracking without comprom

[2020-06-29 17:51] RodrigoLeiteF opened #285 "Node.js version is too specific"
On package.json we specify our Node.js version to be `12.0.0`. This isn't a problem necessarily, but specifying the minor version if likely unnecessary for our use case and it means other minor Node.js versions won't work. I've been running the project with Node.js `12.0.17` with no problems, so I think it's safe to specify our version to just `12`.

[2020-06-30 07:40] #281 closed

[2020-06-30 12:55] lucca65 commented on #285
we had problems before by letting the version too generic. Actually this is good advice when having to handle production builds. It’s best to not run the latest version and have peace of mind than having a surprise when deploying.

no problem to upgrade the version, but on production projects try to keep your package and stack version fixed

after all what do we gain by generalizing? Using the lat

[2020-06-30 13:01] lucca65 commented on #285
and actually this issue makes a lot of sense coming from an arch user, always on the bleeding edge of package versions 🤣

[2020-06-30 16:10] amiskov commented on #211
This issue will be fixed in #270 while redisigning the Profile Page.

[2020-06-30 21:25] RodrigoLeiteF commented on #285
I agree with keeping production version specific, but aren't we already doing that on our Dockerfile? Specifying it on the package.json doesn't really do anything in practice, as all it does is prevent yarn from running the project. NPM doesn't seem to care at all.

[2020-07-01 12:00] heltonlr commented on #245
Hey @amiskov , There is time to make some changes to this task?

[2020-07-01 14:41] amiskov commented on #245
Hi, @heltonlr! Now I'm working on the Profile redesign issue (#258) and to be honest we didn't plan to work on Sign In improvements very soon... 😬

I think I'll finish with the Profile redesign by the end of this week and then I could work on it these improvements. As for me, I think it would be reasonable to do so. @lucca65 how do you think? We had Reg/Sign-in improvements back in [Biweekly 18/ma

[2020-07-01 15:07] heltonlr commented on #245
Don't worry @amiskov, you can continue with your prioritization. I asked only to know if there is time for some adjust 👊

[2020-07-01 16:52] RodrigoLeiteF commented on #285
Another thing to note is that Node.js uses semantic versioning. Minor releases only add new functionality on a backwards compatible manner, so fundamentally the difference between 12.0 and 12.17 for example is negligible, as anything that could break  compatibility would be a new major release (13 in this case).

[2020-07-01 17:15] lucca65 commented on #245
there is time to adjust stuff @heltonlr! Go ahead! 💪

[2020-07-01 19:56] lucca65 commented on #285
If you use `n` for handling node versions, it automatically switches the version based on the package.json if that’s why we are doing this change

The last time we had problems was a minor update, not major. It caused compatibility problems with some ssl related binaries.

Again no problem in doing the upgrade on our projects, but keep the development version compatible with production.

in your m

[2020-07-02 10:21] amiskov commented on #245
Now I see that I've understood the meaning of this question incorrectly 🤦‍♂️ @heltonlr @lucca65, sorry about that 😊

[2020-07-02 15:17] RodrigoLeiteF commented on #285
Wow, that's weird. Fair enough though, we can leave it as is :)

[2020-07-02 15:17] #285 closed

[2020-07-02 17:45] heltonlr commented on #249
I added two more items to this task that did not exist when it was created.

[2020-07-02 17:56] #235 closed

[2020-07-02 17:56] #236 closed

[2020-07-03 14:49] amiskov opened #289 "Some PDF viewers don't copy the passphrase properly"
**Describe the bug**
Sometimes the generated passphrase contains words with ligatures, like `fi`, `ff`, `ffi` etc. Some PDF viewers (mostly browsers) won't copy these ligatures and instead of `muffin` we will get `mufn` (`fi` disappears).

**To Reproduce**
Steps to reproduce the behavior:
1. Register a user.
2. Open provided PDF with the passphrase in the browser.
2. If there are words with ligatu

[2020-07-06 22:52] lucca65 commented on #289
@amiskov do you think that maybe #264 is related to it?

[2020-07-07 00:25] RodrigoLeiteF commented on #106
I couldn't reproduce this bug on either Firefox, Chrome or my personal phone (Samsung S20) regardless of screen size. Can we double check that it still happens? Maybe it was fixed by one of our tailwind upgrades.

[2020-07-07 11:18] amiskov commented on #289
No, I think that #264 has something with the browser API and this one is about rendering fonts in the PDF.

[2020-07-08 15:46] lucca65 opened #290 "Public profile page don't display properly on smaller devices"
**Describe the bug**
The Screen is cut when using a smaller device (iPhone with 4" screens -- SE, 5, 5S)

**To Reproduce**
Steps to reproduce the behavior:
1. Open the public profile page in a small screen device (320px)

**Expected behavior**
Button is not cut, nor the texts

**Screenshots**
<img width="374" alt="Screen Shot 2020-07-08 at 12 42 57" src="https://user-images.githubusercontent.com/1

[2020-07-09 14:20] amiskov commented on #245
It also would be handy to add autofocus to the Passphrase textarea and PIN input on the Register and Login screens. Something like this:

[code]

[2020-07-09 22:53] lucca65 commented on #289
it makes sense! that’s an awesome catch @amiskov, i wonder how difficult it would be to debug this based on user feedback

[2020-07-10 04:04] lucca65 commented on #245
+1 @amiskov

[2020-07-10 15:19] amiskov commented on #290
This may be fixed by 40803f1.

[2020-07-10 15:35] lucca65 commented on #290
you rock @amiskov!

[2020-07-11 12:51] heltonlr commented on #134
It is correct @victorgdev , but I did not find the "approve button"

[2020-07-13 10:33] amiskov opened #292 "Improve modal dialogs"
**Is your feature request related to a problem? Please describe.**
Modal dialogs have some design related issues. Modals have fixed heights and they become cropped when a server-side error occurs:
![image](https://user-images.githubusercontent.com/140053/87294272-29377080-c50c-11ea-8c7a-1a9cdfa91737.png)

The same for the desktops:
![image](https://user-images.githubusercontent.com/140053/87294295

[2020-07-13 20:08] lucca65 commented on #292
+1

[2020-07-15 17:50] lucca65 commented on #249
ok @heltonlr. This is pretty hard to do because it requires several updates on the backend as well. We will tackle this one eventually!

[2020-07-15 17:51] lucca65 commented on #106
+1 @RodrigoLeiteF looks like its not happening anymore!

[2020-07-15 17:51] #106 closed

[2020-07-15 17:54] lucca65 commented on #134
@victorgdev ping

[2020-07-16 10:03] #280 closed

[2020-07-16 10:54] heltonlr opened #295 "Ticolone's create account flow"
All changes are finished and are in those 6 screens:

https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=3%3A2206

@lucca65 , Let us know if it's possible to verify with an official Costa Rican Database when the user types their document number (is not a priority).

[2020-07-16 11:00] heltonlr opened #296 "Remove the search bar on the header"
Today, the search bar is only a link to the community page.

**More details, here**
https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=288%3A1172

[2020-07-16 11:11] heltonlr opened #297 "Remove the user name from the dashboard and use the community name"
In some cases, there are communities that are in more than one country (Ecoins Costa Rica, Ecoins Mexico, etc)...we need to identify on the dashboard because only the logo is not sufficient.

Then, we will change the "username" by the "community name"...

Example:
**Welcome to Ecoins Mexico**

**More details, here**
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=564%3A3

[2020-07-16 11:35] heltonlr opened #298 "Changes on Profile and Public profile"
**Defined changes:**

- Show location and map on company profile;
- Remove the "download the 12 words" for both profiles
- Show the new information that was added during registration (https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=3%3A2206)

**More details, here:**
https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=948%3A468

[2020-07-16 12:29] heltonlr opened #299 "Add option in a Features settings"
In Ticolones project we going to hide the following menu items

- Shop;
- Explore (may we hide this to Muda and other communities too);

More details, here:
https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=948%3A689

**Important note:**
If the user disables Shop and Explore, the main menu must hide because it is weird only one item on the menu.

[2020-07-16 14:21] lucca65 commented on #299
@heltonlr hiding explore means what? That's confusing to me because the explore is a public page. So hiding it really does make sense to be a community setting?

Maybe we can make the community hidden from the explore, this would make more sense

Can you share more details on why we are hiding it? Maybe we can just remove this screen entirely (its really not used by any of our communities -- which

[2020-07-16 14:22] lucca65 commented on #296
is there a way to update the component on Figma on cases like this? All the pages except the one from the link has the searcher

[2020-07-16 14:51] heltonlr commented on #296
Sorry @lucca65 , but in Figma, I can't control the size of components to auto adapt when a component is deleted. Will have a hole in all interfaces if I "apply" for all. But, when prioritized, this search going to back.

[2020-07-16 14:59] lucca65 opened #300 "Add support contact information"
**Is your feature request related to a problem? Please describe.**
During the development of #270 we noticed that we need a way to allow users to contact support. Currently there is no way to add community support information

**Describe the solution you'd like**
Adding a setting for adding a WhatsApp / Telegram group and email. Then displaying this on the screens that need it

**Describe alternat

[2020-07-16 14:59] lucca65 commented on #300
Our current schema with the communities is:

There is a person responsible for onboarding and basic support to all the users, if there is something they cannot figure out by themselves, they ping us in slack or WhatsApp.

@heltonlr maybe we can add a feature allowing the users to add a messenger group link or email for support, set on the community configuration page

[2020-07-16 15:00] heltonlr commented on #296
There is this feature at Figma, but had been created after I developed this interfaces 😅

[2020-07-16 15:02] lucca65 commented on #296
lol, I see 😂

[2020-07-16 15:03] heltonlr commented on #300
Good feature @lucca65 , I going to add on backlog.

[2020-07-16 15:04] lucca65 commented on #300
ok, I will assign this for you until we have the screens @heltonlr

[2020-07-16 15:12] lucca65 commented on #295
@xavier506 kindly sent us this some instructions on how to approach this:

[code]

[2020-07-16 15:35] heltonlr commented on #299
What do you think @muguika? Did You talk about to be visible only in app.cambiatus.io, correct?

Maybe we can remove it entirely as @lucca65 said end only shows it in app.cambiatus.io

🧐

[2020-07-17 03:12] victorgdev opened #301 "Add Action Claim Button on Objectives Page"
**Describe the bug**
Add claim button for the objectives' actions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the objectives page
2. Click on the objective's arrow to open its detailed modal
3. Scroll down to action edit button
4. See error

**Expected behavior**
By the action edit button there should be a claim button

**Screenshots**
![image](https://user-images.githubusercontent

[2020-07-17 14:33] lucca65 commented on #301
@heltonlr why have a claim button here? This is screen is only visible to admins

[2020-07-17 15:04] heltonlr commented on #301
@lucca65 and @victorgdev

Pessoal, desculpem por escrever em português (está corrido hoje)

Então,

Antigamente esta era a única tela onde admins e membros da comunidade acessavam para editar e fazer claim nas ações. Por isso o botão claim estava ai. Com o novo layout, os membros podem fazer claim no dashboard, se isso já foi desenvolvido (não tenho essa informação), o botão claim não é mais neces

[2020-07-17 15:10] lucca65 commented on #301
Translating (roughly)...

If that's the case, then we don't need the button there. Because we still have the old screen do to that, where admins and users can access. Adding this button only to admins is somewhat troublesome if it will be removed soon.

If everyone is ok with it, I think its best to just close this issue and instead focus our efforts into finishing the dashboard's claim section

[2020-07-17 15:15] heltonlr commented on #301
I agree,

**Dashboard with actions:**
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=564%3A3

**New actions admin interfaces:**
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=586%3A2577

Will a meeting be necessary? I am here

[2020-07-17 16:47] lucca65 opened #302 "Add CSS/JS linter"
**Is your feature request related to a problem? Please describe.**
Sometimes during pull requests we end up talking a lot about code styles and linting issues.

**Describe the solution you'd like**
Just add linters and style guides to our build process, so git can check if everything is according to our style guide

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-07-17 18:16] #301 closed

[2020-07-17 18:42] lucca65 commented on #298
This will require us to finish reworking the registration if the community has enabled KYC.

Also we will not remove the download PDF anymore

[2020-07-17 18:58] heltonlr commented on #298
Ok

[2020-07-17 18:58] heltonlr commented on #298
Ok

[2020-07-17 20:05] lucca65 commented on #292
@amiskov I'm assigning this to you for the next! Please feel free to add other Modal improvements you see fit!

[2020-07-17 22:23] #131 closed

[2020-07-18 01:15] lucca65 opened #303 "Add captcha to create account"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-20 17:26] lucca65 opened #304 "Remove explore page"
**Is your feature request related to a problem? Please describe.**
After all the things we've done, its time to remove the explore screen. We discussed on slack and since the explore page is too simple and don't offer any insight for us, its best to remove it for now.

**Describe the solution you'd like**
- Remove explore page
- Remove references only used by that screen
- Remove it from the main

[2020-07-20 18:53] lucca65 commented on #299
ok, just giving some feedback, on slack we discussed this issue and decided to remove the explore tab. Since the show already has a toggle we can safely close this issue

[2020-07-20 18:53] #299 closed

[2020-07-20 18:54] #295 closed

[2020-07-20 18:55] lucca65 commented on #295
I'm closing this because this screen actually relates to a lot of other stuff that is necessary. We will reopen this issue as several other, more detailed, issues

[2020-07-20 19:41] heltonlr commented on #295
Ok @lucca65

[2020-07-20 19:43] heltonlr commented on #299
Right

[2020-07-20 20:07] heltonlr commented on #245
I decided to remove item 2 from the task. We can use the Welcome email instead to inform about the 12 words and the possibilities to download again.

[2020-07-21 12:46] #211 closed

[2020-07-22 15:43] lucca65 commented on #306
We should implement this depending on the language selected

[2020-07-22 22:09] #175 closed

[2020-07-23 11:24] amiskov commented on #264
This will be fixed in #305 PR by the b7129ec commit. @lucca65 the cause of this was just `disabled` property for the `input` which doesn't allow to copy the content. Solved by creating separate `input` of type `text` without `disabled` property, just like it has been done in the Registration.

[2020-07-23 13:35] lucca65 commented on #264
awesome @amiskov! in apple devices it seems to work fine, interesting how different vendors behave differently

[2020-07-23 18:34] #292 closed

[2020-07-23 23:19] lucca65 opened #307 "Update Wallet to use a stronger cryptographic algorithm"
**Is your feature request related to a problem? Please describe.**
So far we are not aware that our wallet is vulnerable to any know issues. But that doesn't mean that we cannot improve it. Quantum Computers can easily break our current algorithm (which is `SHA-256`)

**Describe the solution you'd like**
The strongest algorithm is `AES-256`. The change itself should be pretty straightforward, but

[2020-07-23 23:22] lucca65 commented on #307
@amiskov might find this a fun one! Ping me on Slack, I can share the book that guided my research

[2020-07-27 18:28] lucca65 opened #310 "Update Private Profile to display filled in KYC information 10"
Display new KYC information if the community the user has selected has enabled it.

https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=948%3A468

Update from the 3rd September, related to the Edit Profile page:

- All KYC data and the Name of the User _should not be editable_. We need to keep these fields disabled because they identify the user. User can fill Name and KYC fields o

[2020-07-27 18:29] lucca65 opened #311 "Update Sign Up process to use the new GraphQL mutation and new forms. 40"
It will only be available through invitations and it need to know if the community has enabled KYC in order to render the full form

[2020-07-27 18:32] lucca65 opened #312 "Change invitation flow for existing users 15"
Users that are invited to a KYC enabled community must fill in more data when they are invited. The KYC is related to the user but we need to make sure we have everything during the community invitation process.

Related [Figma designs](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Main-flow?node-id=3%3A2206) with all the fields the user should have filled in to join the community with KYC ena

[2020-07-27 18:32] lucca65 opened #313 "Make the app know if the user don't have KYC filled in 15"
In communities that have KYC enabled we need to find a way to block users actions if their profile is not filled in yet.

This can happen to existing users that removed their KYC information due to privacy reasons

[2020-07-27 18:44] lucca65 opened #314 "Add read only feature toggle for KYC 5"

[2020-07-27 18:49] lucca65 opened #315 "Allow users to delete their KYC information from the profile 10"
Should be finished after cambiatus/backend/issues/58 is finished.

[2020-07-27 18:53] lucca65 opened #316 "Add GraphQL Authentication"
**Is your feature request related to a problem? Please describe.**
We need to update the GraphQL bindings on the frontend to accommodate the new Authentication method introduced by https://github.com/cambiatus/backend/pull/126

**Describe the solution you'd like**
- [x] Update bindings
- [x] Contextualize queries with the logged user
- [x] Update sign_in/sign_up to grab the token and store it on t

[2020-07-28 15:41] #162 closed

[2020-07-28 15:41] #174 closed

[2020-07-28 16:44] #296 closed

[2020-07-28 16:44] #297 closed

[2020-07-28 16:44] #304 closed

[2020-07-28 19:19] amiskov commented on #245
@heltonlr Helton, I'm afraid we can't open PDF in the new tab without showing it to the user... We can't control that for this PDF. I made it to be opened in a new tab on mobile devices but it opens like usual new tab, not in the background.

You can check it [here](https://deploy-preview-317--eager-jepsen-ee4ac5.netlify.app/) (use your phone, desktop browsers work as they were). Please, let me kn

[2020-07-28 20:03] heltonlr commented on #245
Hey @amiskov

On **Android** was correct (MUDA's example), the pdf is downloaded and the user is directed to the login screen. I would like the same to happen on the iPhone. Showing the pdf's tab is bad for our users who don't know how to return to the login's tab.

If it is not possible on iPhone, let's keep it as is.

[2020-07-29 10:54] amiskov commented on #245
After some research, I realized that it's not possible to download PDF in the background in iOS :( We can only open a new tab with PDF. So I leave it as it is for now.

[2020-07-29 12:20] amiskov commented on #306
@lucca65 I had a glance at it a bit, here's what I found out.

We already can access Spanis wordlist like this`bip39.wordlists.spanish`. It looks like we need to tweak the `mnemonic.generateRandom` function a bit to use it.

There's a caveat that needs some investigation. The generated PDF doesn't understand some Spanish letters:
![image](https://user-images.githubusercontent.com/140053/88798229-4

[2020-07-29 12:24] lucca65 commented on #306
+1 That's exactly it. Probably the font we use don't have ç ñ and other characters

That's right. I would be good to have it a way that is easy to add other compatible languages, although catalan and portuguese aren't compatible

[2020-07-29 12:29] amiskov commented on #306
Fine! @lucca65 I'll take this issue then?

[2020-07-29 12:31] lucca65 commented on #306
ok! Good luck bro!

[2020-07-29 12:36] heltonlr commented on #245
Ok @amiskov , at least on Android, we can redirect the users to log in screen. Thanks for research

[2020-07-30 14:03] #245 closed

[2020-07-30 16:48] victorgdev commented on #242
Hey @heltonlr, with the changes from PR[309](https://github.com/cambiatus/frontend/pull/309) are we still changing the layout of the menu as requested in this issue.

Reason I am asking is because without the community tab there is no scroll-x behavior on mobile screen down to 320px of width. Please let me know.

[2020-07-30 16:57] heltonlr commented on #242
I think that problem was solved in this case @victorgdev

[2020-07-30 17:49] #242 closed

[2020-07-31 10:33] amiskov commented on #306
@heltonlr @lucca65 The issue with the missing glyphs from the Spanish alphabet could be solved by introducing a new font for the passphrase. I've chosen OpenSans since it's open-source and we can modify it for our purposes. I removed ligatures from it, so the #289 also will be solved. I think that's quite important because many users use their browsers to view PDFs.

Here's the change illustrated:

[2020-07-31 10:36] lucca65 commented on #306
+1 on this. We had a user with a PDF containing this error last week, she was quite frustrated with it. Moving the text box to open sans will not change a lot and will save us trouble

[2020-07-31 10:46] heltonlr commented on #306
Sure @amiskov , no problems for changing, and thanks for this.

[2020-07-31 13:09] heltonlr opened #319 "Install Fathom in Cambiatus app"
Install Fathom in Cambiatus' app and allow access to:

heltonlr27@gmail.com

ju.cristine20@gmail.com

rafa.chadud.dg@gmail.com

Is it possible see the numbers by Community? Muda, Pulps, etc

[2020-07-31 15:19] #264 closed

[2020-07-31 16:24] lucca65 opened #320 "Try to improve mobile Safari download experience"
Try to open in a new tab only for mobile safari

[2020-07-31 16:24] lucca65 opened #321 "Add translations to auth modal"
Its missing pt-br, es-es and cat-cat

[2020-08-01 12:09] heltonlr commented on #300
@juramos-2020 will do this task.

[2020-08-02 21:31] juramos-2020 opened #323 "Changing the Muda Logo"
**Is your feature request related to a problem? Please describe.**
The logo is too small which makes visibility of the app difficult for users.

**Describe the solution you'd like**
Switch to the attached logo and make it the size of the other icons (profile and notifications)
Place preferably in size 30x30px

**Describe alternatives you've considered**
If it cannot be the same size, it can be the

[2020-08-02 21:39] juramos-2020 commented on #300
Hi @lucca65

make sure this is what you had in mind ...

* these two screens are for administrator navigation *
https://www.figma.com/file/SvDalu5lnFwdHzUQlpro6A/Sporte-App?node-id=1%3A651

* this screen is the user's navigation screen *
https://www.figma.com/file/SvDalu5lnFwdHzUQlpro6A/Sporte-App?node-id=3%3A92

[2020-08-03 13:28] lucca65 commented on #300
@juramos-2020 how does the user access that support modal?

[2020-08-03 13:51] juramos-2020 commented on #300
hi @lucca65  this will be delivered separately. We will put the link for support in the new Footer. Embreve send you.

[2020-08-03 14:33] lucca65 commented on #323
Done!

[2020-08-03 14:33] #323 closed

[2020-08-03 14:39] lucca65 commented on #300
I see @juramos-2020, no problem, we will wait for all the screens to be done before implementing! 💪

[2020-08-03 14:43] juramos-2020 commented on #323
@lucca65 Thanks

[2020-08-04 15:21] amiskov commented on #320
@lucca65 I did some tests with creating a new tab with PDF for mobile Safari and realized that it doesn't bring much benefit.

Safari has the feature that the newly opened tab also has the Back button which leads to the page from which this tab was opened. I thought that the Back button for the new tab with PDF will bring the user to the login screen, but it brings the user to the Registration scr

[2020-08-04 15:21] #320 closed

[2020-08-04 16:57] lucca65 commented on #320
I see. Thanks for the insight and research @amiskov! 💪

[2020-08-04 17:40] rafachadud opened #326 "Update Illustration for Dashboard"
Update the dashboard illustration for the message: "Wooow, god job. You have finished all"

Illustration is provided in ZIP file attached.

Figma Links for the Dashboard:
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=586%3A177

[Dashboard Illustration.zip](https://github.com/cambiatus/frontend/files/5023615/Dashboard.Illustration.zip)

[2020-08-04 18:37] #306 closed

[2020-08-04 19:50] juramos-2020 commented on #300
Hi @lucca65 ,

follow the updated link with the Support screens:

https://www.figma.com/file/h0ZCu8jknGJX1si9iWwekt/Support-Contact?node-id=0%3A1

and the Footer link, where you will have access to Support:

https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=331%3A2262

[2020-08-04 21:20] lucca65 commented on #300
@juramos-2020 it looks amazing! Wow!!

Can you provide an example of a desktop view too?

[2020-08-05 17:42] juramos-2020 commented on #300
Hi @lucca65

follows the version of the footer for desk:

https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=339%3A80

soon i send the support version.

[2020-08-05 18:58] juramos-2020 commented on #300
@lucca65

link of the version of the support for desk:

https://www.figma.com/file/h0ZCu8jknGJX1si9iWwekt/Support-Contact?node-id=16%3A437

[2020-08-05 19:51] #289 closed

[2020-08-05 23:50] #321 closed

[2020-08-05 23:56] lucca65 opened #329 "Shop is not shown on first load"
**Describe the bug**
The shop link don't appear after a login.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with a user that belongs to a community that has the `has_shop` feature as `false`
2. See error

**Expected behavior**
Communities that have shop enabled should always have the link available at the menu

**Screenshots**
N/A

**Cambiatus Env you are using**
It happens on all E

[2020-08-05 23:57] lucca65 commented on #329
@RodrigoLeiteF you are currently working on the new login. I was thinking on adding community info to the new GraphQL login query. Any thoughts?

[2020-08-06 00:20] lucca65 commented on #300
Thanks a lot @juramos-2020! I've made a comment on Figma!

[2020-08-06 14:17] #134 closed

[2020-08-06 14:17] #136 closed

[2020-08-06 16:39] victorgdev opened #333 "PIN requested before user input validation in offer creation form"
**Describe the bug**
Asking for user PIN before validating user inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offer page'
2. Click on 'Create offer'
3. Press the create button without filling form out
4. See error

**Expected behavior**
Form input fields should be validated before PIN request

**Screenshots**
![image](https://user-images.githubusercontent.com/53874965/895575

[2020-08-06 18:12] RodrigoLeiteF commented on #329
If we need the context, that's the best place to get it imo. :+1: from me

[2020-08-06 20:12] lucca65 commented on #333
+1

[2020-08-07 14:09] #282 closed

[2020-08-18 20:24] amiskov commented on #312
Here's how I see the flow:
![image](https://user-images.githubusercontent.com/140053/90560888-7e6c3f00-e1a8-11ea-9f68-eb542943e44b.png)

@lucca65 do I understand everything right?

How do you think, should we allow the existing users to accept invitations and become a company (show 2 additional screens with toggle, like during the registration)? It doesn't seem reasonable (existing users are not c

[2020-08-18 21:12] lucca65 commented on #312
+1. The way I imagined, we would add the migration for the user type, defaulting every existing user to the `natural`  type. Then the invitation for existing users would just ask for the kyc information if needed, if not, it just adds to the community like normal

[2020-08-19 03:06] lucca65 opened #338 "Bump NodeJS version"
Check if its possible to use a newer version of NodeJS to build our project, last time we've checked a packaged required us to use node 12. A lot of security patches have been introduced

[2020-08-19 11:37] amiskov commented on #312
Here's the invitation process flow for the existing user as I think of it:

![image](https://user-images.githubusercontent.com/140053/90630063-0560fc00-e229-11ea-83a2-f6119034355b.png)

[2020-08-25 15:42] SkyLeite opened #344 "Comply to Netlify's Open Source requirements"
**Is your feature request related to a problem? Please describe.**
To become part of Netlify's Open Source plan, we need to make some changes to be approved by their team.

**Describe the solution you'd like**
1. Include a LICENSE file, containing any of the licences listed in https://opensource.org/licenses or https://creativecommons.org/
2. Feature a link to Netlify on the main page of the platf

[2020-08-26 13:25] amiskov commented on #312
It looks like we need the backend part and the mutations for saving, updating, and deleting the KYC user data.

At first glance, it could be like this:

- create `saveKycData` mutation for saving the KYC data:
    + use it during the registration (#311 issue);
    + use it during the invitation of the existing user to the KYC-enabled community (this issue) for the user who hasn't KYC fields field;

[2020-08-27 17:56] amiskov commented on #310
If the current community (selected in the top-left dropdown) has KYC enabled, then the Profile page should have additional fields with the user's KYC information.
![image](https://user-images.githubusercontent.com/140053/91477902-b7429d00-e8a7-11ea-92dd-2a7511be53d8.png)

If the user doesn't fill all the KYC fields then he/she has read-only access to the community and can't sell/buy items, use obj

[2020-08-28 14:17] lucca65 commented on #310
@amiskov maybe we can leave the profile "out" of the scope of the selected community. My line of though is that the profile belongs to the user, not to the community. This is even shown in the UX, as the profile is accessible on the top menu, which has also the language (also not community dependent)

I think that its safe to keep the KYC info shown all times, but on exclusion show which communiti

[2020-08-28 14:17] lucca65 commented on #310
any thoughts on this @heltonlr none of this is on the layouts

[2020-08-28 14:47] heltonlr commented on #310
No problem lucca65 , I think. Let me know if you need some interface.

[2020-08-28 15:17] amiskov commented on #310
I'm really happy that this time I started from the description of the task with my own words :) Thanks for your comments!

Fair enough! User info belongs to the user, I agree! So, these fields are not community dependant, but country dependant. I mean how could we make sure that current MUDA users will not see "Cédula de identidad" in their profiles?

To avoid this we are using the invitation proc

[2020-08-28 17:31] lucca65 commented on #312
We will need to do two mutations on this. Since signup is a non-atomic operation, we will need to make sure the account creation/netlink process finishes before submitting the KYC data. Even if in the screen the process is the same

[2020-08-28 22:24] lucca65 opened #348 "withFeature route fails"
**Describe the bug**
In MUDA, some users are unable to open certain pages, that they were able to before

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://muda.cambiatus.io (or open localhost pointing to MUDA)
2. Access this path: `/community/MUDA/objectives/6/action/13/claim/1786`
3. See error

**Expected behavior**
This link should work as it is a valid claim link.

**Screensho

[2020-08-29 13:22] heltonlr commented on #310
_"Fair enough! User info belongs to the user, I agree! So, these fields are not community dependant, but country dependant. I mean how could we make sure that current MUDA users will not see "Cédula de identidad" in their profiles?"_

Answer= I don't know if I understood correctly, but on the configuration page the admin defines which country KYC will be enabled for, selecting Costa Rica, Muda's m

[2020-08-29 14:39] lucca65 commented on #310
@amiskov Yeah that brings problems, we can only have one type of KYC (which makes sense for most of users but no sense to nomads)

User has one KYC that has **one** KYC address witch in turn has **one** country. We cannot add two different KYC for the same user, at least for now (maybe we will support nomads in the future)

So the KYC can always be displayed at the profile, because it will not cha

[2020-08-29 14:43] lucca65 commented on #310
@heltonlr about your comment:

It cannot work like that, you see, users may have multiple communities, we cannot log them out if they participate on more than one community. That's why we asked you to design a "locked" screen, that don't allow the user to do anything until he/she added the required KYC. The only things allowed is to accept invitations to other communities, use the community switch

[2020-08-30 12:59] heltonlr commented on #310
In fact, we ran a lot to deliver this functionality and we extruded the solution little, even having an alignment meeting with the whole team.

So, let's continue with the interface that Andrew suggested, where the user must enable KYC to continue working in the community. I suggest, if possible, this modal if the user tries to do something that needs KYC

Figma
https://www.figma.com/file/47BEsGEM

[2020-08-31 09:02] amiskov commented on #348
@lucca65 @RodrigoLeiteF This happens in the main repo as well. Try to go to any claim with clicking links, then copy the URL and try to access it by pasting to the address bar. You'll see 404.

[2020-08-31 09:50] amiskov commented on #348
We are checking if `hasObjectives` is `True` in `src/elm/Main.elm:625` before `CompletedLoadSettings` from `src/elm/Session/LoggedIn.elm:717` updates it.

[2020-08-31 14:19] amiskov commented on #348
@RodrigoLeiteF @lucca65 here's what I found so far.

Now, if we have disabled objectives in the community, the backend doesn't check this if we query the Claim and we can get it e.g. from the Graphiql interface. Maybe we should check if the community has Objectives enabled before returning the response with the Claim? I guess it could help us simplify the frontend and get rid of the async issue wi

[2020-08-31 17:42] RodrigoLeiteF commented on #348
I can't think of any drawbacks of going with that approach. Would make the API a bit more expressive as well, since it doesn't make sense for it to expose claims for a community with no objectives. What do you think @lucca65?

[2020-09-01 11:28] amiskov commented on #310
Thank you @heltonlr and @lucca65! I think I can continue the work on the Profile now and maybe will have more questions later!

[2020-09-03 14:48] amiskov commented on #313
@heltonlr @lucca65 Please, check my thoughts on this task and let me know if I missed something or if you have your own thoughts!

The solution is to show the locking screen to the user with empty KYC info when he/she is trying to access the community with KYC enabled. We have [this design](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Ticolones-version?node-id=1497%3A16) for the locking overl

[2020-09-03 14:56] heltonlr commented on #313
I would like to add a button on this screen to enable KYC and the user can fill in the data.  It's possible?

@amiskov andrew

[2020-09-03 14:59] amiskov commented on #313
Yes, sure! It will be pretty convenient.

[2020-09-03 15:01] heltonlr commented on #313
Awesome, button label: "Fill data"

Then, redirect to the form.

[2020-09-07 05:52] amiskov commented on #315
The flow for deleting KYC info:
- The user clicks the "Disallow" button from the [Profile page](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Ticolones-version?node-id=948%3A468).
![image](https://user-images.githubusercontent.com/140053/92352293-6d975500-f0e6-11ea-86a4-580a67f8de89.png)
- A modal confirmation dialog appears with a warning (already implemented in `kyc` branch);
- If the user c

[2020-09-11 17:37] #314 closed

[2020-09-14 17:46] #313 closed

[2020-09-15 02:31] lucca65 opened #352 "Upgrade EOSIO call eos.getKeyAccounts()"
**Is your feature request related to a problem? Please describe.**
After the upgrade to EOSIO 2.0, we should stop using the history API. [Here](https://github.com/cambiatus/frontend/blob/cd9d8e0e29c295ce92ae49fe1841fde90bf70337/src/index.js#L278) we use this old call.

**Describe the solution you'd like**
![IMAGE 2020-09-14 23:29:40](https://user-images.githubusercontent.com/1082127/93158265-2b6fa

[2020-09-15 10:28] #310 closed

[2020-09-15 13:24] lucca65 commented on #319
@heltonlr Whats the access keys for it?

[2020-09-15 13:29] heltonlr commented on #319
I thought you would do all these steps, from generating the keys.  I will provide that then 🤘

[2020-09-15 13:51] lucca65 commented on #319
thanks for helping us out, you folks will be the users, so it's best you have it! 💪

[2020-09-15 15:03] RodrigoLeiteF opened #354 "Default value in select fields don't reflect in the model"
**Describe the bug**
When creating a new KYC account, the default values in the select fields for address are not reflected in the model.

**To Reproduce**
1. Go to the registration page of a kyc-enabled community
2. Select natural or juridical account
3. Check that the `state` select field has a value by default
4. Open the elm debugger and check that the `state` field in the model is `( "", "" )

[2020-09-15 15:07] RodrigoLeiteF opened #355 "Some form fields are not properly validated"
**Describe the bug**
1. The user can type over the allowed number of characters in document type fields
2. Select and address fields are not validated

**To Reproduce**
1. Go to the register page of a kyc-enabled community

**Expected behavior**
The user should not be allowed to type over the allower number of characters (for example, 10 for NITE documents), and address fields should produce error

[2020-09-15 15:09] RodrigoLeiteF opened #356 "Untranslated and/or misnamed fields in KYC forms"
**Describe the bug**
We have untranslated fields in KYC forms.

1. "Document Type" is untranslated
2. "Company name" instead of "Full name" for natural forms

**To Reproduce**
1. Go to the register page of a kyc-enabled community
2. See error

**Cambiatus Env you are using**
Local

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Arch Linux
 - Browser [e.g. chrome, safari

[2020-09-15 17:00] amiskov opened #357 "Improve KYC form in invitation process for existing user"
**Is your feature request related to a problem? Please describe.**
Types/code and error reporting for the KYC form in the invitation process for the existing user (#312) could be improved and/or combined with code from the registration process with KYC forms (#311).

**Describe the solution you'd like**
- For better code organization it's better to share validators/translations and other code in I

[2020-09-15 18:28] amiskov opened #358 "Add the ability to fill in KYC/Address for the user from the Profile"
**Is your feature request related to a problem? Please describe.**
Users should be able to add KYC/Address info at any time, but they should not be able to edit it. Consider [this comment](https://github.com/cambiatus/backend/issues/60#issuecomment-688453692).

**Describe the solution you'd like**
Add the KYC/Address form to the Edit Profile page. See this conversation in #310 for the mockups and

[2020-09-16 10:29] amiskov opened #359 "Case when restrictions are not working"
**Describe the bug**
There's a case when the user without KYC filled has full access to the community with enabled KYC.

**To Reproduce**
Steps to reproduce the behavior:

- The community hasn’t KYC enabled, user can do anything.
- Then, the community enables KYC, and the users without KYC who didn't refresh the page still have full access.

**Expected behavior**
Users without KYC filled should ha

[2020-09-16 10:30] amiskov commented on #359
Possible solution — use a subscription or something like that and notify the frontend about enabling KYC in communities.

[2020-09-16 11:08] #312 closed

[2020-09-16 17:24] lucca65 commented on #359
yeah, this is an exiting edge case, but I say we close this and on #316 we add the need to the session to end after a while due to inactivity. This way we can make sure the app is always up to date, even manually invalidate all tokens when a setting is changed

[2020-09-16 17:27] lucca65 commented on #316
We have to be sure that the auth token can expire when we want to

[2020-09-16 18:18] RodrigoLeiteF commented on #356
Fixed in https://github.com/cambiatus/frontend/pull/341

[2020-09-16 18:18] #356 closed

[2020-09-16 18:19] RodrigoLeiteF commented on #355
Fixed in #341

[2020-09-16 18:19] #355 closed

[2020-09-18 09:35] amiskov opened #361 "Add a map to the company profile page"
**Is your feature request related to a problem? Please describe.**
On the design for the company profile, [there is a map](https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Ticolones-version?node-id=948%3A1007):
![image](https://user-images.githubusercontent.com/140053/93582743-930c4480-f9ab-11ea-8d72-5f7c04e2f045.png)

Now we have a string with an address:
![image](https://user-images.githubuserc

[2020-09-18 11:20] heltonlr commented on #361
Hey @amiskov , I liked the idea that there are the map and de address (string). We can put the map below the "Location."

[2020-09-19 04:53] #315 closed

[2020-09-21 16:49] RodrigoLeiteF commented on #311
Fixed by #341

[2020-09-21 16:49] #311 closed

[2020-09-24 14:41] amiskov commented on #357
In #360 PR the KYC form was moved to a separate module for reusing. The code and translations were also improved.

[2020-09-28 14:10] amiskov opened #372 "Refactor sending the invitation ID in while register"
**Is your feature request related to a problem? Please describe.**
This is not a problem, but code clarification for the future us. The types for Natural/Juridical forms with invitation ID could be more restrictive/straightforward.

**Describe the solution you'd like**
Figure out the types for the forms with/without invitation ID, see #370.

[2020-09-28 15:01] lucca65 opened #373 "Invalid text on account validate input"
**Describe the bug**
The text is wrong on the natural form, when I don't fill all the required characters

<img width="601" alt="Screen Shot 2020-09-28 at 11 57 26" src="https://user-images.githubusercontent.com/1082127/94449243-43373580-0182-11eb-8c81-534c9e130827.png">

[2020-09-28 15:06] lucca65 commented on #372
@amiskov Since you are working on this can you squeeze in another fix? We only send the signup after creating the key and displaying the 12 words. It may happen that the backend fails, we don't do nothing in that case. We should send the sign up to the backend and only after it succeeds we should show the 12 words to download.

One way to simulate this is to accept an invitation for a KYC enabled

[2020-09-28 19:06] amiskov commented on #373
@RodrigoLeiteF there's another case with the same pattern:
![image](https://user-images.githubusercontent.com/140053/94474643-9a66f580-01d6-11eb-83ac-da93078be8e8.png)

[2020-09-28 21:12] RodrigoLeiteF commented on #373
Thanks, I'm on it

[2020-10-01 15:32] #373 closed

[2020-10-01 18:33] #358 closed

[2020-10-03 23:28] lucca65 opened #380 "Add masked input to amount fields"
**Is your feature request related to a problem? Please describe.**
We can now add a mask to the amount input to help our users to fill in the correct precision while filling amounts

Screens that need that inclusion:

- [x] Transfer screen
- [x] Action creation form (there are multiple inputs with that)
- [x] Sale edit/create form

**Describe the solution you'd like**
We already have `elm-input-ex

[2020-10-04 16:55] lucca65 opened #381 "Handle Buy click msg"
**Is your feature request related to a problem? Please describe.**
After buying the product from the Shop got this error. It didn't affect the purchase, just seems like we need to do something with it:
![image](https://user-images.githubusercontent.com/140053/95017386-b567b880-0661-11eb-99c9-b9732654fd6a.png)

**Describe the solution you'd like**
Handle that event properly

**Describe alternatives

[2020-10-04 17:07] lucca65 opened #382 "Add feedback to shop buys"
**Is your feature request related to a problem? Please describe.**
When buying from the shop we don't show feedback if it worked or not. Maybe be related to #381

**Describe the solution you'd like**
Show the feedback msg if it worked

[2020-10-04 19:00] lucca65 opened #383 "Improve function `Eos.assetToString` to auto fill precision"
**Is your feature request related to a problem? Please describe.**
Today we have a function on the module `Eos` called `assetToString` that function is used to convert an asset (combining a `Float` and a `Symbol`) to a string. Right now it does uses `Symbol`s field `precision` to automatically add the necessary `.0`s to the final asset that is sent to the blockchain. We could improve it.

**Descri

[2020-10-05 19:26] lucca65 opened #384 "The notification is not increased after a shop buy"
On the bell, the number is not increased

[2020-10-06 03:48] RodrigoLeiteF commented on #329
Should we close this due to #330, or keep it open for a better implementation in the future?

[2020-10-06 18:42] RodrigoLeiteF commented on #130
Fixed by https://github.com/cambiatus/backend/pull/51

[2020-10-06 18:42] #130 closed

[2020-10-09 18:10] lucca65 opened #388 "Remove docker configs/files"

[2020-10-12 17:55] lucca65 opened #389 "Add the ability to vote on a claim on the ViewClaim page 3"
It should only allow for the validators to do so. Other users won't be able to see the buttons

[2020-10-12 17:57] lucca65 opened #390 "Update the ViewClaim Page to contain new proof information 3"
It must have a modal for showing the picture in more details

[2020-10-12 17:58] lucca65 opened #391 "Update Creating and Editing Action forms to allow for the new photo proof 5"
- [x] Add spans for odd numbers of verifications
- [x] New radio for enabling the photo proof
- [x] New radio for enabling the proof number
- [x] New input for adding proof instructions
- [x] Make the form send/receive data for the fields above from the backend.

[2020-10-12 17:58] lucca65 opened #392 "Update the Claim Verification cards 3"
They appear on both the dashboard and the view claim analysis and analysis history page. It should now allow for the new photo proof information and a modal with a bigger image as well

[2020-10-12 18:07] lucca65 opened #393 "Updating GraphQL usage on the frontend 5"

[2020-10-12 18:10] lucca65 opened #394 "Refactor claims 15"
Improve how we interact with the "Claim Idea" on the frontend app.

[2020-10-14 15:54] #388 closed

[2020-10-14 17:46] lucca65 opened #402 "Shop shows success buy even if there is no balance to buy it"
**Describe the bug**
Shop shows the buy as successful even if it errors on the blockchain

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Try to buy something from the shop that costs more than what you have of balance (use a sale with an exuberant value for safety as some communities allow for negative balance)
3. See error

**Expected behavior**
Show an error message, or at l

[2020-10-14 17:46] lucca65 commented on #402
@victorgdev maybe you can tackle this one, its pretty straight forward

[2020-10-20 21:39] lucca65 commented on #128
@heltonlr does this is still valid? Looks like the new designs the like button don't exist

[2020-10-20 21:39] lucca65 commented on #302
We already have this implemented 💪

[2020-10-20 21:39] #302 closed

[2020-10-20 21:41] #329 closed

[2020-10-20 23:44] heltonlr commented on #128
Correct, it is not a priority, We removed at the new design.

[2020-10-21 00:17] #128 closed

[2020-10-21 10:42] #348 closed

[2020-10-21 10:44] #149 closed

[2020-10-21 10:44] lucca65 commented on #149
this was fixed! 👌

[2020-10-21 10:48] #266 closed

[2020-10-21 10:49] lucca65 commented on #266
after a few months with this issue opened I no longer think this is necessary. it would help during the migration for users that had the old PDF but it's a very limited number of users

[2020-10-21 10:50] #326 closed

[2020-10-21 10:50] #354 closed

[2020-10-21 10:52] lucca65 commented on #298
duplicate of #361

[2020-10-21 10:52] #298 closed

[2020-10-21 14:28] lucca65 opened #407 "Add Plausible"
**Is your feature request related to a problem? Please describe.**
Add Plausible's tracking script to Cambiatus

**Describe the solution you'd like**
Plausible, as other trackers is very straightforward to add:

[code]

The main concern is the domain. Since we actually have multiple envs (demo.cambiatus.io, staging.cambiatus.io, muda.cambiatus.io) we need a way to add this tag in response to what

[2020-10-22 16:17] amiskov opened #409 "Only one (the first) verifier can vote the claim"
**Describe the bug**
I tested Claims on Staging trying to follow all steps for creating, verifying and receiving coins. It looks like we have some things to be fixed.

**To Reproduce**
Here are several users (claimer and verifiers) and their claiming/voting process:
- ✅ `andreystagin` creates a Claim for action "Read SICP for an hour" from "Become a better programmer" objective.
- The validators/v

[2020-10-22 17:48] lucca65 commented on #409
@amiskov First, thanks for the extensive testing, this is indeed a feature that takes effort to test.

Basically we have two problems: **Listing claims** and **Processing votes**

### Listing claims

So this is, for certain a bug that came from backend. We have two queries that respond to the related pages. Although they are very similar, they also have different implementations. Their implementat

[2020-10-23 17:58] #389 closed

[2020-10-23 17:58] #394 closed

[2020-10-23 17:59] #248 closed

[2020-10-26 17:36] amiskov commented on #391
@lucca65, can you please check if I have the right understanding of the create/update Actions mechanics. Here's how I see it, please, correct me if I'm wrong!

On the frontend, new fields for `has_proof_photo`, `has_proof_code`, and `photo_proof_instructions` should be added to `data` field here: https://github.com/cambiatus/frontend/blob/b230fc7f364250eb0b7b10387c28ac0f1eb53b51/src/elm/Page/Commu

[2020-10-26 20:51] lucca65 commented on #391
That is correct @amiskov !

[2020-10-29 06:58] amiskov commented on #409
Fixes for this issues was added on [the contract](https://github.com/cambiatus/contracts/pull/22) and on [the backend](https://github.com/cambiatus/backend/pull/103).

[2020-10-29 06:58] #409 closed

[2020-10-29 18:51] #392 closed

[2020-10-29 18:51] #390 closed

[2020-10-30 16:51] #391 closed

[2020-11-05 10:32] #393 closed

[2020-11-06 15:52] lucca65 opened #418 "Change Login textarea to be a normal input"
So it submits to the next step with the enter key

[2020-11-06 16:13] lucca65 opened #419 "Improve errors handling on frontend"
Following the excellent example of PR #425, we should localize our error messages to be shown. It might cause a strange impression to some users but it will come a long way into helping us figure out what's going on on our contract calls

Here are all the pages where we should handle errors:

- [x] [Shop buy](https://github.com/cambiatus/contracts/blob/1ae0906ba20451794713f6b41af1f750a3b747cd/comm

[2020-11-06 20:30] lucca65 opened #420 "Change favicon to be the community icon"
**Is your feature request related to a problem? Please describe.**
When adding the app as a shortcut on chrome or safari, the logo that appears is from cambiatus, not the community

**Describe the solution you'd like**
Change the favicon of the app to be the same as the community

**Describe alternatives you've considered**
Allow the community to upload 3 custom logos: desktop logo, mobile logo an

[2020-11-09 19:49] #407 closed

[2020-11-10 00:45] lucca65 opened #422 "Show error details while voting on a claim"
**Is your feature request related to a problem? Please describe.**
Users have no feedback when their vote fails

it can have multiple reasons, we log them on sentry but it would be useful to have them displayed somewhere for the user too

**Describe the solution you'd like**
add a collapsible text on the feedback informing the state

**Describe alternatives you've considered**
ask the design team

[2020-11-10 00:45] lucca65 commented on #422
@amiskov just letting you in this!

[2020-11-10 18:29] amiskov commented on #422
Here are my thoughts on this.

While parsing the response from EOS after voting we silently send `(Err Encode.null)` in case of an error. So, we receive just encoded `null` value inside `Err` variant of a `Result` containing the voting outcome:

https://github.com/cambiatus/frontend/blob/ad8113e63e2398ce40f80b1b726bd4f587a70b9e/src/elm/Page/Dashboard.elm#L933-L942

But the EOS send us the response

[2020-11-10 19:02] lucca65 commented on #422
Looks good @amiskov! the only detail I would add is that the code is from EOS, that is all assertions will fail with the same code, so the message is also important `ClaimVoteError String` would be the type to go. Maybe we could expand Feedback type to include optional details that can be shown

[2020-11-10 19:03] lucca65 commented on #422
Maybe be part of the efforts on #419

[2020-11-11 02:01] #382 closed

[2020-11-11 02:19] lucca65 opened #424 "Fix inconsistent state on app load"
<img width="516" alt="Captura de Tela 2020-11-06 às 19 35 57" src="https://user-images.githubusercontent.com/1082127/98757737-e8f9d900-23ab-11eb-940f-3bb24946ba55.png">

Not sure if its noticeable right away, but the token and the community don’t match. The community selector is also not available. Normal operations fail mysteriously.

instructions on how to replicate the bug:
First you have to ge

[2020-11-12 17:51] amiskov commented on #419
@lucca65 Thanks for collecting all those links! I'll take this issue as my next then?

[2020-11-12 20:04] lucca65 commented on #419
@amiskov I do think its important to work on this one next.

Actually I just had an experience that I think we could improve a lot. I think we could work on the error handling to send more info to Sentry. [Sentry has a way set which user is logged when the error happens](https://docs.sentry.io/platforms/javascript/enriching-events/identify-user/). It would be awesome to know which of the events we

[2020-11-12 20:05] lucca65 commented on #419
this can get pretty big pretty fast, we can break this into several issues, but I think making sentry more useful is super important, at least that's what I use the most to help users on the day to day, Let me know your thoughts before we assign and start the work @amiskov

[2020-11-12 20:19] #422 closed

[2020-11-13 14:27] amiskov commented on #419
@lucca65 It's great that we can improve Sentry error reporting! I think we should have a separate issue for that.

For now, I suggest taking a simple step and add error messages to the pages you listed. This task seems to be pretty easy and fast. And then explore Sentry docs and improve reporting for the frontend.

I think it's even more important not to leave our users frustrated with "Oops, some

[2020-11-13 14:35] lucca65 commented on #419
Not sure bro, I got no complaints about this (255 chars, sale creation, oops something went wrong), but we got every day reports about claims failures and login issues. I'll open another issue for Sentry improvements, but the improvements themselves only serve for us to improve our response when facing something that we cannot reproduce, but we can see happening with the user

[2020-11-13 14:43] lucca65 opened #427 "Improve Sentry integration"
**Is your feature request related to a problem? Please describe.**
We got a recurring situation during our support for our users: problems during login or something during the claim process that went wrong and we have no way of finding out what's wrong. Usually we use Sentry to check what went wrong, but we turn out to have tons of events there and its hard to find the exact event we are trying to

[2020-11-13 14:44] lucca65 commented on #419
I'm 100% in adding the feedback to all the blockchain calls, this must be done and will improve a lot the experience (I feel the transfer page REALLY needs this)

[2020-11-13 14:57] amiskov commented on #419
@lucca65 Looks like we really need to concentrate on this now! If you think that improving Sentry reports may help with this, then I'll just start working on it!

[2020-11-13 17:37] lucca65 commented on #419
thinking back you are right @amiskov better to not loose focus and finish this from top to bottom!

[2020-11-17 13:32] amiskov opened #431 "Improve Transfers page"
**Is your feature request related to a problem? Please describe.**
The "Transfer to a friend" page could be improved with some simple but convenient things.

**Describe the solution you'd like**
- [ ] Check the length of the memo (validate this field) before sending the data.
- [ ] Add a counter to the memo textarea (see creating an Action page as an example).
- [ ] While sending a transfer there

[2020-11-17 15:35] lucca65 commented on #283
I'll be closing this in favor of #427

[2020-11-17 15:35] #283 closed

[2020-11-17 15:37] lucca65 commented on #319
closing this in favor of #407

[2020-11-17 15:37] #319 closed

[2020-11-17 15:42] lucca65 commented on #157
soon we will have to work on the search feature, and its a good opportunity to fix that

[2020-11-17 15:42] #157 closed

[2020-11-18 14:50] #427 closed

[2020-11-19 14:36] sentry-io[bot] opened #439 "Clarify <unknown> error"
Sentry Issue: [FRONTEND-2](https://sentry.io/organizations/cambiatus/issues/1074355481/?referrer=github_integration)

[code]

[2020-11-19 14:51] #439 closed

[2020-11-23 16:17] sentry-io[bot] opened #446 "[Impossible Error]Main.GotNotificationMsg.CompletedReading.Ok"
Sentry Issue: [FRONTEND-151](https://sentry.io/organizations/cambiatus/issues/2042232227/?referrer=github_integration)

[code]

[2020-11-23 16:35] lucca65 opened #447 "Study Elm patterns"

[2020-11-23 16:36] lucca65 opened #448 "Study Elm patterns"

[2020-11-23 17:46] sentry-io[bot] opened #449 "Textarea invalid length for description(must be less than 256 characters) - Assertion failure with msg)"
Sentry Issue: [FRONTEND-16G](https://sentry.io/organizations/cambiatus/issues/2048042858/?referrer=github_integration)

[code]

[2020-11-23 19:15] #372 closed

[2020-11-24 17:12] lucca65 commented on #449
closed by #450

[2020-11-24 17:12] #449 closed

[2020-11-24 17:12] lucca65 commented on #449
sorry @victorgdev I only remembered this looking on the notifications after the merge was done

[2020-11-25 11:16] amiskov commented on #424
@lucca65 Maybe this is not so serious as we thought!

That's because the new member has only one community. There's nothing to choose from the selector.

This happens because we don't save the current community to the `localStorage` after registration and logging in. This may be fixed pretty easily, here's [the PR](https://github.com/cambiatus/frontend/pull/452).

[2020-11-25 12:28] #424 closed

[2020-11-27 15:45] lucca65 opened #453 "Experiment with Elm-SPA architecture"
Test out the architecture Elm-SPA uses to see if we can improve, or even change the backbone of our app.

Main goals are:

- Find a way to handle orphanage msgs
- See if its easier to create public/private pages
- See if its easier to add new pages
- See if its easier to create shared elements
- See how we can handle global GraphQL Subscriptions

[2020-11-27 15:46] #447 closed

[2020-11-27 15:47] #448 closed

[2020-11-30 21:21] lucca65 opened #456 "Duplicate claims after login"
**Describe the bug**
We got duplicate claims on the first load of the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have an account on cambiatus and that account is a validator on a single, open claim
2. Login
3. You should see the claim duplicate
4. Reload the page in any other way and you will see only one

**Expected behavior**
We should see only one claim if th

[2020-12-02 12:49] #456 closed

[2020-12-08 21:10] #418 closed

[2020-12-12 23:21] lucca65 opened #465 "Remove “mark as complete” during creation"
**Describe the bug**

Remove “Mark as complete” button from the creation forms, add only on the editing forms.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Action form
2. See error

**Expected behavior**
The button should only appear during edit

**Screenshots**
N/A

**Cambiatus Env you are using**
demo.cambiatus.io and staging.cambiatus.oi

**Desktop (please complete the follow

[2020-12-18 15:30] lucca65 opened #466 "Exclusion of a product fails"
**Describe the bug**
I can exclude a product from the shop but it keep appearing on the "My Offers" listing. If I try to edit or exclude it, I get an "Unexpected error"

Also the exclude button has no styling

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new product on the shop
2. Click on Edit
3. Go to the top and see the "Exclude" word
4. Click the un-styled button to try to exc

[2021-01-05 21:42] lucca65 opened #470 "Improve size of our loading Gif"
**Is your feature request related to a problem? Please describe.**
This is not a bug but rather a optimization to improve our load time. It would be great to make the loading gif smaller, today it takes 502 kb

**Describe the solution you'd like**
An animated SVG

**Describe alternatives you've considered**
Maybe a video? idk we should research

[2021-01-13 18:48] lucca65 opened #471 "Add Search to LoggedIn."
Like we did with Feedback, it should have a panel that is global, independent of the current page.

This panel should query the local storage to get the recent searches.

After a successful reply from the server with the query results, we need to save the query to the local storage as well

The page should have at least three steps:

- Empty with recent research
- All results (can be empty or can

[2021-01-13 19:15] lucca65 opened #472 "Adds contact information to the public profile"
We need to make sure that we only display if the loggedIn user belongs to any of the public profile user communities.

Also extend this logic to KYC information that is displayed on the public profile too.

https://www.figma.com/file/ILiFX32kN5TRQtUhbA0Z5u/New-Shop?node-id=13%3A4356

[2021-01-13 19:15] lucca65 opened #473 "Create "Add a Phone Number" Modal"
This modal has several rules, about when it should appear, including a "New Tag" and some local storage information.

Users will always be prompted as long as they

1) don't fill in their phone
2) havent explicitly asked not to see the modal again

https://www.figma.com/file/ILiFX32kN5TRQtUhbA0Z5u/New-Shop?node-id=4%3A408

[2021-01-13 19:37] lucca65 opened #474 "Update contact information on the Private Profile"

[2021-01-15 14:39] amiskov commented on #471
Here's the Figma [design for the search](https://www.figma.com/file/BWrtIrnhAIsgc6fksy6bcU/Search?node-id=0%3A1&viewport=1010%2C3438%2C0.7584198713302612).

[2021-01-28 16:11] #466 closed

[2021-01-29 07:11] dev-danilosilva commented on #164
Hi everyone,

Is this issue over? Has @felipeasf dived into this one ?

[2021-01-29 18:12] lucca65 commented on #164
Sure go on @dev-danilosilva!

[2021-01-30 03:11] marcjal commented on #474
To solve this issue I need some special privileges? can you indicate a path to this bug?

[2021-01-30 12:34] marcjal commented on #473
How can I help with this issue?

[2021-01-30 22:39] lucca65 commented on #474
hey @marcjal those issues related to phone number require a feature on the backend that still needs to be implemented, I suggest you take a look at this one: https://github.com/cambiatus/frontend/issues/165

[2021-01-30 23:04] marcjal commented on #474
Thanks! Let me check

[2021-02-01 03:59] marcjal commented on #474
@lucca65 are you using a pattern for the branch creation? the branch is created from master?

[2021-02-01 04:38] lucca65 commented on #474
this doesn't really matter, feel free to use whatever

[2021-02-02 03:04] marcjal commented on #165
@lucca65 I need to know some special symbol here I mean in Dashboard page or I have to get some privileges to see this part

- Click on 'Explore'
- Click on 'Create new action'
- Use auto-complete (choose the verifiers input)
- See error

Adjunct an image
![Captura de Tela 2021-02-02 às 00 03 54](https://user-images.githubusercontent.com/9432058/106546529-2a50df00-64ea-11eb-93d1-0fb95b2ef0f3.png)

[2021-02-02 03:05] lucca65 commented on #165
you can just click on transfer, it will have the same selector

[2021-02-02 21:38] marcjal commented on #165
@lucca65  I need some sugestion because I can't find the correct way to do this part. I have this

![Captura de Tela 2021-02-02 às 18 34 20](https://user-images.githubusercontent.com/9432058/106665936-b19f6080-6585-11eb-8c3e-615fffa9d471.png)
![Captura de Tela 2021-02-02 às 18 34 34](https://user-images.githubusercontent.com/9432058/106665942-b3692400-6585-11eb-8d49-84b352c97009.png)
![Captura d

[2021-02-02 21:41] marcjal commented on #165
You can see the border-dotted class in function viewAutoCompleteItem, I'm trying to find the correct place where Profile.selectConfig is called because I have  to see how can I treat my member list to verify for the last and try to not add that class for the last item

[2021-02-02 22:11] marcjal commented on #165
Hehe I was trying to avoid some nested css but I made one that  I think is OK. I'm going to send my PR for review

[2021-02-03 16:42] lucca65 commented on #114
Closing this, we will follow the structure defined here: https://github.com/cambiatus/improvement-proposals/issues/36

[2021-02-03 16:42] #114 closed

[2021-02-03 16:43] lucca65 commented on #152
No longer valid

[2021-02-03 16:43] #152 closed

[2021-02-03 17:51] lucca65 commented on #168
@marcjal this one is way more challenging, please take a look to see if it makes sense to you, If the description is not good enough let me know

[2021-02-03 17:52] lucca65 commented on #168
you can always get examples from other pages with mutations, maybe `Features.elm` can provide a good example on how to do it

[2021-02-03 17:56] #165 closed

[2021-02-03 21:30] marcjal commented on #168
Sounds good! Let me familiarize myself with that Features.elm to get a more overview of the task and whatever doubt I let you know

[2021-02-05 01:45] marcjal commented on #168
@lucca65 I have this
![Captura de Tela 2021-02-04 às 22 41 33](https://user-images.githubusercontent.com/9432058/106978038-3337ef80-673a-11eb-995c-c757f1d1307a.png)

I already created an objective but I don’t know how to create an action, the url is expecting something like this 'http://localhost:3000/community/0,ELMO/objectives/{id_number}/action/new'

I'm trying to replicate this part to later

[2021-02-05 01:47] lucca65 commented on #168
@marcjal please go to the cog (on the dashboard) > Objetives and Action > and from there explore that page

[2021-02-05 01:51] lucca65 commented on #168
btw i loved the name of the community

[2021-02-05 02:08] marcjal commented on #168
@lucca65 I got it so I have a doubt this task is to disable the edit button when the action is completed, so what about this archive button this is not part of this task, right?

[2021-02-05 02:24] lucca65 commented on #168
they are the same, i figure since both are simple enough, it's possible to do a combo here

[2021-02-05 03:34] marcjal commented on #168
Sounds good! Let me recap to get the task in the correct way so for the archive button I have to implement this mutation to update my actual data and show the archived status in the button, the archive button is to be close to edit button?, later if the task is completed don’t let the user edit that action and finally put the status and disable button in this part near to the down arrow (see image

[2021-02-05 05:49] dev-danilosilva commented on #164
According to my tests, the line only breaks when the viewport width is less than 186 px. All the viewport width greater than that, the button behaves as expected.

Do you think that its necessary to modify something in this button, once its very hard to find a narrower device viewport?

[2021-02-05 16:31] lucca65 commented on #168
yeah, in the edit objective page (`/community/{id}/objectives/{objective_id}/edit`) you'll have to add a button called "archive objective" calling that mutation. After that's done, you'll have to implement the designs on the print, checking if the objective is completed and displaying the tag and disabling the buttons

[2021-02-05 17:26] lucca65 commented on #164
you are right @dev-danilosilva we fixed it a while ago and the issue wasn't updated properly. Thanks for the investigation!

[2021-02-05 17:26] #164 closed

[2021-02-05 20:28] dev-danilosilva commented on #465
This problem is already solved. The "Mark as Complete" button appears only in the editing action form.

[2021-02-05 20:53] #465 closed

[2021-02-05 20:53] lucca65 commented on #465
nice! thanks @dev-danilosilva 🙏

[2021-02-07 14:58] lucca65 commented on #453
I've just read in the Elm-spa slack channel that they are working on a new version, and the creator says that its best to [wait for this new v5](https://elmlang.slack.com/archives/CSN4WM1RV/p1610646308004900)

[2021-02-07 15:34] lucca65 commented on #169
it will be addressed on #168

[2021-02-07 15:34] #169 closed

[2021-02-07 15:35] lucca65 commented on #168
Here are the designs to add the archive (or marked as complete) button:

![74680409-4d7e6380-519f-11ea-8f05-8ad8da3cda5b](https://user-images.githubusercontent.com/1082127/107151346-e3774500-6940-11eb-83a4-5ab7a4c577c0.png)