[2021-02-07 21:03] marcjal commented on #168
Thnks! It's going to be a good feature

[2021-02-09 21:39] marcjal commented on #168
Still working on the task I hope to finish it by friday

[2021-02-09 21:39] lucca65 commented on #168
thanks for the ping @marcjal

[2021-02-10 07:14] dev-danilosilva commented on #381
This error is not happening anymore

[2021-02-10 07:26] dev-danilosilva commented on #431
Some questions about this issue:

- Is there a limit to the number of characters on the memo field? If there is, what is a reasonable limit in your opinion ? ( Because since, it is an optional field, this is the only validation I can think of on that field)
-  The pin popup do not appears after the transfer confirmation. Is this a problem ?

[2021-02-10 07:33] dev-danilosilva commented on #163
I can solve this one. Could you assign it to me ?

[2021-02-10 18:15] lucca65 commented on #431
Yes. its 255 characters

**TLDR; No.** The PIN only appears if we need to grab the private key from the local storage, if we already have it no PIN will be requested. You can just reload the page after you sign up and the next transaction will always require the PIN

[2021-02-10 18:16] lucca65 commented on #163
Sure this one is indeed easy enough! Good luck and let us know if you need any assistance! 💪

[2021-02-10 23:35] marcjal commented on #168
Hi @lucca65 I need some information to try to understand my mutation I have this for the configuration

![Captura de Tela 2021-02-10 às 20 32 33](https://user-images.githubusercontent.com/9432058/107586768-5b629b00-6bdf-11eb-8d64-507ea613f568.png)
![Captura de Tela 2021-02-10 às 20 32 55](https://user-images.githubusercontent.com/9432058/107586774-5d2c5e80-6bdf-11eb-97a4-cde3bb686743.png)
![Capt

[2021-02-10 23:36] marcjal commented on #168
And this error
![Captura de Tela 2021-02-10 às 20 35 51](https://user-images.githubusercontent.com/9432058/107586912-9c5aaf80-6bdf-11eb-860f-02aa2da6a7d9.png)

[2021-02-10 23:41] marcjal commented on #168
I don't know why the arguments are Mybe () so this () is a Unit

[2021-02-11 00:43] dev-danilosilva commented on #431
I've added the character counter and a max length to the memo field. The users cannot submit an invalid or inconsistent transfer form data . I think that this is what this issue was about.

But, although the user cannot submit an invalid form, I think the next step that should be taken on this page is to show users what is wrong when they try send wrong data.

[2021-02-11 15:59] lucca65 opened #482 "Add community selector as a "welcome message""
**Is your feature request related to a problem? Please describe.**
Users sometimes don't know on which community they are in, adding a selector after the login would help a lot!

**Describe the solution you'd like**
Make our community selector to be the first thing users see when login in on a community

[2021-02-11 16:00] lucca65 commented on #482
@heltonlr can you provide an Updated modal link here?

[2021-02-11 21:46] lucca65 commented on #431
@dev-danilosilva +1, I also see this issue as the right place to address error callbacks, which we don't support today. Its also not possible to try again, you have to reload the page. Can you fix this in your PR first? Of course if you feel comfortable doing so, let me know!

One good place you can draw inspiration from is the ActionEditor.elm file, there we show the error properly!

@amiskov any

[2021-02-11 21:49] lucca65 commented on #168
I figure this error appeared suddenly for you right? This may be due to your branch not being updated with `master`. We deployed a new version on the backend and the frontend must follow it (PR #480). Update your branch with master and it should be good! 👍

[2021-02-11 21:50] lucca65 commented on #168
if that's not the case, please open a draft PR so its easier for us to grasp your context. Looks like you are having trouble with GraphQL auto generated types... its common, takes a while until you are used to how they work, open the PR and we can give you more specific directions!

[2021-02-12 00:41] dev-danilosilva commented on #431
@lucca65  For sure, I can fix it.

[2021-02-12 13:21] heltonlr commented on #482
Let me know what you think @lucca65 and @amiskov

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=566%3A19

[2021-02-12 15:34] lucca65 opened #483 "Update GraphQL to use the new Authentication"
**Is your feature request related to a problem? Please describe.**
We need to update the GraphQL bindings on the frontend to accommodate the new Authentication method introduced by https://github.com/cambiatus/backend/pull/126

**Describe the solution you'd like**
- [ ] Update bindings
- [ ] Contextualize queries with the logged user
- [ ] Update sign_in/sign_up to grab the token and store it on t

[2021-02-12 16:23] #483 closed

[2021-02-12 16:53] marcjal commented on #168
:( I think that it's my types in the construction of my mutation function maybe I missed something I'm going to send my PR to get that help hehe

[2021-02-12 16:58] marcjal commented on #168
@lucca65 I opened the PR

[2021-02-15 16:29] #471 closed

[2021-02-19 13:43] NeoVier opened #487 "Body scrolls when modal is open"
**Describe the bug**
When a modal is open, the user can still scroll the entire page/background, even by scrolling inside the modal. This is specially bad for mobile users, where it's easier for users to scroll accidentally, and browsers hide/show the URL bar according to the body being scrolled, which can make so that the modal background doesn't cover the entire screen and the modal to not be at

[2021-03-17 19:40] lucca65 opened #492 "Completing Actions sometimes fails"
**Describe the bug**
During the tests of #485, @heltonlr found a bug where an action that was completed was not being correctly updated by `event-source`. We need to investigate further.

**To Reproduce**
We still don't have enough info to debug this

**Expected behavior**
As the action usages are completed, we need to make sure the action is correctly completed as well.

**Screenshots**
N/A

**Ca

[2021-03-17 19:41] #316 closed

[2021-03-18 01:27] #431 closed

[2021-03-19 18:23] lucca65 opened #495 "Implement multi domain support"
Implement multi domain support

- Add screens to configure a subdomain
- Auto redirect the user when changing communities
- Share local storage with all domains

[2021-03-20 20:40] lucca65 opened #497 "Adapt sign up after adding contacts"
**Is your feature request related to a problem? Please describe.**
After the implementations of #472 #474 we need to change up a little bit our sign up process.

**Describe the solution you'd like**
Now it asks for phone if the user is invited to a KYC enabled community, it should stop asking for it as it will now be handled by the contact modal, the difference being that its obligatory if the com

[2021-03-20 20:41] lucca65 commented on #497
@NeoVier just a heads up for what will be next after the basic contact stuff

[2021-03-24 18:57] #472 closed

[2021-03-24 18:57] #473 closed

[2021-03-24 18:57] #474 closed

[2021-03-30 17:02] lucca65 opened #498 "Show out of stock on search"
**Is your feature request related to a problem? Please describe.**
Users are frustrated that when searching for an item, they only know its out of stock after they clicked it.

**Describe the solution you'd like**
Show out of stock on search

**Describe alternatives you've considered**
Show the full card as seem on the shop page, as users are already used to them

**Additional context**
Suggested

[2021-03-31 00:46] NeoVier opened #501 "Login page/auth improvements"
**Is your feature request related to a problem? Please describe.**
The login page has a couple of big problems:
- Some people, on smaller devices, can't see the error messages
- If there is an error after submitting, the user needs to reload the page to try again

Also, on the developer point of view, the `Auth` module is very difficult to grasp, and has a bunch of (hidden) unused things (like som

[2021-04-01 22:18] #498 closed

[2021-04-09 18:03] lucca65 commented on #495
Some considerations we need to keep in mind:

- What we should do when we found a non existing URL. On both logged in (show community selector only) and guest (deny the request completely)
- Show community selector on app.cambiatus.io, or when the user tries to enter a community that the user don't belong to and that don't allow for auto invites
- Auto invites: allow communities to choose if they

[2021-04-10 16:18] #501 closed

[2021-04-14 02:27] NeoVier opened #505 "Fix build action"
**Describe the bug**
Whenever we push commits, a [build action](https://github.com/cambiatus/frontend/blob/master/.github/workflows/on-push-action.yml) runs. Right now, it's failing with the following error:
[code]

**To Reproduce**
To reproduce, you can do the same as the action does:
1. Clone the repo
2. Run `yarn install --production`
3. Run `yarn build`
4. See error

**Expected behavior**
The

[2021-04-14 02:36] NeoVier opened #506 "Fix Netlify deploys"
**Describe the bug**
If you try to login on a Netlify deploy, you will get an "Authentication failed" error

**To Reproduce**
1. Go into a Netlify deploy (you can see a list of them [here](https://app.netlify.com/sites/eager-jepsen-ee4ac5/deploys) (the latest ones, from the support-subdomain branch might not even load):
2. Try to log in with a staging account
3. See the "Authentication failed" err

[2021-04-14 20:41] lucca65 commented on #505
how come we don't have this problem on production? 🤔

[2021-04-14 20:46] NeoVier commented on #505
Are you compiling with the `--production` flag? If so, could it be something with an old `node_modules`? :thinking:

[2021-04-14 20:55] lucca65 commented on #505
we run `yarn build` which is an alias to `yarn bundle` and that command is:

[code]

so yes...

[2021-04-14 21:56] NeoVier commented on #505
Oh, my bad. It's not on `build`/`bundle`, it's on `install`. So `yarn install` and then `yarn build [--production]` works fine, but `yarn install --production` and then `yarn build [--production]` does not.

[2021-04-15 00:21] lucca65 commented on #505
yeah we really don't run install it like that, the pipelines for deploy and for the CI are different. We can solve this by always using `yarn bundle` and add `yarn install --production` to the yarn alias. Because we only run `yarn bundle` when deploying to prod, there is no other scenario. Then the situation would be replicable everywhere and it would even help us improving build time, after all w

[2021-04-15 01:34] NeoVier commented on #505
Yep, sounds good. I haven't gone too deep on our build process and I don't know much webpack, so I'm not really sure how to fix this.

From what I see, we use `react-dev-utils/InterpolateHtmlPlugin` (which is what is causing the issue) on `webpack.config.prod.js` to replace variables like `%PUBLIC_URL%` in the final `index.html` (if I understood that correctly). Maybe there's some other way to do

[2021-04-15 02:09] lucca65 commented on #505
yeah, this is the famous "cornojob" bro... picking cherries among the packages

[2021-04-15 13:50] lucca65 opened #507 "Archive objetive"
Allow objetives to be archived from the frontend. Archived objetives will be only hidden from the interface and this is done using a GraphQL mutation

[2021-04-15 13:51] lucca65 opened #508 "Support more phone numbers"
**Is your feature request related to a problem? Please describe.**
With new communities and users coming into the platform, we need to support phone numbers from more countries

**Describe the solution you'd like**
Support phone numbers from the following countries:
- [x] Portugal
- [x] Canada
- [x] United Kingdom
- [x] New Zealand

**Describe alternatives you've considered**
- Support specific co

[2021-04-15 15:29] lucca65 opened #509 "Redirect to "My Claims" after a claim"
Users are doing too many claims one after the other, to the point its becoming spam. We will have to address this properly soon, but for now lets make their spammy work harder by redirecting them to another page -- "My Claims"

[2021-04-15 20:22] lucca65 opened #510 "Its not possible to delete contact information"
**Is your feature request related to a problem? Please describe.**
There is no button to delete contact information, even with the API supporting it

**Describe the solution you'd like**
A delete/thrash button somewhere.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-04-15 20:26] lucca65 opened #511 "Cant open invitation if I don't have contact information"
**Describe the bug**
Cant open invitation if I don't have contact information

**To Reproduce**
Steps to reproduce the behavior:

1. Be logged in already. Be part of any community and have it selected
2. Be sure to have no contact information
3. Open an invitation for a community you don’t belong yet
4. You should see the “add contact information” modal. That's the error, the modal should only be

[2021-04-15 21:41] NeoVier opened #512 "Can't join community if you're not logged in, but already have an account"
**Describe the bug**
If you try to join a community that needs invites and you're not logged in, it takes you to the registration page. If you then try to log in with an account that already exists but isn't a member of that community, you get an "Auth failed" message instead of being redirected to the invite page. This happens because the invitation id isn't carried over from the registration pag

[2021-04-16 17:55] NeoVier opened #513 "Fix plausible domain"
**Is your feature request related to a problem? Please describe.**
After #494, we need to fix the way we include plausible into our HTML

**Describe the solution you'd like**
Change the data-domain attribute to reflect the community url

**Describe alternatives you've considered**
- Use just `.cambiatus.io` - we wouldn't have details about specific communities
- Add domains manually to plausible

[2021-04-16 21:49] NeoVier commented on #495
Just to keep track of things, here's a TODO list:

- [x] Load appropriate community based on URL
- [x] Store all community data only on `LoggedIn`
- [x] Remove symbols (like `0,CMB`) from URLs
- [x] Add new community configuration pages
  - [x] General information (name, description, subdomain, etc)
  - [x] Currency (inviter reward, invited reward, minimum balance)
- [x] Auto redirect the user whe

[2021-04-21 19:21] NeoVier opened #514 "Renovate community creation page"
# What we have now

The community creation page (`/community/new`) is very old, and doesn't account for some things we support on the blockchain now - it's really basic and only supports information about the community and some basic information about the token.

# What we should have

We should support more options for the token. Here's a list of information we should support:
- Current Supply (i

[2021-04-21 20:37] lucca65 commented on #514
+1!

[2021-04-22 01:41] lucca65 commented on #495
Hey @NeoVier I've started working on the domain support on the backend. Check here: https://github.com/cambiatus/backend/pull/149

[2021-04-23 12:29] juramos-2020 commented on #510
Hi @Lucca @Henrique Buss

Here is the option to delete the contact information.
To remove contact information from the profile the user can also clear the fields and save.

https://www.figma.com/file/ILiFX32kN5TRQtUhbA0Z5u/New-Shop-Contact?node-id=0%3A1

[2021-04-28 02:36] NeoVier commented on #453
Just an update on this, the [version 6](https://www.elm-spa.dev/) of elm-spa was just officially released

[2021-04-30 12:02] #511 closed

[2021-04-30 12:04] lucca65 commented on #509
how is it going @victorgdev?

[2021-04-30 12:26] venomnert commented on #508
Portugal - `+351 xx xxx xxxx`
Canada - `+1 xxx xxx xxxx`
UK - `+44 20 xxxx xxxx`
NZ -` +64 2xxx xxxx(xx)`

[2021-04-30 13:10] victorgdev commented on #509
@lucca65 was initially planning to work on this issue throughout this week, but had to fix the problem with the simulation algorithm on the Neutro app. Started working on this yesterday, my goal is to still finish this issue by the end of today, worst case on Monday.

[2021-04-30 13:18] lucca65 commented on #509
hmm, second week that this happens, since this have some urgency (needs to enter on the next week) I'll assign this to @NeoVier, ok?

[2021-04-30 13:30] victorgdev opened #517 "No failed upload message (Offer Creation)"
**Describe the bug**
There is no failed upload message for when attempting to upload non-image file extension, for instance PDF.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop
2. Click on "Create Offer"
3. Click on "Upload Image"
4. Try to upload a .pdf file
5. See the error (no failed upload message)

**Expected behavior**
Until there is a more general upload feature that allows

[2021-04-30 14:55] #505 closed

[2021-04-30 14:55] #506 closed

[2021-04-30 17:28] NeoVier commented on #508
@heltonlr can we get some flag icons for these countries? They'll be used in the profile contact form and in the "add contact" modal

[2021-04-30 17:52] NeoVier commented on #383
We can use the `Eos.formatSymbolAmount` function introduced in #494 to do this! The difference is that function doesn't add the symbol code (that's useful to use as a placeholder with `View.Form.Input.withCurrency`):

[code]

[2021-04-30 20:43] NeoVier commented on #508
[Here](https://www.figma.com/file/uAZdgsI1d7qW5kyBNWQZp1/flags?node-id=0%3A1) is the flags library we should use (**we should also change the flags we're already using for the ones in this library**)

[2021-05-01 20:57] NeoVier commented on #402
Is this still an issue? When I try to reproduce the behavior as listed, I get an error message:
![2021-05-01-175541_1335x501_scrot](https://user-images.githubusercontent.com/39280468/116794828-8950d080-aaa6-11eb-9e88-ef3d6eefd97c.png)

[2021-05-01 21:02] NeoVier commented on #384
Is this still an issue? Both the buyer's and the seller's bells are updated correctly when I try to buy something from the shop

[2021-05-01 21:37] lucca65 commented on #402
🤔 looks like its fixed then! nice, one less! I love that you are taking the ownership over the frontend @NeoVier, hopefully the code can become a good portfolio for you in the future!

[2021-05-01 21:38] #384 closed

[2021-05-01 21:39] lucca65 commented on #383
nice! just a small composition to fix this!

[2021-05-01 21:40] lucca65 commented on #383
@victorgdev 👀

[2021-05-01 21:42] NeoVier commented on #402
The most important is that I'm enjoying the ride and getting a lot of experience out of it! :rocket:

[2021-05-01 21:42] #402 closed

[2021-05-01 21:43] lucca65 commented on #402
damn, something got into my eye

[2021-05-01 21:44] NeoVier commented on #507
This is the same as #168, right?

[2021-05-01 21:45] lucca65 commented on #507
yeah it is!

[2021-05-01 21:45] #507 closed

[2021-05-01 23:00] #509 closed

[2021-05-03 17:35] lucca65 opened #520 "The back doesn't actually go back"
**Describe the bug**
The app contains several different "back" buttons but none of them actually go back, instead they are hard coded to go to a certain page. This makes stuff confusing

**To Reproduce**
Steps to reproduce the behavior:
A simple example:

1. Go to the community settings page of a community you are admin of
2. Click on "objectives and actions"
2. Click on "back"
3. See error

**Exp

[2021-05-03 17:39] lucca65 opened #521 "We don't store cursorId on the query string params on the analysis page"
**Describe the bug**
When exploring the `/dashboard/analysis` page we don't keep the filters and cursors, so when we click on a specific page and try to go back where we left off, we need to explore again, clicking the "more button" and/or selecting filters again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/dashboard/analysis` page
2. Click on "Show next 16 items"
3. Click on any

[2021-05-03 21:38] #517 closed

[2021-05-04 20:04] #508 closed

[2021-05-04 20:04] #510 closed

[2021-05-04 20:22] NeoVier opened #524 "Mark actions as completed when completing an objective"
**Is your feature request related to a problem? Please describe.**
When we mark an objective as completed, we don't mark the actions under that objective as completed as well.

**Describe the solution you'd like**
We should mark all of the actions of an objective as completed when we mark the objective as completed

**Describe alternatives you've considered**
As @lucca65 pointed out in #519, we mi

[2021-05-04 20:27] #168 closed

[2021-05-05 21:35] NeoVier opened #527 "Improve elm-review rules"
**What we have**
Our `elm-review` rules are very simple right now, which means we still have a lot of unused code. Running `npx elm-review --template jfmengels/elm-review-unused/example` gives us around 700 errors

**Proposal**
We should use stronger rules so we prevent more dead code, have simpler code and some more guarantees

**Why**
- Eliminate dead code
- Simplify code
- Have some guarantees.

[2021-05-06 13:55] lucca65 opened #528 "Add Link to Product"
A lot of users have been adding links to their products on the shop. We need to formalize that, adding a link to the product page.

[2021-05-07 11:54] NeoVier opened #529 "Allow users to resubmit forms if they close the PIN modal"
**Describe the bug**
When you try to update information on Eos (eg updating community data), you need to enter your PIN. For that, we have a modal. However, if instead of  entering the PIN you just close the modal, you can't submit the form again - it's in a loading state, and fields are disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Be logged in
2. If you've just logged in, refre

[2021-05-07 11:55] NeoVier commented on #529
Maybe we could use a `BroadcastMsg` for this!

[2021-05-07 12:31] NeoVier commented on #470
We should also fix it for dark (or just non-white) backgrounds, where we can see some white pixels around it:
![2021-05-07-093015_225x161_scrot](https://user-images.githubusercontent.com/39280468/117449895-e4efe380-af16-11eb-866d-62950a49a998.png)

[2021-05-07 12:40] heltonlr commented on #470
Sure @lucca65 ,

@rafachadud , you created the loading gif. Can you help us?

[2021-05-07 12:44] rafachadud commented on #470
I'll try to create an animated SVG.

[2021-05-07 14:12] NeoVier commented on #470
It works perfectly, thanks @rafachadud

[2021-05-12 02:22] NeoVier opened #533 "Update TailwindCSS"
**What we have**
We're still using tailwind 1.9, while the 2.0 version has been out for around half a year already

**Proposal**
We should update our Tailwind version to 2.0 or 2.1

**Why**
- Tailwind 2.0 introduced a lot of variants we define ourselves in our config file
- Faster build times
- Smaller build sizes
- The documentation defaults to version 2.0, which can be confusing sometimes, becau

[2021-05-12 15:40] lucca65 opened #534 "Add rich link preview to the shop"
**Is your feature request related to a problem? Please describe.**
When users share Cambiatus links it is shown plain, without a preview

**Describe the solution you'd like**
Implement a preview with the product image and the community logo. Maybe with some text like "${user} is selling ${product} on Cambiatus, check it out"

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-05-14 15:49] NeoVier opened #535 "Use automated tests"
**What we have**
Right now we test everything manually, which makes it easy to let some edge cases slip in to the final build. Our development process goes like this right now:

1. Produce code
2. Test locally
3. Fix code if needed
4. Get a review from a teammate, and fix the code if needed. Repeat this until the PR is approved
5. Ask one of the designers to test the PR. If they request changes, g

[2021-05-19 22:52] victorgdev opened #536 "Claim modal"
**What we have**
Specific page for claims `dashboard/analysis/objectives/:objective_id/action/:action_id/claim/:claim_id`

**Proposal**
Implement a modal in the `dashboard/analysis` page that will display `/objectives/:objective_id/action/:action_id/claim/:claim_id`, and would substitute the specific `/objectives/:objective_id/action/:action_id/claim/:claim_id` page.

[Here is the Figma link](http

[2021-05-20 11:54] #470 closed

[2021-05-20 11:54] #482 closed

[2021-05-20 12:06] #495 closed

[2021-05-20 13:33] NeoVier commented on #536
@victorgdev actually, we're keeping `dashboard/analysis`. What we're removing is `/objectives/:objective_id/action/:action_id/claim/:claim_id`, which is the page for a specific claim. That claim will now be shown in a modal. I think it's easier to understand if you actually see what we're doing, so [here is the Figma link](https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id

[2021-05-20 13:34] NeoVier commented on #521
We've decided for a different approach: #536

[2021-05-20 13:34] #521 closed

[2021-05-20 18:35] NeoVier opened #537 "Profile information popup"
**Is your feature request related to a problem? Please describe.**
When you see a user image, you need to click on it to go to the user's profile page to be able to see all their information

**Describe the solution you'd like**
Have some basic information more easily accessible

**Describe alternatives you've considered**
Use a modal/popup to show the user's information. See it for [Mobile](https

[2021-05-21 13:45] lucca65 commented on #537
honestly can't wait for this one!

[2021-05-21 15:00] NeoVier commented on #537
You might be pleasantly surprised today then :eyes:

[2021-05-21 16:01] lucca65 commented on #537
👀 👀 👀 👀

[2021-05-24 19:15] lucca65 opened #540 "Show Token data on the community page"
**What we have**
Currently we show lots of information on the community page: members, transfers, claims, orders, products.
![Captura de Tela 2021-05-24 às 16 02 21](https://user-images.githubusercontent.com/1082127/119395101-6ed6d500-bca9-11eb-9718-ed1cef8bce32.png)

**Proposal**
We could include more info related to the token that the community uses. Here is a sample with some data:
https://www

[2021-05-25 18:00] lucca65 opened #541 "Allow PDF upload on mobile"
**Is your feature request related to a problem? Please describe.**
When uploading a file as evidence for a claim, its not possible to select a PDF on mobile

**Describe the solution you'd like**
File selector should allow me to select a PDF

**Describe alternatives you've considered**
None

**Additional context**
Tested on demo after the newest multidomain version

[2021-05-26 21:45] #537 closed

[2021-05-27 02:24] lucca65 opened #543 "Show balance when transferring"
**Is your feature request related to a problem? Please describe.**
Its really annoying on our monthly claims, I have to recheck my balance every time

**Describe the solution you'd like**
Just show the balance that we already have on the transfer form

**Describe alternatives you've considered**
maybe it can be a modal, but I think the problem would persist even if we do it 🤷

[2021-05-27 09:56] UdattaChowdhury commented on #543
Would like to work on this issue, can you assign it to me? Along with that can you explain what exactly is needed.

[2021-05-27 15:10] lucca65 commented on #543
hey @UdattaChowdhury what a nice surprise!

Yes, please go ahead, you can use the designs of [this page](https://github.com/cambiatus/frontend/blob/4b1126830d3f5342affeb0a65b613afecab08421/src/elm/Page/Shop/Viewer.elm#L518-L521) to display the balance

[2021-05-27 15:42] rafachadud commented on #540
@lucca65 I updated the Figma with minimum supply.

![Screenshot 2021-05-27 at 17 42 42](https://user-images.githubusercontent.com/67650032/119856375-f1ae9880-bf12-11eb-9649-76a005a6f2ba.png)

[2021-05-27 15:45] UdattaChowdhury commented on #543
Sure, please assign it to me.

[2021-05-27 22:01] #520 closed

[2021-05-28 13:17] #487 closed

[2021-05-28 16:37] UdattaChowdhury commented on #543
error frontend@1.9.1: The engine "node" is incompatible with this module. Expected version "14.8.0". Got "14.16.0"
error Found incompatible module.

I am getting this error I don't know why.

[2021-05-28 16:39] lucca65 commented on #543
you are using a different version of node than the project needs. install the correct version and it should go away.

you can use **n** https://www.npmjs.com/package/n

[2021-05-28 17:41] #533 closed

[2021-05-28 18:25] victorgdev opened #550 "In community creation form, field "community custom URL" not required"
**Describe the bug**
Field `COMMUNITY CUSTOM URL` should be required

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `community/new`
2. Fill out the new community form entirely leaving the `COMMUNITY CUSTOM URL` field blank
3. Click CREATE button
4. See error

**Expected behavior**
Do not allow community creation without `COMMUNITY CUSTOM URL`

**Screenshots**
N/A

**Cambiatus Env you

[2021-06-02 18:41] NeoVier opened #552 "Improve sentry error reporting"
**What we have**
We log a lot of errors to sentry that aren't relevant, which makes it so actual relevant issues get buried below these, making it harder to know if there's actually something wrong with the app or not. At the time of this writing, out of the top 6 most recurring events, 4 are related to DOM manipulation, with over 125k combined events.

**Proposal**
Solve or suppress the most recu

[2021-06-03 14:01] #527 closed

[2021-06-03 19:09] NeoVier opened #554 "Standardize all inputs"
**What we have**
We have a (recently) growing `View` module, with useful input components, with a bunch of configurations, that make every input field be standardized. We also have a lot of non-standard `Html.input` fields, which have to be styled individually. That makes it a lot harder for inputs to look the same.

**Proposal**
Create an elm-review rule that forbids the use of functions like `Ht

[2021-06-03 19:10] NeoVier commented on #554
@lucca65 what do you think about this? I think it could be really useful, but it also might be too harsh, idk

[2021-06-03 19:25] lucca65 commented on #554
actually this is an amazing solution. Now this is **actually** using Elm types to our advantage

I love this idea, compiler will tell us about all incorrect occurrences

we could add this to husky and other git hooks too (and of course our github action) to prevent PRs to submit code like this

Bro I love this and i do think this would be a very good first issue for a developer that wants to start

[2021-06-03 20:20] NeoVier commented on #554
We already run elm-review on the pre-push hook, so no extra work needed! Just gotta create that rule :smile:

[2021-06-07 15:35] lucca65 commented on #512
@NeoVier is this still happening?

[2021-06-07 15:42] lucca65 opened #556 "Add alert on My Claims page"
**Is your feature request related to a problem? Please describe.**
Some users do multiple claims, this is a problem as multiple claims make the validator work way harder

**Describe the solution you'd like**
https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=64%3A1073

[2021-06-07 15:43] lucca65 commented on #536
@victorgdev don't forget that we have some new design elements on this page! check figma

[2021-06-07 16:31] lucca65 opened #557 "Tool for checking user balance"
**Is your feature request related to a problem? Please describe.**
There is no way for community admins to check the "events" on a community. We could have a screen where it's possible to search a user and get a bunch of information related to him/she.

**Describe the solution you'd like**
- Show balance
- Show transfers
- Show Claims
- Link to block explorer

[2021-06-07 16:31] lucca65 opened #600 "Tool for checking user balance"
**Is your feature request related to a problem? Please describe.**
There is no way for community admins to check the "events" on a community. We could have a screen where it's possible to search a user and get a bunch of information related to him/she.

**Describe the solution you'd like**
- Show balance
- Show transfers
- Show Claims
- Link to block explorer

[2021-06-07 16:31] lucca65 commented on #557
@rafachadud @juramos-2020 can you help us with a standalone screen that supports this?

[2021-06-07 16:41] rafachadud commented on #557
Hi @lucca65, I'll discuss this feature with @juramos-2020.

Just thinking quickly: would it be too much if we used the current search for that, with an add-on for the admin to see a detailed profile?

[2021-06-07 16:43] lucca65 commented on #557
it wouldn't, but I think an input that autocompletes based on the query would be even better (like the one we have on transfer) this way they could have autocomplete (something we don't have on the search). For the dev team this is really cheap because we will copy the code from the transfer page

[2021-06-07 19:22] NeoVier commented on #512
It's slightly different, but it is still happening. I've updated the issue description for better clarity

[2021-06-07 21:33] lucca65 commented on #512
okay!

[2021-06-07 23:21] NeoVier commented on #556
@lucca65 I assume that "boas práticas da Comunidade" is a link, right? Is it community specific link (if so, where is it coming from?), or is it supposed to be a new route?

[2021-06-07 23:22] lucca65 commented on #556
@heltonlr @juramos-2020 @rafachadud do you know where it should go? its not clear on Figma

[2021-06-08 00:10] heltonlr commented on #556
The idea was create a page about that on webflow, but the content doesn't exist yet. We can begin without that link.

[2021-06-08 01:46] NeoVier commented on #554
@lucca65 I feel like this could be a general rule, and other people might find it useful as well. Is it ok if I publish it as a package under my name?

[2021-06-08 02:25] lucca65 commented on #554
I agree, please do it!

[2021-06-08 11:38] juramos-2020 commented on #557
Hi @lucca65

karla commented to me yesterday about this task and said she would like to talk more about it with me and @rafachadud . Let's set up a meeting and give you feedback.

[2021-06-08 13:23] lucca65 commented on #557
amazing! thanks a lot folks!

[2021-06-08 17:47] NeoVier opened #559 "Show number of votes on claims"
**Is your feature request related to a problem? Please describe.**
In order to know how many people have voted on a claim, people have to click on the claim, open the claim page, and see who has already voted

**Describe the solution you'd like**
Show the number of votes on the claim card and on the claim page

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-06-08 17:47] NeoVier commented on #559
@rafachadud @juramos-2020 do we have a design for this already?

[2021-06-08 17:52] NeoVier opened #560 "Add "Analyzed" and "Needs your vote" tabs on analysis page"
**What we have**
On the analysis page, there is a list of all claims that you have voted and that still need your vote

**Proposal**
We should have separate tabs so it's easier for the validator to see what claims they still need to vote on

**Why**
Make it easier and more organized for validators

**How**
There is already a `claimsAnalysis` query, used in the dashboard, that just shows the claims

[2021-06-08 18:31] juramos-2020 commented on #559
Hi @NeoVier @lucca65 @rafachadud

Now that we have the claim opening a modal, is it still necessary to have this information on the number of votes on the card?

https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=64%3A1413

As you can see on this screen, when you open the modal, the number of people who voted for the claim appears

[2021-06-08 18:33] lucca65 commented on #559
I still think this is needed, because a validator has no way to know if this action requires 3,5, 7 votes.

also since "no one" looks like an user, it can be misleading

It shows who voted on what but not the number done and the number required

[2021-06-08 18:39] juramos-2020 commented on #559
In this case, the number done and the number required should they appear on the card or when opening the modal?

[2021-06-08 18:41] lucca65 commented on #559
I think the numbers could appear on the modal, but on the cards we could have a progress bar, this way validators can quickly inspect the ones needing more attention, without having to open them up or read anything.

here is a quick video with several cards with progress bars on it: https://www.youtube.com/watch?v=juLk17Awr_Q

[2021-06-08 18:45] NeoVier commented on #559
I think it would be nice to have a progress bar like the one from GitHub:
![2021-06-08-154357_129x31_scrot](https://user-images.githubusercontent.com/39280468/121240123-64533880-c870-11eb-8d03-78513e5503cd.png)
Where it shows the number of people that voted yes, the number of people that voted no and the number of people that still have to vote

[2021-06-08 18:46] lucca65 commented on #559
+1! I like the idea of having a notion on how its going just by glancing at it!

[2021-06-08 18:46] juramos-2020 commented on #559
that's right. I also think it makes more sense if this information appears on the card.

we already have something similar on the governance screen. I can do something like this:

https://www.figma.com/file/7Ci3rdDNQQ7KabYyDLE3LY/Governance?node-id=4%3A445

[2021-06-08 18:48] lucca65 commented on #559
I like it @juramos-2020, it could be a little different as we have approvals/reprovals and then missing votes, which could be gray or something like it!

Also we can have a different way to showing it when voting is completed

because lets imagine it requires 5 votes.

3 positives and 2 negatives are complete
3 positives and 2 pending is also complete
3 negatives and 2 positive too.. and so on

co

[2021-06-08 19:08] juramos-2020 commented on #559
Yes, I know.

I can create a proposal until friday. Can be?
@lucca65 @NeoVier

[2021-06-09 13:53] lucca65 commented on #560
actually its not really like that...

check those designs: https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=230%3A0

We have now two tabs: "Need you Vote" and "Analyzed". The first one is already done and its used on `/dashboard`. Analyzed is actually the one we have right now but a little different, because it will no show pending votes (it does right now). We can fix t

[2021-06-09 17:54] lucca65 commented on #559
I love the bars! the colors are bright and visible! Do you think we could bring the status tag (approved, disapproved, pending) more close to the progress bar?

[2021-06-09 18:03] NeoVier commented on #559
I love it @juramos-2020, good job! :fire:

[2021-06-10 12:53] juramos-2020 commented on #559
Hi @lucca65

I made an example to show you what it would like with the tag next to the progress bar. The impression it gives me is that have two elements talking the same thing.

https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=265%3A312

I was think about this... What if on this screen (which shows the already analyzed claim) we used only one of these elements?
We could

[2021-06-10 13:14] juramos-2020 opened #564 "Multiple selection of claims"
**What we have**
A page with all the claims to analyze

**Proposal**
Add the claims selector option so that the Administrator can select multiple options at the same time, gaining agility in completing the claims analysis

**Why**
This feature is to help administrators select multiple claims and be able to approve or disapprove at once.
Because administrators currently analyze claims one by one. M

[2021-06-10 17:03] NeoVier commented on #559
@juramos-2020 Not sure how I feel about not showing the bars on the "Analyzed" page... some people might still want to see how the voting is going, or just know the result from a glance. Maybe we could incorporate the function of the tag on the bar itself and get rid of the tag? What do you think @juramos-2020 @lucca65?

[2021-06-10 23:28] #541 closed

[2021-06-10 23:34] NeoVier opened #565 "Back button behaving weirdly"
**Describe the bug**
There is at least one situation where the back button behaves in a weird manner

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/community`
2. Claim an action
3. Click on the "Back" button
4. Be redirected to `/community/settings`

**Expected behavior**
Be redirected back to `/community`

**Screenshots**
N/A

**Cambiatus Env you are using**
All

**Additional conte

[2021-06-11 01:05] #565 closed

[2021-06-11 08:17] #550 closed

[2021-06-11 12:46] #554 closed

[2021-06-11 16:45] lucca65 commented on #564
@juramos-2020 can you edit the description answering the questions after the titles? This will help us get the context across! I know this is extra work but having good text communication is crucial for remote only teams! 💪

[2021-06-11 17:24] juramos-2020 commented on #564
Oh sorry. Yes, I will do this. 💪

[2021-06-11 19:08] NeoVier commented on #560
Corrected title and description accordingly

[2021-06-11 19:19] NeoVier commented on #560
@rafachadud @juramos-2020 in these designs, what do you think of having the ordination info (descending/ascending) be on the button itself? (Instead of it saying "Sort by", just say "Crescending"/"Ascending" or something like that, with a corresponding icon). I think it makes more sense this way, since we only have two options, and it's always one or the other. What do you think?

[2021-06-12 12:44] juramos-2020 commented on #560
Hi @NeoVier

Clicking in "order by" a modal will be opened with the sorting options.

https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=5%3A620

This component was created with shoppoing in mind, in which we will have other sorting options

Ex:
* highest date
* lowest date
* biggest price
* Lowest price

If we put only "Crescending"/"Ascending" this component will not ser

[2021-06-12 15:46] NeoVier commented on #560
We can have different things on the shop and on the analysis page. I don't see why we should add an extra step for the user if we only have 2 options :thinking: .

It would look the same on the analysis page and the shop, sure, but I don't think it's worth it - the shop doesn't even look like that yet.

But anyway, it's up to you. If you think looking consistent is more important, no problem, just

[2021-06-12 15:53] rafachadud commented on #560
@NeoVier , @juramos-2020

It makes sense to keep it "Ascending" "Descending" order, as we have now in the analysis page.

![IMG_5182](https://user-images.githubusercontent.com/67650032/121781849-faf06400-cba6-11eb-8634-fd74f99f6a8e.PNG)

[2021-06-12 15:54] rafachadud commented on #560
By the way @NeoVier, the User field has a weird shadow, can you take a look at it?

[2021-06-12 15:56] NeoVier commented on #560
@rafachadud what environment is that (staging, demo, prod)? Also, what browser are you on?

[2021-06-12 15:58] rafachadud commented on #560
That's Muda's community, I believe prod (?), Safari browser

[2021-06-12 16:01] rafachadud commented on #560
@NeoVier, the button updated is here
https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=318%3A3299

@juramos-2020, I kept your version as well, and we can put it in the next round when the shop is also redesigned with the filters. 👯

[2021-06-12 16:07] NeoVier commented on #560
Yep, that's prod, I'll take a look and fix it :smile:

[2021-06-12 16:09] NeoVier commented on #560
@rafachadud we still need the filters though, right? Other than the sorting order, we also can select the claimer and claim status: https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=2%3A186.

[2021-06-12 16:15] rafachadud commented on #560
@NeoVier oh yeah, I forgot those hehe

Design updated
https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=230%3A0

[2021-06-12 16:16] NeoVier commented on #560
Awesome @rafachadud :fire: :rocket:

[2021-06-12 17:21] lucca65 commented on #559
i love this solution, because the way the tag is, it's not as visible as it could be...

[2021-06-13 12:34] juramos-2020 commented on #559
Hi @lucca65 and @NeoVier

Here is of the new scren:

https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=230%3A143

[2021-06-13 19:54] NeoVier opened #567 "Fix user selection input styles"
**Describe the bug**
The user selection input box (which comes from `elm-select`) has a slight shadow on the top on iOS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page that has a user selection input. Some examples: `/community/transfer`, `/community/objectives/:objective_id/action/new` (set to manual verification)
2. Look for the user selection input
3. See error

**Expected be

[2021-06-13 20:36] NeoVier commented on #560
@rafachadud @juramos-2020 [this yellow rectangle](https://www.figma.com/file/LTaoCg6DKv6EPQAlt6Fngs/New-analysis-page?node-id=2%3A1861) is only related to the ordination modal, right? We're still going with the filters modal, right?

[2021-06-13 21:22] juramos-2020 commented on #560
that's right @NeoVier is only related to the ordination modal. 😉👍

[2021-06-14 18:04] muguika commented on #557
We are more aligned with this already:   @rafachadud  is working on the first draft, also taking insights from Helton's recent research for Verdes, to get inspiration of what type of information could be more helpful for admins, so they can spot user good/bad  behavior and make better decisions on how to proceed.

For example:  Add search by email, to identify multiple accounts with same email.

V

[2021-06-14 18:11] muguika commented on #552
it would be fantastic also to make the titles or descriptions as "readable" for community builders as possible... so when a community reports to us a problem, we could quickly check what error is happening and help them accordingly.

[2021-06-14 18:17] muguika commented on #524
this could also be added to #540 @rafachadud   like "Completed Objectives" which is fantastic because a community achieving its objectives is the whole purpose of Cambiatus... it should be a little celebration, maybe with a special icon.

[2021-06-14 19:35] lucca65 commented on #524
I love this, from our perspective this was more of a "meh" feature

Glad to visited the repo Karla!

[2021-06-15 14:44] lucca65 opened #568 "Redirect don't work properly"
**Describe the bug**
Now that we are implementing emails, we have a link on the email body, but when clicking on it, I'm taken to the "welcome screen" (even if already logged in). And after login in I'm not redirected to the link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this redirect](https://dhhehfi.r.af.d.sendibt2.com/tr/cl/0-mItfhZCIuJ-9E92AGv8op_2Zaw0AYRzufGnOUSlHoKm3NXLdu

[2021-06-15 17:19] NeoVier opened #569 "Check elm-format before push"
**What we have**
We have a `husky` hook for `pre-push` that checks JS with `standard` and Elm with `elm-review`.

**Proposal**
We should also check Elm with `elm-format`

**Why**
Ensure consistency in our code base. `elm-format` is also checked by our CI/CD pipeline on GitHub, so we should do it locally before push as well.

**How**
Use `elm-format`'s `--validate` flag:

[code]

**Additional conte

[2021-06-15 17:31] muguika commented on #524
come on... nothing is "meh" about Cambiatus :D

[2021-06-16 15:21] NeoVier opened #571 "Redirect to welcome page on demo and production"
**What we have**
If a user enters https://demo.cambiatus.io/ or https://cambiatus.io, they're redirected to https://www.cambiatus.com

**Proposal**
Instead of redirecting to https://cambiatus.com, redirect to https://www.cambiatus.com/welcome or https://www.cambiatus.com/welcome-demo, depending on the current environment

**Why**
Before #494, users could use those URLs (https://cambiatus.io and ht

[2021-06-16 21:37] lucca65 opened #573 "On the add contact modal changing the select don't change the input"
*On Safari*

https://user-images.githubusercontent.com/1082127/122297354-cd225c80-ced1-11eb-8f48-fbf973f40b7a.mov

[2021-06-16 22:24] NeoVier commented on #381
This doesn't seem to be happening anymore. Probably because now there is a handler for that:
![2021-06-16-192342_569x263_scrot](https://user-images.githubusercontent.com/39280468/122302385-69e7f880-ced8-11eb-92b2-603046a8baaf.png)

[2021-06-16 22:24] #381 closed

[2021-06-16 22:27] NeoVier commented on #333
This doesn't happen anymore:
![2021-06-16-192654_447x584_scrot](https://user-images.githubusercontent.com/39280468/122302685-d4993400-ced8-11eb-9933-dc71e5560285.png)

[2021-06-16 22:27] #333 closed

[2021-06-16 22:30] NeoVier commented on #552
+1 on nice error names (we're using Elm after all, famous for it's error messages!), but we should still have descriptions/breadcrumbs that point to where it happened in the code so it's easier for us to fix it

[2021-06-16 22:47] #569 closed

[2021-06-16 22:55] #512 closed

[2021-06-16 22:55] #568 closed

[2021-06-17 19:44] #573 closed

[2021-06-18 01:30] muguika commented on #200
@lucca65  this issue emerged this week with Verdes... could be a good moment to look at it again. I wonder how it could behave now that we also have the "mark as complete" option for Objectives which effectively inactivates all the actions inside the completed objective. Could be possible to reopen an action which is under a completed objective? maybe reasign it to a new objective?

[2021-06-19 21:10] #571 closed

[2021-06-19 21:11] #529 closed

[2021-06-21 16:12] lucca65 opened #579 "Improve transfer list"
**What we have**
A very old, not community aware transfer list. We need to update that

**Proposal**
Improve our transfer view to follow the new design: https://www.figma.com/file/47BEsGEMSWfhTm3zC0ugyA/Ticolones-version?node-id=1%3A421

**Why**
As an effort to improve visibility and as a preparation for the community admin balance tool

**How**
N/A

[2021-06-21 17:14] NeoVier commented on #524
@rafachadud @juramos-2020 can you help us out with this one? Here are some of our thoughts:

- Objectives might have a lot of actions in them, and when we mark the objective as complete, we need to mark each action as complete individually. So it would probably be nice to have some way to show the progress (e.g. "Marking actions as completed - 5 out of 10 completed").
- Completing an objective sho

[2021-06-21 19:04] juramos-2020 commented on #524
Hi @NeoVier

I can think of something to **a way to show progress when the admin clicks "Mark objective as completed"**
but I can only submit a proposal next week. Can be?

[2021-06-21 21:36] NeoVier commented on #524
Sure @juramos-2020 let me know if you need any help!

[2021-06-22 21:09] lucca65 opened #581 "Implement new transfers on dashboard"
Implement the new transfer interface on the dashboard. It should use the new transfer query (https://github.com/cambiatus/backend/issues/176)

[2021-06-23 02:18] victorgdev commented on #559
@lucca65 and @NeoVier can I tackle this issue?

[2021-06-23 02:26] NeoVier commented on #559
@victorgdev go ahead bro! This one should actually be a good first issue :sweat_smile:

You've already seen the part of the code that deals with claims, so you kind of know where to find information on approved/disapproved/pending votes each claim has (and we already have all that information on the frontend), so this one should be :cake:

[2021-06-23 02:44] lucca65 commented on #559
+1000

[2021-06-23 12:40] NeoVier commented on #579
@lucca65 is this a replacement for #237?

[2021-06-23 18:19] lucca65 commented on #579
No, but we can see it as "part of". Timeline will require us to do something similar to what we did on notifications, where we could have several elements of different types. Here we will implement only transfers. The main reason to do this is for the "check balance tool" for admins, which will need a new API. We are due to update transfers, as it one of those old parts of the app we don't touch i

[2021-06-23 22:05] #383 closed

[2021-06-23 22:05] #536 closed

[2021-06-23 23:04] NeoVier opened #583 "Reorganize Token data"
**What we have**
In the Cambiatus structure, we have two main entities/models: Community and Token. On the blockchain, they're completely separate. On the frontend, the Community is pretty well defined, but still has some stuff that's actually related to Tokens, and Tokens aren't very well defined.

**Proposal**
Differentiate everything that belongs to the Token from what belongs to the Community,

[2021-06-23 23:08] #540 closed

[2021-06-24 21:29] NeoVier opened #585 "Create/use a standard way to deal with forms"
**What we have**
Each page has its own strategy when dealing with forms. Some use one library, some use another library, some don't use any library... It's very non-standard

**Proposal**
Create (or use something ready) that allows us to deal with forms "universally". Some requirements I see as essential:
- Abstract and flexible enough so that we can use it everywhere on the app
- Possibility to c

[2021-06-25 18:40] lucca65 commented on #585
+1 to this!

[2021-06-25 18:53] NeoVier commented on #564
@juramos-2020 do we have any designs for this already? We'll need to show a progress indicator just like in #524 (it could even be the same component), to show the progress on each vote

[2021-06-26 10:48] juramos-2020 commented on #564
Hi @NeoVier

it was decided in our last rice session that we will wait to implement "Claim no Modal" and analyze user behavior with this implementation. After that we will reassess the necessity of implementing the selector or not.

[2021-06-28 18:25] rafachadud commented on #557
@lucca65,

I have some previous designs and some questions are popping up, I pinned you on Figma because it is easier to explain with the interfaces.

https://www.figma.com/file/tfVOCXqRgzQ7x4vRg7m6R4/Members-Analysis?node-id=0%3A1

Plus:
- Should the users be able to agree to show this data on their profiles publicly?

[2021-06-29 00:54] lucca65 commented on #557
the more I think about this, more I think its ok to show it. Maybe not the balance, visible only to admins, but transfers and general stats should be public.

One way to fix this easily could be to have this a toggle for the community. This way community admins can solve problems but still see it by themselves every time. Does it make sense to you?

[2021-06-30 11:35] lucca65 commented on #564
in this case, let’s close this issue, we can open a new one or reopen this if needed

[2021-06-30 11:35] #564 closed

[2021-06-30 12:56] #535 closed

[2021-06-30 20:46] NeoVier commented on #524
@juramos-2020 any news on this one?

[2021-07-01 16:15] juramos-2020 commented on #524
Hi @NeoVier @rafachadud

What do you think this proposal?
https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2749%3A9695

Remembering that when you mark an abjective as "complete" automatically all your actions will be marked as "complete" as well. This is the desired behavior. 😉👍

[2021-07-01 16:22] NeoVier commented on #534
Should we use this issue to show previews on more areas of the app? I can imagine some areas where we can use specific previews:

- shop offers
- claims
- transfers
- profiles

We should also probably have a "default" preview, that's shown on all other pages (e.g. the dashboard). In that case, I see two possibilities:

- Show information about Cambiatus itself - Show Cambiatus logo, and some short

[2021-07-01 19:17] juramos-2020 commented on #524
@NeoVier

I need to confirm that this behavior is correct.

[2021-07-01 19:37] NeoVier commented on #524
@juramos-2020  yes, that's the expected behavior **after this issue is done**.

About the designs: Can we have something to indicate progress on marking the actions as complete (maybe a modal)? There's a more detailed explanation on my comment above:

[2021-07-01 19:42] juramos-2020 commented on #524
@NeoVier

Could you explain better what you have in mind?
I had read your comment and understood that it was the progress bar 😅

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2744%3A8915

[2021-07-01 19:47] NeoVier commented on #524
Oh, my bad :sweat_smile:. I mean like a progress indicator that only shows up when the user clicks "Complete objective". It should "freeze" the app (user can't interact with anything), fill up entirely, and only then redirect the user to the other objectives page.

As an example, you know how when you open a figma document there's a loading screen (with the figma logo and a loading bar below it)?

[2021-07-02 11:53] #556 closed

[2021-07-02 11:53] #560 closed

[2021-07-02 17:32] lucca65 commented on #534
backend requirements will be implemented on https://github.com/cambiatus/backend/issues/177

[2021-07-02 19:29] juramos-2020 commented on #524
@NeoVier

would it be more or less that you have in mind?
**obs.:** I'm still going to add the Loading icon. I need Rafa to share it with me so I can't get it to you ready until tomorrow.

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2758%3A9570

[2021-07-02 19:43] NeoVier commented on #524
Yes, that's about it! What do you think about adding a white background behind the bar? And also maybe some text to explain what's happening? (Like "We're completing all the actions in the objective... 1 of 3 completed actions")

Also, can you provide a desktop example, so I know what size it should be?

And if you need it, here's the loading icon we use: https://github.com/cambiatus/frontend/blob

[2021-07-02 20:39] NeoVier commented on #557
@rafachadud I have some questions regarding this screen:

On the "Member's analysis" page (the one with the user search bar), there are card representing users, each on with a "More details" button. When the user clicks the button, how do we show all of that information (Total balance, number of transfers, etc.)?
- Do we redirect to another page (doesn't seem like it)
- Do we expand it like the ob

[2021-07-03 13:58] rafachadud commented on #557
@NeoVier
Regarding the card, it should link to the user's profile. The goal is to have admin only information displayed in the user's profile (like total balance and list of transactions).

Right now we don't have a search based on users, right?

I am refining the UIs, and I'll provide the desktop versions when it's done. o/

[2021-07-03 14:06] rafachadud commented on #557
@lucca65 and @NeoVier,

I updated this tool on Figma: https://www.figma.com/file/tfVOCXqRgzQ7x4vRg7m6R4/Members-Analysis?node-id=0%3A1

The flow I suggest is:
- Admin activates the tool in the community settings (with possibility to open to admin, or everyone)
- Search tool is available, allowing admin to search users by email or username
- Search opens users matching profiles
- Upon clicking, adm

[2021-07-03 19:10] NeoVier commented on #557
Only on forms that you need to select a user (like the one from #567) but I don't think those count :sweat_smile:

Awesome, thanks!

That sounds nice! In this case I do think it makes more sense to just use the existing search bar (@lucca65 is this something we can integrate into the search query?)

I think it makes sense to allow everyone (admins + regular users) to search for other users. The di

[2021-07-04 21:33] lucca65 commented on #557
+1 to this. I don't even think we need the toggle on the first version. Transactions and balance is admin only, but everything else public

[2021-07-05 19:28] NeoVier commented on #524
@lucca65 I'm wondering about this issue... Is there a reason we can't just do one transaction with a bunch of `upsertaction`s marking each action as completed? The drawback is we can't really track real-time progress that way, but it would probably be faster, no?

[2021-07-05 20:24] lucca65 commented on #524
That's actually a great question and I'm glad to hear this. Usually, yes, we could do this, just wrap them in an array and let it rip! The problem here is related to how EOS handle resources. You see, on blockchain we usually have a way to use the miner's services, since they are validating the transaction and all, and that is the fee. Some chains like Ethereum call it gas and it varies in value.

[2021-07-05 20:29] lucca65 commented on #524
its great food for thought! How do humans share limited resources that heal over time? Is it possible to reach consensus on what's actually happening on chain?

on the tradicional web we simply scale until it breaks, and usually we go long ways to reach that "agreeable source of truth", this "consensus". Uber has a consensus within all its database that you really called that rider and is no longe

[2021-07-05 20:42] juramos-2020 commented on #524
Hi @NeoVier sorry for delay

Here is the proposal: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2758%3A9570
What do you think?

I talked to @rafachadud today and she will do the animation on the final screen. But you can pace these progress bar screens while she creates the animation.

[2021-07-05 20:48] lucca65 commented on #524
I loved this progress bar, looks amazingly beautiful!

can we also have a modal explaining the consequences of this to the user? All actions will be completed, etc

[2021-07-05 20:55] juramos-2020 commented on #524
@lucca65
you say: add a modal in this same stream?
Besides having the progress bar with this information, have one more modal?

[2021-07-05 20:57] lucca65 commented on #524
I'm thinking about a way to confirm or at least let the user know what happens after this button is pressed, It may be clear to us, but for new users all those screens can be overwhelming.

it can be a section with an explanation, or maybe a confirmation modal,

[2021-07-05 21:06] NeoVier commented on #524
We already have something like that:

![2021-07-05-180602_903x396_scrot](https://user-images.githubusercontent.com/39280468/124517973-b75ed380-ddbb-11eb-829f-79ba9230b011.png)

Maybe we should adjust the text to say that the actions are going to be marked as complete as well

[2021-07-05 21:09] NeoVier commented on #524
@lucca65 thanks for the amazing explanation, that's really interesting, and it's something we usually don't consider. Thanks for the amazing lesson :moyai:

[2021-07-05 21:09] lucca65 commented on #524
nice! some extra text should be enough for now! 💪

[2021-07-05 21:09] lucca65 commented on #524
gotta love that emoji

[2021-07-05 21:13] NeoVier commented on #524
So, the flow I'm imagining for this is:

1. User clicks on "Complete objective"
2. We show the explanation, and ask for a confirmation
3. User confirms they want to complete the objective
4. We start sending transactions to the blockchain and showing the (amazing btw) loading screen

Now there's a fork I'm not really sure about:

- If every action is completed successfully, we send a mutation to t

[2021-07-05 21:15] lucca65 commented on #524
+1 for the flow so far! I think it should work, the same!

It should be called after its completed, I think this way there is less room for error

Yeah, maybe we can have a retry button, with a simple list with the names of pending actions for archive

[2021-07-06 11:34] juramos-2020 commented on #524
@NeoVier  In this case you will make these implementations of the modal and progress screen while Rafa creates the animation right?

[2021-07-06 12:10] NeoVier commented on #524
@juramos-2020 yes! The only other thing we need is this:

In case something goes wrong when completing some of the actions

[2021-07-06 13:57] NeoVier commented on #524
@juramos-2020 I'm implementing the loading screen right now, and I think there might be some contrast/readability issues with the way we're displaying the loading text right now, because it shows up on top of the text from the objective's title:

![2021-07-06-105121_392x753_scrot](https://user-images.githubusercontent.com/39280468/124611774-24b84600-de48-11eb-9cec-a2bab7421718.png)

What do you th

[2021-07-06 18:47] juramos-2020 commented on #524
Ok @NeoVier

I will do a proposal for this

And this 😉👍

[2021-07-07 23:47] NeoVier commented on #579
@rafachadud @juramos-2020 On the dashboard, we have a list of transfers that the user is a part of. This design shows a filter button that only has the options "All", "Transferred" and "Received". Now we have some new filters we can use:
- date
- direction (whether the current user sent or received the transfer)
- the other user participating on the transfer

Should we include these filters here o

[2021-07-08 01:31] NeoVier commented on #204
Update: This was caused because we were hardcoding `Time.utc` when showing date strings. #587 fixes this by storing a `Time.Zone` on the `Shared` model. `Time.utc` is the only way to create a `Time.Zone` (apart from a `customZone`) without using `Time.here`. We can prevent silly us to use it again in the future with NeoVier/elm-review-no-function-outside-of-modules (apparently that's a pretty good

[2021-07-08 01:36] lucca65 commented on #204
damnnn, this issue was so old it was already with grandkids on college... amazing that the app is now even more protected 🛡️

[2021-07-08 21:24] NeoVier commented on #534
@juramos-2020 @rafachadud With this, we now have the possibility to display the product page for guests as well! I was thinking we could show the same thing, but when the user clicks "Buy", they're redirected to the Login page. What do you think? Is that ok?

[2021-07-09 18:15] NeoVier commented on #534
@lucca65 I had all the structure ready for this, and I couldn't get it to work... upon further research I found out that [the Facebook, Twitter and Whatsapp crawlers don't execute JS](https://stackoverflow.com/questions/25420887/does-facebook-crawler-currently-interpret-javascript-before-parsing-the-dom#25421040). From there, I found two options:

1. Find a way to have server-side rendering. I've

[2021-07-11 22:34] juramos-2020 commented on #524
Hi @lucca65  and @NeoVier

I did some layout tests and I kept thinking about "a simple list with the names of pending actions for archive". There are goals with many actions, and there are actions with very big names. This would make this simple loading modal turn into a huge page full of information, which could be confusing for the user.

For this reason I propose to have a single text talking a

[2021-07-12 01:00] juramos-2020 commented on #524
and here is: https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2759%3A10097

😉👍

[2021-07-12 11:25] juramos-2020 commented on #534
I think this is great. It would be more attractive for the user to enter and be part of the 😉👍

[2021-07-12 14:40] NeoVier commented on #524
Looks amazing @juramos-2020 :heart_eyes:

[2021-07-12 16:44] juramos-2020 commented on #524
I made this proposal considering that when clicking on "try again" the action of completing the objective will be undone and the user will be directed to the previous screen with the objective still incomplete.

I need to confirm with you if this behavior will be possible 😅

[2021-07-12 17:03] NeoVier commented on #524
Yes, that's exactly right. The objective is only marked as complete if/when every single action inside that objective is marked as complete. If one of the actions fails, the objective is not completed

[2021-07-12 17:07] juramos-2020 commented on #524
if it really is necessary to inform the action that could not be completed so that the "try again" action is only applied to it, I can enter eg "action 2/3 could not be completed" and put a link next to " try again"

What do you think @NeoVier @lucca65

[2021-07-12 17:09] lucca65 commented on #524
I think we should show the ones that failed, without redirects

[2021-07-12 17:15] NeoVier commented on #524
@lucca65 if an action fails, should we un-complete the ones that didn't fail? I think we could just leave the ones that were successful as completed (which would make the ones with errors to be not completed), and if the user wants to see which ones failed, they can just go to the objectives page and see which ones aren't completed. My reasoning is, if the user wants to complete the objective, the

[2021-07-12 17:38] NeoVier commented on #579
ping @juramos-2020 @rafachadud

[2021-07-12 18:21] lucca65 commented on #524
no, we are not trying to atomize the operation, only make sure we make the blockchain limitations more easy to handle

[2021-07-12 18:34] juramos-2020 commented on #524
Here is

@lucca65  @NeoVier

from what I understand, the second option would be better due to some limitation of the system, correct?

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2838%3A10762

[2021-07-12 18:49] NeoVier commented on #524
@juramos-2020 both options are doable... I prefer the one on the left, because of this:

I agree with you that some actions might have a long name, and some objectives might have a lot of actions. This modal can become very polluted in those cases if we were to show which ones failed, so I like the option to "Retry all" from the first option (and I also just think the first one looks amazing, it's

[2021-07-12 19:00] juramos-2020 commented on #524
when clicking on "try again" the process could not go back to the beginning?

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2758%3A9570

[2021-07-12 19:05] NeoVier commented on #524
It could. I meant the "I will try later" button :sweat_smile:

[2021-07-12 19:09] juramos-2020 commented on #524
In this case I don't see a problem with the user going back to the previous screen.

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2744%3A9174

Because the modal itself is already reporting that there was an error in completing the objective due to failure to complete some actions.

[2021-07-12 19:22] NeoVier commented on #524
Maybe it's the text on the button that's throwing me off... If the user clicks on "I will try later" (instead of immediately retrying), I assume they want to go do something else right now, and after some time come back and try again. In that case, it doesn't make sense to show the objective editor page, just for the user to click on "Back" (which can be hard to reach for on mobile) or go to the d

[2021-07-12 20:12] juramos-2020 commented on #524
hum... got it.

in this case I think we could direct to this screen where he could see and analyze other goals:

https://www.figma.com/file/nEPG6Dkns8hDVCudVUTEzc/Dashboard?node-id=2744%3A8700

[2021-07-12 20:55] lucca65 commented on #524
@juramos-2020

tem um trecho no Figma que me chamou atenção, não sei se foi um comentário desatualizado ou algo que foi entendido errado, vou tentar esclarecer de qualquer forma que acho que pode ajudar

2 - Ao clicar em “I will try later” o sistema conseguisse retornar a página anterior para que o usuário possa refazer o processo de marcar o objetivo como completo.

Esse "Try again" seguido de "s

[2021-07-12 20:59] lucca65 commented on #524
Então, revisando: Essa tela que estamos falando precisa, ao arquivar um objetivo, ir em uma ação por vez e completá-la. Para que o usuário não tenha que fazer isso ele mesmo, nós estamos dando a chance disso ficar mais fácil. Não é automático, tem que fazer uma a uma.

Randomicamente, uma desses arquivamentos DE AÇAO pode falhar, e por tanto, precisa ir de novo. Não dá pra tentar de novo depois ou

[2021-07-12 21:02] lucca65 commented on #524
Minha sugestão de como devemos prosseguir:

@NeoVier com os designs que temos, podemos fazer td. Progress bar que fica ali até terminar td, se não rolar na primeira tentativa tenta mais 3, se ainda sim não rolar, manda pro sentry e diz pro usuário que deu td certo. Ve se o Sentry loga isso direitinho pra gente alterar manualmente se for preciso de alguma forma, vamos observar como fica

@juramos-2

[2021-07-12 21:57] NeoVier commented on #524
Certo, vou experimentar com o Sentry e ver como vai ficar

+1, essa issue tá demorando (bem) mais do que eu esperava e estamos correndo em círculos... Vou abrir uma issue no improvement-proposals pra podermos discutir melhor, visto que essa é uma funcionalidade que parece bastante importante pra nossa plataforma

[2021-07-12 22:47] muguika commented on #557
+1 on what @lucca65  said... but today we were discussing it and we think it could be useful to have 3 options:

1.  Only admins
2.  Admins + verifiers:  this is the broader leadership group, people supporting the community as verifiers can help monitoring users and behavior not aligned with their objectives.
3. Public

[2021-07-12 23:05] lucca65 commented on #557
In this case, why don't we revive that Teams idea so we could have this information (who is a verifier) back to life? It will make this issue bigger and more broad, but we can make those new options after the teams are implemented

I prefer us to have smaller releases that we can test and check the reaction than a big commitment of time developing big features. How does that sound?

[2021-07-13 15:31] lucca65 opened #588 "The "no one" tag don't show on the claim modal"
**Describe the bug**
When a claim has one disapproved vote and no approved, we don't show "no one" on the approved section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mizu community on staging
2. Open this link: https://mizu.staging.cambiatus.io/objectives/45/action/61/claim/231
3. See error

**Expected behavior**
We should show a `no one` on this case

**Screenshots**
<img width="

[2021-07-13 15:50] lucca65 opened #589 "Make the PIN as hidden by default"
**What we have**
Today the default of the pin is to be shown, the user can toggle this to change to hidden

**Proposal**
Default the value to hidden

**Why**
To improve privacy

**How**
N/A

**Additional context**
Discovered during our Full Team session

[2021-07-13 15:53] NeoVier opened #590 "Cannot join community that requires invite if you're logged in"
**Describe the bug**
If a user who is logged in tries to follow an invite link to join a community they're not a part of, they're redirected to the community selector page, and need to log out to join the community

**To Reproduce**
1. Be logged in
2. Follow an invite link to a community that requires invites and you're not a part of
3. See the community selector page (should be the invite page)

[2021-07-13 15:55] lucca65 opened #591 "Render links on the app"
**Is your feature request related to a problem? Please describe.**
The app don't support links on some texts like:

- Shop descriptors
- Objective descriptors
- Action descriptors
- Memos
- Profile bios

**Describe the solution you'd like**
It would be nice to support those links with a little modal warning "You are being redirected to an outside link, are you sure?" and open it normally. It shoul

[2021-07-13 16:13] lucca65 opened #592 "Remove 256 characters limitation from Actions form"
**What we have**
Today we have 256 characters for the action description and on the validation with photo description

**Proposal**
Simply remove the limitation on those two fields

**Why**
The blockchain already clips the bigger part, and event-source can save it on Postgres normally

**How**
Just remove it!

**Additional context**
Discovered during our Full Team Session on 13 july

[2021-07-13 16:17] NeoVier opened #593 "Show Profile.Summary only when hovering a user's photo"
**What we have**
The Profile.Summary popup (on desktop) shows up when hovering the `div` that holds the user's profile photo and name

**Proposal**
Only show the popup when hovering the user's profile photo directly

**Why**
The popup can be annoying sometimes and it opens too easily

**How**
Move the event that triggers the popup opening

**Additional context**
Requested during our Full-Team Sess

[2021-07-13 16:25] lucca65 commented on #589
nice! this would be nice! If possible, can we have a full list of preferences? I'm thinking to persist some of them in our backend on https://github.com/cambiatus/backend/issues/172

[2021-07-13 21:10] NeoVier commented on #589
Can't think of much else... Other than the language, maybe the timezone could be useful for sending emails at appropriate times? Not sure...

I think the PIN preference could be stored only in localStorage, no? The only other thing I can think of is search words, but idk how useful that would be on the backend

[2021-07-14 00:40] NeoVier opened #595 "Use DatePicker on action creation"
**What we have**
On the action creation form, we have an input to set the limit date of an action. Right now it just uses a plain text field, while on other pages, such as PaymentHistory, we use a [DatePicker](https://package.elm-lang.org/packages/CurrySoftware/elm-datepicker/latest/) component

**Proposal**
Use that same DatePicker widget on the action creation form

**Why**
Different regions use

[2021-07-14 14:19] #524 closed

[2021-07-14 20:25] victorgdev commented on #592
@lucca65 should the char counter be removed as well `View.Form.InputCounter.view shared.translators.tr 256 (getInput form.description)` ?

[2021-07-14 20:27] lucca65 commented on #592
not sure about that code snippet you sent, but no need for the counter

[2021-07-14 21:10] lucca65 commented on #552
One case of bad usage of sentry:

https://sentry.io/organizations/cambiatus/issues/2512681435/?project=1480468&query=is%3Aunresolved

this error is shown but we cannot know the query that generated it!

[2021-07-15 18:01] #590 closed

[2021-07-15 21:24] NeoVier commented on #593
Another solution we could use is only showing the popup if the user has been hovering over the profile picture for a set amount of time (as an example, GitHub does this, you can try it out! Hover over my picture, and the popup only shows up after a second or so of hovering), I think that's a better solution than making the hover area smaller

[2021-07-16 01:55] lucca65 commented on #593
agree! I haven't noticed this, but it indeed take a while!

[2021-07-16 08:19] #559 closed

[2021-07-16 17:44] #581 closed

[2021-07-16 18:23] NeoVier opened #598 "Add Community Broadcast"
**Is your feature request related to a problem? Please describe.**
Communities don't have a good way to communicate with users through our app.

**Describe the solution you'd like**
Allow community leaders to create messages for the entire community, so they can talk about events, what they're doing, etc.

**Describe alternatives you've considered**
We have some designs for this [here](https://www

[2021-07-16 18:25] NeoVier opened #599 "Add Sponsorship (PayPal)"
**Is your feature request related to a problem? Please describe.**
We need more ways to fund our platform and our communities.

**Describe the solution you'd like**
Accept fiat payments, which will go partly to our communities and partly to us

**Describe alternatives you've considered**
We can use PayPal. The Natus project already does this, we can get inspired by that. The backend suport for thi

[2021-07-16 18:26] NeoVier commented on #599
@rafachadud @juramos-2020 do we have any designs for this already?

[2021-07-17 17:40] juramos-2020 commented on #579
Hi @NeoVier sorry for the delay.

I think it makes perfect sense for us to maintain the behavior of opening a modal for these filter cases, as we managed to maintain consistency in the application.

can you do this on backend or will you need a screen?

A question: do these transactions refer to all transactions that the user has within all the communities he is part of? Or are transactions that o

[2021-07-17 20:00] NeoVier commented on #579
The backend part is already done, and it's integrated into the frontend as well. The only thing left is a screen/modal for displaying the filters. I've implemented a draft while implementing the feature, you can see it on the [Dashboard here](https://deploy-preview-587--angry-wing-8fcdd0.netlify.app/dashboard), when you click "filters" on "My timeline". You can see all the options there (date, tra

[2021-07-19 16:13] #361 closed

[2021-07-19 16:45] NeoVier commented on #534
@lucca65 did you get a chance to read my comment above? How should we proceed?

[2021-07-19 17:34] juramos-2020 commented on #599
Yes @NeoVier
We have a design for this.
@rafachadud  developed these screens and will share them with you.
I don't share it because I don't know if she needs to review something.

[2021-07-19 17:43] juramos-2020 commented on #579
wonderful

I just didn't identify this search in the modal. The others are in accordance with the design

[2021-07-19 18:10] rafachadud commented on #599
@NeoVier @juramos-2020,

I did a brief review and it seems okay.
[https://www.figma.com/file/8qgVAV2yFRE8ryzy3UPVJe/Support-the-Community?node-id=0%3A1]

However I do have questions @NeoVier,
1 - Can we set specific amounts on Cambiatus?
2 - The standard account will be the Cambiatus PayPal, or we'll allow each community to have connect their own PayPal account?

And if you have any other comment/

[2021-07-19 18:49] NeoVier commented on #599
Thanks for the designs @rafachadud!

Not sure I understand what you mean... Can you elaborate?

@lucca65 @muguika can you explain how the PayPal integration flow will work?

[2021-07-19 19:24] rafachadud commented on #599
I mean, can we allow the admins to set amounts ($5, $55, $10...), and time periods (monthly, yearly, one time...), or even both (eg. $5 monthly, $55 yearly, $10 one time...) directly on the Cambiatus app? So when the user clicks on "sponsor community" they can choose and then be redirected to the PayPal screen/flow.

The way I designed, the community doesn't set any of those on Cambiatus app itsel

[2021-07-19 20:12] lucca65 commented on #534
I think we should go for the second solution, with a preview on Elixir and a redirect on Nginx! Maybe we should transfer this to the backend? looks like the frontend will do nothing

[2021-07-19 20:19] lucca65 commented on #599
The same way as Natus for this first version, you can grab more insight [here](https://github.com/cambiatus/natus.webapp/pull/31). Just receive a payment. This first version will not have a "back office" for community admins for now! Using https://natus.cambiatus.io may help!

[2021-07-19 20:19] NeoVier commented on #534
+1 on transferring to the backend!

[2021-07-19 21:54] NeoVier commented on #599
Ok, so we will receive the payments directly to the cambiatus account, and from there manually transfer to communities, right?

Also in the "keep it simple" philosophy, I assume we should take any amount (as opposed to what @rafachadud suggested of having fixed amounts), at least in this first version, correct?

[2021-07-19 21:55] lucca65 commented on #599
I think the complexity of having presets is minimal, we can have them. But it could be like Natus, simply an input with some validations.

[2021-07-19 22:31] NeoVier opened #603 "Show celebration when completing objective"
**Is your feature request related to a problem? Please describe.**
As per cambiatus/improvement-proposals#44, we need to celebrate when a community completes an objective.

**Describe the solution you'd like**
Some celebration screen/animation to show when an objective is completed.

**Describe alternatives you've considered**
@rafachadud created [an animation screen](https://www.figma.com/file/nE

[2021-07-20 02:01] lucca65 commented on #603
"as per ... we need to celebrate" lol 😂

[2021-07-20 02:13] NeoVier commented on #603
Lol wording can be hard sometimes :sweat_smile: :rofl:

[2021-07-21 19:20] NeoVier commented on #600
@rafachadud can you provide an example for how the profile should look like with the "Total balance" and "All transfers" parts on desktop?

[2021-07-22 13:35] rafachadud commented on #600
@NeoVier here it goes
[https://www.figma.com/file/tfVOCXqRgzQ7x4vRg7m6R4/Members-Analysis?node-id=79%3A3141](url)

[2021-07-22 21:11] NeoVier opened #606 "Show Completed state on claim"
**Describe the bug**
We have four possible states for claims:
1. Approved
2. Rejected
3. Pending
4. Completed. This one is sort of an edge case. Being completed means the action wasn't approved or rejected, but either the action itself or the objective it belongs to are marked as complete, which means people can't vote on them anymore. In summary, it's a pending claim that can't be voted on anymor

[2021-07-26 16:54] rafachadud commented on #600
@NeoVier I included the search that was missing. Here it goes

[2021-07-26 16:58] lucca65 commented on #600
@rafachadud  the link you sent don't work, you are using the wrong syntax for it .. its () then []

[2021-07-26 17:03] rafachadud commented on #600
@lucca65 I think it's maybe working now. (?)

[2021-07-26 17:07] lucca65 commented on #600
not yet, you can test by clicking on the link 😄

[2021-07-26 17:08] rafachadud commented on #600
On my end it worked .-.

[2021-07-26 17:11] lucca65 commented on #600
idk, for me it opens this page we are right now

[2021-07-26 17:16] lucca65 commented on #600
Here is the right one:

[https://www.figma.com/file/tfVOCXqRgzQ7x4vRg7m6R4/Members-Analysis?node-id=92%3A3387](url)

(url with custom text)[https://www.figma.com/file/tfVOCXqRgzQ7x4vRg7m6R4/Members-Analysis?node-id=92%3A3387]

[2021-07-29 14:05] NeoVier commented on #599
@rafachadud @juramos-2020 looks like [the donation flow linked on figma](https://developer.paypal.com/docs/paypal-payments-standard/integration-guide/checkout-exp-donate/) is deprecated/legacy... The recommended way of accepting payments seems to be the one Natus is using, with these kinds of buttons:

![2021-07-29-110242_560x254_scrot](https://user-images.githubusercontent.com/39280468/127505838-

[2021-07-29 16:44] rafachadud commented on #599
@NeoVier we can use the pill shaped button :D

Do you want me to update in the design or can you do it without it?

[2021-07-29 16:58] NeoVier commented on #599
Nah, I don't think that's necessary, I can do it

[2021-07-30 20:07] NeoVier commented on #599
@rafachadud In the [Sponsor your community modal](https://www.figma.com/file/8qgVAV2yFRE8ryzy3UPVJe/Support-the-Community?node-id=15%3A1390) there's a "Learn More about sponsoring communities" link. Do we have that link? If not, should we just not include that text for now, and add it once we have somewhere to link the user to?

[2021-07-30 20:34] rafachadud commented on #599
@NeoVier we don't have the content for that yet. We can remove the text for now until we have it. :D

[2021-08-02 12:53] #204 closed

[2021-08-02 12:53] #579 closed

[2021-08-02 16:32] lucca65 opened #611 "Add link to block explorer on the profile page"
On both the private and public profile pages, we can add a "see on block explorer" to check user data in more depth

[2021-08-04 22:14] #543 closed

[2021-08-04 22:14] #552 closed

[2021-08-06 14:02] NeoVier commented on #599
@rafachadud @juramos-2020 In the [about page](https://www.figma.com/file/8qgVAV2yFRE8ryzy3UPVJe/Support-the-Community?node-id=13%3A663):

- Do we have content for the "Why sponsor {{community}}?" link? If so, where should it link to?
- How should the new cards ("Our Supporters" and "Sponsor {{community}}") look on larger screens? I think the buttons might look too wide if we just stretch them to f

[2021-08-06 14:44] juramos-2020 commented on #599
hi Henry.  Regarding the link, I don't think we have that content yet.  I'll check with Luiz 😉👍.  about the size of the card, I will think of a proposal to improve this appearance 😉👍

[2021-08-06 15:16] juramos-2020 commented on #599
For now and not to delay delivery.  What do you think about the Our sponsor card being next to the Verdes Sponsor card?

[2021-08-06 15:18] #592 closed

[2021-08-06 15:44] NeoVier commented on #599
The only problem is that the "Our sponsors" card is much taller than the other:
![image](https://user-images.githubusercontent.com/39280468/128536389-aba12ba2-cade-433a-b821-85caf795e511.png)

Maybe we could include some art below the "Sponsor Verdes" card to compensate that though, idk...

We don't really need to hurry on this, there are some missing things from the backend which might take a whi

[2021-08-06 15:48] NeoVier opened #614 "Explore Sentry's User Feedback component"
**Is your feature request related to a problem? Please describe.**
Even with our Sentry integration, sometimes it's still hard to figure out what happened when we log a bug. Having a way for users to give us feedback right when the bug happens could help us in those cases.

**Describe the solution you'd like**
Use a widget or component to collect feedback from users.

**Describe alternatives you'v

[2021-08-06 15:49] NeoVier commented on #614
We should probably wait some time after deploying #605 before we decide on using something like this. That might help us enough (or maybe not, who knows)

[2021-08-06 15:51] lucca65 commented on #614
+1 on waiting a little!

[2021-08-06 15:58] NeoVier opened #615 "Support rich text"
**Is your feature request related to a problem? Please describe.**
People want to have better descriptions for everything, and #601 already helps with that. Now that we have more characters to play with, the next step is supporting some form of rich text.

**Describe the solution you'd like**
We need two things:
- A way to render rich text (it should follow our design system). This would mean pars

[2021-08-06 16:59] juramos-2020 commented on #599
wonder then.  I will work on a proposal for this 😉👍

[2021-08-06 17:27] victorgdev opened #616 "Combine InputCounter and Input modules"
**Describe the issue**
Combine InputCounter and Input modules for code refactoring purposes and better organization.

[2021-08-10 18:52] #600 closed

[2021-08-10 19:36] NeoVier opened #617 "More responsive search"
**What we have**
We only get search results when we press Enter.

**Proposal**
Get search results while we are typing, like the [tailwind docs](https://tailwindcss.com/).

**Why**
Better UX, it would feel faster than having to press enter.

**How**
Do the same thing as pressing Enter, but while the user is typing.

**Additional context**
Suggested by @juramos-2020 on #608

[2021-08-11 00:13] NeoVier opened #618 "Close modal when pressing Esc"
**What we have**
We already close the modal if the user clicks out of it.

**Proposal**
Close the modal when the user presses Esc.

**Why**
Better accessibility, it's kind of expected to happen. Also, it would mean we wouldn't need to listen for all key presses on LoggedIn, making for less spamming on the debug console.

**How**
Listen for key presses, figure out if it's Esc, and call the close Ms

[2021-08-11 01:47] NeoVier commented on #618
We should also try to [trap focus](https://css-tricks.com/a-css-approach-to-trap-focus-inside-of-an-element/) inside modals

[2021-08-11 11:33] lucca65 commented on #618
damn, yes please!! 🤤

[2021-08-11 17:20] muguika opened #621 "Add option to activate/deactivate "Transfer to a friend""
**What we have**
On our Dashboard the feature "Transfer to a friend" is always activated for all communities.

**Proposal**
Make the "Transfer to a friend" feature something admins can activate or deactivate for their communities.

**Why**
Some communities may create their currency as a "reputational token", something that is not meant to be transferred to others. For example: the CMB-GO is not me

[2021-08-13 19:11] lucca65 commented on #611
Here is an example for prod

https://local.bloks.io/account/cambiatus.cm?nodeUrl=http%3A%2F%2Fapp.cambiatus.io&systemDomain=eosio

[2021-08-13 19:16] lucca65 opened #622 "Atualizar a fonte e tipologia do app de acordo com o novo padrão"
**What we have**
Usamos um determinado tamanho de fonte, contraste e espaçamento

**Proposal**
Melhorar a legibilidade e uso geral do app para as novas diretrizes [especificadas aqui](https://www.figma.com/file/rT5DMvPAtvbHSxNBwQENDM/New-shop---v1?node-id=0%3A1

**Why**
Enquanto esperamos atualizações do backend para o novo shop, podemos adiantar essas melhorias, que na realidade afetam todo o app

[2021-08-16 01:18] heltonlr commented on #622
Fala @NeoVier , vamos lá:

Essas são as principais mudanças:

**FONTE PRINCIPAL**
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
color: #333;

**FONTE DOS BOTÕES**
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
color: #FFF;

**FONTE DOS TÍTULOS (Uppercase)**
font-family: Nunito Sans;
font-

[2021-08-18 13:36] NeoVier commented on #513
Update: We now have a project on plausible for Verdes. We should use `data-domain=verdes.cambiatus.io` on the plausible script when we're in verdes. We can generalize this to any prod community (at the moment, we have Muda and Verdes), and expect that, if/when there's a new prod community, we'll have a new plausible project.

[2021-08-19 01:38] NeoVier commented on #622
@heltonlr pode confirmar pra mim se vamos usar [Nunito](https://fonts.google.com/specimen/Nunito) ou [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)? No figma aparecem as duas (mas com o mesmo nome na propriedade `font-family`). Por exemplo, o feedback de falha usa uma (sans) e o de sucesso mostra outra (normal). A diferença parece ser que a Nunito Sans é mais arredondada.

[2021-08-19 01:43] #611 closed

[2021-08-19 08:00] #616 closed

[2021-08-19 10:31] heltonlr commented on #622
Algo saiu errado com esse feedbacks de sucesso...nós vamos usar apenas a **Nunito Sans**, @NeoVier

[2021-08-19 20:01] NeoVier commented on #528
Can we consider this closed with #619 ?

[2021-08-20 18:37] lucca65 commented on #344
After using Netlify for a while without any problems I think its safe to close

[2021-08-20 18:37] #344 closed

[2021-08-21 00:26] #591 closed

[2021-08-21 00:26] #615 closed

[2021-08-21 23:15] #588 closed

[2021-08-24 01:44] #589 closed

[2021-08-25 19:18] juramos-2020 opened #630 "Add side spacing on account creation screen"
**What we have**
Uma tela de criação de conta sem espaçamento nas laterais

**Proposal**
I would like to add spacing on the side of the account creation screen

**Why**
Because at the moment there is no spacing

**How**

**Additional context**
![improvment](https://user-images.githubusercontent.com/67649886/130851627-c8483146-c43a-44bf-9851-39e4f4a0b4c6.jpeg)

[2021-08-31 13:37] #618 closed

[2021-09-03 13:16] #338 closed

[2021-09-03 18:17] lucca65 opened #752 "Improve our adherence to LGPD (lei geral de proteção de dados) and other legislation regarding user privacy"
**Is your feature request related to a problem? Please describe.**
Although we use cookies throughout our platforms (Natus, Cambiatus and our websites) we don't explicitly tell our users about it, giving an explanation on how they are used and how our cookies affect them.

**Describe the solution you'd like**
Maybe we can write up a blog post about it and link it into our websites

**Describe alte

[2021-09-06 15:20] NeoVier opened #638 "Use more accessible HTML"
**What we have**
We don't really consider people with disabilities when developing our app. We don't necessarily follow best practices for screen readers (we don't necessarily use semantic HTML, etc.), and maybe other kinds of disabilities.

**Proposal**
We have enough tools to enforce best practices (see the "How" section below), so we should use/create them. These tools could help us enforce usi

[2021-09-06 20:27] #630 closed

[2021-09-06 21:40] lucca65 commented on #638
This is nice! It would be a thing very aligned with our values, and could fit right if we break it down a little bit, maybe by saving some time to explore and set what our milestones would be to make it work!

[2021-09-07 13:46] NeoVier commented on #638
Yeah, this is going to be a really big one, and it's going to affect the entire app... I'm not sure what's a good way to break it into smaller pieces though... maybe we do it per element/group of elements? (First we do `img`s, then `div`s, then `h1`-`h6`, etc.)

Also, it would be nice to explore different options on how to do this (using `tesk9/accessible-html`, creating an elm-review package, etc

[2021-09-10 15:31] #617 closed

[2021-09-13 21:45] lucca65 opened #639 "Add the ability to Multisig in our wallet"
**What we have**
We currently have a JS wallet on our app. It stores keys, signs transactions and have a locking mechanism that allows users to interact with EOS.

**Proposal**
We are lacking one basic feature that most wallets have. The ability to use `eosio.msig` contract to propose changes to accounts that require multiple signatures. This doesn't require no alterations into our smart contracts

[2021-09-13 21:47] lucca65 commented on #639
related to #307

[2021-09-13 22:10] NeoVier commented on #639
Wow, that sounds really nice! It feels very aligned with our values and the voting feature we've been talking about for CMBGO

[2021-09-14 17:37] lucca65 commented on #639
it is bro, a new take on how we approach administration stuff, and its fully compatible to what we have, just add one more layer to what we already have. I'm happy that we are finally reaching that level of product maturity!

[2021-09-16 20:49] NeoVier opened #640 "Load community fields incrementally"
**What we have**
We load the entire `Community` object at once. Sometimes we already have the community loaded, but need to refresh a certain field, and we need to query for the entire community again.

**Proposal**
Load only some fields initially. More complex/heavy fields, such as `contributions`, `objectives`, etc. could be loaded as they're needed.

**Why**
This could give us faster load times

[2021-09-16 20:49] NeoVier commented on #640
@lucca65 would love to hear your thoughts about this! It's something I've been thinking about lately, and we should be able to do it with a very nice API and (hopefully) with not so much effort

[2021-09-17 16:02] #380 closed

[2021-09-17 18:47] #595 closed

[2021-09-21 17:53] juramos-2020 commented on #639
Great @lucca65 @NeoVier

I think we have some old screens about it:

https://www.figma.com/file/7Ci3rdDNQQ7KabYyDLE3LY/Governance?node-id=0%3A1

[2021-09-24 17:57] lucca65 commented on #603
@juramos-2020 no hurry, but just to keep in mind!

[2021-09-29 19:43] #640 closed

[2021-10-04 01:21] lucca65 opened #645 "Mudar ordenação padrão das reinvidicações"
**What we have**
Atualmente temos a ordenação padrão como `DESC` nas páginas de claim (`/dashboard`, `/dashboard/analysis` e `/profile/${user}/claims`)

**Proposal**
Mudar a ordenação para que fique por padrão para `ASC`

**Why**
Isso pode deixar claims mais antigas tenderem a ficarem esquecidas, enquanto as mais novas serão priorizadas

**How**
Só trocar a ordenação da query nessas páginas

**Add

[2021-10-08 13:07] NeoVier opened #648 "Recarregar membros da comunidade"
**What we have**
Apenas carregamos o campo `members` da comunidade na primeira vez que o usuário entra no app, ou quando o usuário faz login

**Proposal**
Recarregar o campo `members`, sem ter que recarregar a comunidade inteira. Podemos recarregar na tela de transferências, ou até periodicamente

**Why**
Alguns novos usuários não aparecem quando os admins da MUDA pesquisam por eles. Provavelmente

[2021-10-12 00:27] #606 closed

[2021-10-16 00:45] henriquecbuss opened #651 "Notification subscription decoding error"
**Describe the bug**
We're getting many errors a day regarding the notification subscription we use. All or most of them seem to be from a single user, so maybe they're doing something weird, or maybe they let the tab open and come back to it, I don't really know. It probably happens because we subscribe to the notifications more than once, so when we get the result from it, it's outdated and has

[2021-10-21 13:21] #599 closed

[2021-10-21 18:33] #651 closed, assigned to henriquecbuss

[2021-10-23 00:10] NeoVier commented on #598
@juramos-2020 [Os comunicados têm reações](https://www.figma.com/file/De9z2EjpGRkfsEXVzfj9u2/Support-Broadcast?node-id=471%3A5233). Como será a seleção dessas reações? Pode ser qualquer emoji (Se não, quais podem ser)? Tem um menu, como aqui no GitHub? Poderia fazer um exemplo no figma?

[2021-11-01 13:54] NeoVier commented on #585
I've seen a lot of people on the Elm community recommend [hecrj/composable-form](https://package.elm-lang.org/packages/hecrj/composable-form/latest/), and I've recently tried it out on a [quick side project](https://github.com/NeoVier/mycontacts-frontend). I talk a little about my experience with it in the README of that project, but the main point I can see as not great is that we use custom type

[2021-11-01 18:44] lucca65 opened #655 "Weird image display on the shop"
**Describe the bug**
Some images don't load on the shop listing, or don't show anything although the product does have images

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Muda's Shop (https://muda.cambiatus.io)
2. ctrl+F your way with the word "comp"
3. See error

Some cases on the shop don't display images correctly, like:
- https://muda.cambiatus.io/shop/1034
- https://muda.cambia

[2021-11-03 14:14] NeoVier commented on #655
@lucca65 seems like the problem is when we create an offer. If the user hasn't supplied an image, we send an empty string instead of a url (from what I've tested, if we send `null` or don't include the `image` field, the eos transaction fails - the image field is a required string). And then when we fetch the offer (using graphql), we get `Just ""` on the image field.

A simple solution is just to

[2021-11-03 15:11] lucca65 commented on #655
On the contract I think the max we can do now is start requiring that the string contains a certain length. As far as I know we cannot have optional or null values on the contract. For the event-source ingestion I think it is quite easy to check for "" and save it as NULL, since our database does support it. I'll send a quick fix for it in the coming minutes.

[2021-11-03 15:17] lucca65 commented on #655
change on event-source ✅

[2021-11-03 17:19] NeoVier commented on #655
Since that doesn't deal with offers that have already been created, I've opened #656 , which also addresses some minor stuff we talked about during our meeting!

[2021-11-03 18:04] lucca65 commented on #655
sweet!

[2021-11-05 17:52] lucca65 opened #657 "Shop facelift"
**What we have**
Our shop is now one of the few interfaces we haven't improved in a while, it surely needs some improvements

**Proposal**
As part of our efforts on #622, we currently are improving our elements to be more accessible and visible, the idea is to follow the best we can the designs on https://www.figma.com/file/rT5DMvPAtvbHSxNBwQENDM/New-shop---v1?node-id=1672%3A6427 without having to

[2021-11-05 21:34] #655 closed

[2021-11-12 18:20] lucca65 opened #659 "Depending on the selected language, the menu profile icons get small"
**Describe the bug**
Depending on the selected language the profile menu icons get really tiny, to a point that they look like a small square

**To Reproduce**
Steps to reproduce the behavior:
1. Open any logged page
2. Change to portuguese or English
3. See error

**Expected behavior**
The icons should be the same size regardless of the text

**Screenshots**

<img width="132" alt="Captura de Tela

[2021-11-15 11:52] #598 closed

[2021-11-15 18:56] juramos-2020 opened #660 "Melhorar o design da tela de perfil na versão Desktop"
**What we have**
Precisamos melhorar a tela de perfil na versão Desktop

**Proposal**
Reposicionar as informações do perfil de uma forma que não seja preciso usar o scrool
Adicionar mais espaçamento no menu pop-up do perfil

**Why**
O scrool faz com que as informações fiquem escondidas

**How**
If you have thought on how we should implement this improvement, describe it here.

**Additional context

[2021-11-22 19:10] NeoVier opened #661 "Add link to terms of service"
**Is your feature request related to a problem? Please describe.**
Users should consent to our terms of service

**Describe the solution you'd like**
Add a link to our terms of service on the app

**Describe alternatives you've considered**
Add a link to the footer, as proposed by @juramos-2020 on slack: https://www.figma.com/file/pjrI6ovITeudHw8CYYY7HV/Terms-%26-Conditions-%7C-Cookie-%26-LGPD?nod

[2021-11-22 19:18] NeoVier opened #662 "Fix bugs from the sponsorship release"
**Describe the bug**
- The spanish translation on the modal requesting for sponsor, it should read "**Haz tu** contribución ..." instead of "Haga su contribución ..."
- The label on the contribution amount is too large and doesn't wrap on small screens

**To Reproduce**
Steps to reproduce the behavior:
1. Log into the app on a community that has the sponsorship feature configured
2. Select spanish

[2021-11-23 13:38] juramos-2020 opened #663 "Alterar a palavra "Patrocinar" por "Apoiar" na versão PT-BR do Broadcast (#598)"
**What we have**
Na versão em Português do Broadcast temos alguma a palavra "patrocinar" e "apoiar" representando a mesma ação.

**Proposal**
Alterar todas as palavras "patrocinar" para "apoiar"

**Why**
A palavra "apoiar" tem maior significado para as comunidades

**How**

**Additional context**
A @muguika também ficou de enviar algumas correções da tradução em Espanhol.

[2021-11-23 14:12] juramos-2020 commented on #663
OI @NeoVier
sinalizei aonde encontrei a palavra "Patrocinar" para realizar essa alteração 😉👍
<img width="1867" alt="Group 1020" src="https://user-images.githubusercontent.com/67649886/143039755-345d7f6b-0de0-467b-ae47-5c3426014c51.png">

[2021-11-26 18:32] lucca65 opened #665 "Atualizar as chamadas das actions em nossos contratos"
**What we have**
Hoje temos diversas chamadas para as actions do smart contract da Cambiatus.

**Proposal**
Com a finalização da primeira etapa da implementação de roles, através do PR https://github.com/cambiatus/contracts/pull/33, precisamos atualizar as chamadas para algumas ações que agora precisam de mais dados ou tem nomes diferentes de parâmetros

**Why**
Para podermos avançar com a funcion

[2021-12-07 14:12] juramos-2020 commented on #661
Ola @NeoVier e @lucca65

Atualizei a descrição da issue com a condição para os usuários que não aceitarem os termos e condições.

Estou trabalhando no novo dashboard que esses usuários serão inseridos 😉👍

[2021-12-12 01:04] juramos-2020 commented on #661
Olá @NeoVier e @lucca65

Uma dúvida sobre o **novo dashboard que os bad actors serão inseridos**:
Temos como direcionar um tipo de mensagem para cada tipo de problema?  

 ex:  Para os usuários que não aceitaram as Diretrizes mostrar uma mensagem, e para os usuários que tiveram má conduta mostrar outra mensagem.
 [Aqui](https://www.figma.com/file/aeu26EZkqTX6ibtyqQ4x9s/Dashboard-Bad-Actors?node-id

[2021-12-14 19:18] NeoVier commented on #661
Acredito que podemos direcionar a mensagem sim, @juramos-2020. Concordo que fica melhor assim!

[2022-01-10 14:10] rafachadud commented on #622
Hello @lucca65 and @NeoVier, here's a first proposal for updating the page "How to earn ..." for feedback.
[https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/?node-id=303%3A1494](url)

Beyond the new design, the biggest change is that we separated the content into 2 pages "How to earn..." and a community page, dedicated to the community.

I kept all the spaces Helton used before, but I'll document

[2022-01-10 14:56] NeoVier commented on #622
Great @rafachadud! I really like the idea of separating those 2 pages, they've always felt like separate things to me

[2022-01-12 15:08] NeoVier opened #666 "Allow images to be uploaded on rich text editor"
**Is your feature request related to a problem? Please describe.**
Currently, our rich text editor only supports a small set of formatting options, such as links, bold, italic, etc. We should also allow users to upload their own custom images

**Describe the solution you'd like**
Add a button on the editor that allows users to select a file from their file system or from the internet and embed it

[2022-01-12 15:18] NeoVier opened #667 "Add more information about our app in elm-book"
**What we have**
After #658, we started using elm-book to document some form stuff. It's mostly focused on the new Form API, and doesn't include much information beyond that.

**Proposal**
Add more information about our app. Some good points to talk about, in no particular order, would be:
- UpdateResult
- General structure of our app (how it was created with create-elm-app, and follows a structur

[2022-01-17 16:30] lucca65 commented on #622
@NeoVier can you make a new issue for this page implementation? So we can link back here! Can you also add to our board's inbox

[2022-01-17 16:56] NeoVier opened #670 "Update the "How to earn" page"
**What we have**
A page that shows the actions/objectives and some information/numbers about the community, with an old design

**Proposal**
Use a new design, where there are 2 pages:
- actions/objectives
- community info/numbers

**Why**
This is part of our efforts of updating accessibility and the look & feel of the app (#622)

**How**
Use these designs: https://www.figma.com/file/l2HhpioJFpVSUW

[2022-01-17 16:57] NeoVier commented on #622
New issue created here: #670

[2022-01-17 18:50] rafachadud commented on #670
@NeoVier Figma is updated with the spacings and typefaces. Ready to go. :D

I'll work on 2 extra updates regarding this issue:
- Dashboard with the community page link;
- Action with image.

I'll update them soon and let you know.

[2022-01-17 19:14] lucca65 opened #672 "Deactivate Catalan language"
**Is your feature request related to a problem? Please describe.**
We currently have no Catalan users on the platform. What should we do about it?

**Describe the solution you'd like**
As complexity grows bigger and we have to start translating on the backend as well, it might be best to drop support for Catalan entirely

**Describe alternatives you've considered**
Keep translating in a language n

[2022-01-17 19:29] lucca65 opened #673 "Update Authentication"
**What we have**
We've updated our authentication on https://github.com/cambiatus/backend/pull/193 done on our backend

**Proposal**
Implement the necessary protocols to use the new auth

**Why**
Our security protocols on our API is pretty loose, with this we will have a regular, protected API usage on the whole stack

**How**
It will be necessary to implement the steps of our new Auth:

On `http:

[2022-01-17 19:32] lucca65 commented on #622
thanks bro!

[2022-01-18 22:15] lucca65 opened #674 "I can't try again after having an error during objective editing"
**Describe the bug**
After I get an error while trying to update an objective. The behavior is seem after there is an transaction push error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any existing objective
2. Click on "Edit"
3. Force a transaction error, an easy way to do this is to modify the transaction arguments to a invalid format.
4. See error
5. Try again, you will notice

[2022-01-19 21:27] lucca65 opened #675 "Use Feedback for showing submit errors on Shop Editor"
**What we have**
Right now we show a basic, small red text above submit buttons on this form when we have an error

**Proposal**
Use Feedback to display errors

**Why**
Sometimes its hard to see the error message

**How**
We can use the existing Feedback on LoggedIn to display transactions errors. This way we have a standard way of doing this and also will have a way to report errors to sentry

**

[2022-01-25 13:21] NeoVier commented on #666
Since we're messing with this component, we can also handle links better! There are some issues where sometimes the link handler doesn't insert the link. Here's a video example by @juramos-2020: https://www.loom.com/share/732bb2d6aee447e9be298e9c7581d365

[2022-01-25 13:47] NeoVier opened #678 "Bugs caused by extensions"
**Describe the bug**
[It is known that some extensions can cause some weird runtime issues with elm's virtual dom](https://discourse.elm-lang.org/t/runtime-errors-caused-by-chrome-extensions/4381), and our app is no exception. Depending on the extension, it can cause different issues, such as duplicating UI elements, etc.

**To Reproduce**
One known extension (to me) that can cause problems is Bit

[2022-01-25 20:30] NeoVier commented on #678
Here are some more extensions used on Google Chrome that might cause problems (reported by @juramos-2020):

- Avast Online Security & Privacy 21.0.101
- CertiPlugin Chrome 1.12.0
- ColorZilla 2.0
- Documentos Google off-line 1.39.0
- Fonts Ninja 6.0.25
- FromDocToPDF (BETA) 13.986.19.62847
- Grammarly for Chrome 14.1046.0
- Loom – Free Screen and Cam Recorder 5.2.5
- Muzli 2 - Stay Inspired 30.2.6

[2022-01-26 18:34] juramos-2020 opened #679 "Adicionar uma explicação sobre um recurso patrocínio"
**What we have**
Dentro de configurações, temos toogle para ativar o recurso do Sponsorship

**Proposal**
Adicionar um elemento (visual e/ou texto) que explique que este recurso só pode ser ativado por alguém da Cambiatus. Logo a pessoa que administra a comunidade deve entrar em contato conosco para essa ativação.

**Why**
Para facilitar a compreensão desta ferramenta e o usuário não pensar que se

[2022-01-26 20:35] #567 closed

[2022-01-26 20:35] #585 closed

[2022-01-26 22:50] lucca65 commented on #585
🎉

[2022-01-28 14:09] lucca65 opened #681 "Allow users to update their notification preferences"
**Is your feature request related to a problem? Please describe.**
Since the implementation of our News feature, every month users will receive a monthly digest of all that happened in the community. We would need to allow our users to toggle those preferences of receiving emails, otherwise we might be not be respecting their choice of receiving communication from us. It is a global config, you op

[2022-01-28 14:10] lucca65 commented on #681
@juramos-2020 This setting will be used on the News feature, as a side effect of starting to send emails. Can you help us with the interface for this?

[2022-01-28 14:22] NeoVier commented on #681
@juramos-2020 this might be useful (@lucca65 correct me if I'm wrong):
Right now we have these notification options:
- claim notification
- monthly digest about the community
- transfer notification

It would probably be nice to plan ahead and make it easy to add new kinds of notifications preferences in the future if we need to

[2022-01-28 14:41] juramos-2020 commented on #681
Yes I can help you. I will send you a new design tomorrow 😉👍

[2022-01-28 17:56] lucca65 commented on #670
@NeoVier @rafachadud What do you think we transform this page in a modal?

<img width="459" alt="Captura de Tela 2022-01-28 às 14 56 42" src="https://user-images.githubusercontent.com/1082127/151597624-fdcea349-827b-4034-bad3-bdda77cf2084.png">

[2022-01-28 17:59] lucca65 commented on #172
This page changed a lot, and we will fix this on #670

[2022-01-28 17:59] #172 closed

[2022-01-28 18:02] lucca65 commented on #200
On a note about this, we will need to allow "un-complete" objective on the backend first

[2022-01-28 18:03] lucca65 commented on #300
Transferring this to our backend repo

[2022-01-28 18:05] lucca65 commented on #419
@NeoVier can you review this?

[2022-01-28 18:09] #446 closed

[2022-01-28 18:17] lucca65 opened #682 "Ask for contact information during our Sign Up"
**What we have**
Right now we have our same Sign Up where we ask for account, name and email. We could also ask for contact information, if the user haven't added any yet.

**Proposal**
I can see two alternatives:

1. We can add a optional input that allows the user to add contact information to their profile during the signUp.
2. We add a more discrete way to ask for contact on the dashboard. Rig

[2022-01-28 18:20] lucca65 commented on #583
@NeoVier bro, can you review this?

[2022-01-28 18:34] lucca65 commented on #660
@juramos-2020 nesse caso a ideia é fazer essa tela ficar mais longa mesmo né? ocultando o footer lá pra baixo né?

[2022-01-28 18:36] lucca65 commented on #661
@juramos-2020 o que fazemos se o usuário não aceitar as condições? Ainda não temos todas as implementações dos Roles feitas, e não podemos, nesse momento expulsar ninguém por isso... Poderíamos tirar todas as permissões, mas acho que nesse caso é diferente não? Não se trata de bloquear usuários como no contexto dos "bad actors"

[2022-01-28 20:20] NeoVier commented on #670
+1!

[2022-01-28 22:36] rafachadud commented on #670
@lucca65 @NeoVier I like that idea, but do you think it will work for mobile?

[2022-01-30 13:59] juramos-2020 commented on #660
OI @lucca65 a @rafachadud esta fazendo esse design  😉👍

[2022-01-30 13:59] juramos-2020 commented on #660
Mas acredito que ela não vai ocultar o footer não.

[2022-01-30 14:13] juramos-2020 commented on #661
OI @lucca65 os usuários que não aceitarem os termos e condições terão acesso a um dashboard diferente, com as principais atividades de comprar, vender, reivindicar, etc. desabilitadas.

[Aqui informa como vamos comunicar isso](https://www.figma.com/file/pjrI6ovITeudHw8CYYY7HV/Terms-%26-Conditions-%7C-Cookie-%26-LGPD?node-id=133%3A822).

[E aqui é o novo dashboard](https://www.figma.com/file/aeu26E

[2022-01-30 16:12] lucca65 commented on #660
ah o ocultar seria mais no sentido de que o scroll oculta, como em outra telas...
obrigado @juramos-2020 @rafachadud

[2022-01-31 17:21] juramos-2020 commented on #681
@rafachadud 💚

[2022-02-01 18:41] NeoVier commented on #670
That's a good point @rafachadud. Do you think it wouldn't look good in an almost-full-screen modal on mobile?

[2022-02-01 18:58] lucca65 commented on #670
Folks, that's how a modal looks on mobile, for reference (also extra translation error we didn't noticed)

<img width="433" alt="Captura de Tela 2022-02-01 às 15 57 45" src="https://user-images.githubusercontent.com/1082127/152032948-c2a619a7-817e-4a33-9c8a-c2ae7876fdbd.png">

Modals work better on mobile because they hide away the menu and help the user focus on a single element, without ever le

[2022-02-01 19:05] NeoVier commented on #670
That was fixed on #658:
<img width="774" alt="image" src="https://user-images.githubusercontent.com/39280468/152033966-3b9f8b08-8b17-4537-9461-1fb7f8b83663.png">

[2022-02-01 20:05] lucca65 commented on #670
nice! Sweet! Can't wait for the next release, its been three months since the last one

[2022-02-01 20:27] rafachadud commented on #670
@lucca65 what I'm afraid is that the modal will become too long and scrolls on mobile doesn't work very well.
They might be too long because I'm working on a feature that the admins can add images to the claims, and I was thinking about using a modal to open the image, so we don't have the image too crazily long.

By the way @NeoVier and @lucca65 what's the best way to include this image feature i

[2022-02-01 20:28] rafachadud commented on #670
![Screenshot 2022-02-01 at 21 28 18](https://user-images.githubusercontent.com/67650032/152045883-a7246e57-27af-4851-88a5-138213d6fa78.png)

This cards here might have an image attached to them.

[2022-02-01 21:07] NeoVier commented on #670
@rafachadud Just a reminder: action and objective descriptions can now be edited with rich text, and we will soon add support for images on the rich text editor (#666). Of course, we can always just disable certain functionalities on certain pages (e.g. not allowing images on action descriptions).

With that said, I think the best place to add an image would be between the title and the reward (un

[2022-02-01 21:59] lucca65 commented on #670
but we already use a modal that scrolls on mobile: the claim modal is big enough that it scrolls... it actually is nice because, if it weren't a modal, we would need to render the top bar before the actual content, hiding part of the content under a scroll. Check it out, and ignore the different font sizes:

### Claim shown in a modal
![IMG_6812](https://user-images.githubusercontent.com/1082127/1

[2022-02-01 22:12] lucca65 commented on #670
I would love it to be like a banner on top of the card, with the right pixel density and usage of color it can convey important information and work like an eye candy:
<img width="289" alt="Captura de Tela 2022-02-01 às 19 02 51" src="https://user-images.githubusercontent.com/1082127/152058967-bfeb24fc-f513-4560-b591-50cd69a87849.png">

 We could also allow our users to get creative with the imag

[2022-02-01 22:27] juramos-2020 commented on #679
Olá @lucca65 e @NeoVier

[aqui está a sugestão](https://www.figma.com/file/De9z2EjpGRkfsEXVzfj9u2/Support-News-%26-Digest-E-mails?node-id=321%3A2668) de solução desta issue.

A primeira versão que eu fiz, era com essa mensagem já visível no card, mas visualmente não ficou bom, poluiu muito.
Então achei bem interessante a dica que a Rafa me deu para "ativar o tooltip já no clique do card completo q

[2022-02-01 22:29] lucca65 commented on #679
Aí o toggle abriria como resposta a tentativa de habilitar a funcionalidade, certo?

pra mim parece ruim, age como se fosse um erro, podemos mostrar desabilitado e com o motivo, ou mostrar um modal explicando e dando como o usuário falar conosco.

o que acham?

acho que o texto vermelho ou cinza daria certo também, n sei

[2022-02-01 22:42] NeoVier commented on #679
+1 pra ativar o tooltip no click do card completo!

Acho que outra coisa importante para considerarmos é o estado de desabilitado (quando o usuário não pode interagir com o toggle) - é difícil identificar se o usuário pode interagir com ele ou não (vejam os componentes "Disabled and on" e "Disabled and off" [nesta página](https://cambiatus-elm-book.netlify.app/forms/toggle) [como é bom poder mostr

[2022-02-02 10:51] juramos-2020 commented on #679
Isso mesmo @lucca65

Concordo com o @NeoVier, acredito que o tooltip seria a melhor opção pois manteríamos o "padrão", já que esse elemento está apresente em outras partes do app com essa mesma finalidade de informação, e seria uma forma de "treinarmos" os usuários a saber que esse elemento existe e para que ele serve.
Tudo bem pra vc se seguirmos nessa idéia?
Como os usuários desse cenário são os

[2022-02-02 11:22] juramos-2020 commented on #682
Hi @lucca65

Here is the [registration screen update](https://www.figma.com/file/6tGpHbCWKD4sub1YWNJsDe/Cadastro?node-id=602%3A3594) 😉👍

[2022-02-02 17:52] lucca65 commented on #682
Thanks @juramos-2020

[2022-02-03 22:38] NeoVier commented on #583
The only thing vaguely related to tokens left on the `Community` module is the type alias `Balance`, which is arguably related to a `Community` as well. Since it's just a type alias, I think it's safe to keep it there anyway. Other than that, all token information is already under the `Token` module

[2022-02-03 22:38] #583 closed

[2022-02-03 22:47] NeoVier commented on #419
It seems like the issue description still holds, we are still missing those translations. It might also be nice to review the translation files for missing translations and unused translations (that will probably take a while and be pretty boring to do though), since the translation files all have a different number of lines:

- pt-br has 1299 lines
- en-us has 1293 lines
- es-es has 1296 lines
-

[2022-02-04 01:12] lucca65 commented on #419
we can use a diff tool to explore this further. A while ago @SkyLeite suggested us to use `jq` to better interact with our translation files. I think this still holds, check out this gist https://gist.github.com/ipan/e5e86d5495f16216e31fe12ebc9532a4

[2022-02-04 01:13] lucca65 commented on #419
that's one of those unix puzzles that can be fun to crack

[2022-02-04 01:13] lucca65 commented on #583
nice!

[2022-02-10 15:02] NeoVier commented on #678
Someone just started a [thread on the Elm slack](https://elmlang.slack.com/archives/C0CJ3SBBM/p1644453897507859) with an example Ellie that simulates bugs caused by extensions: https://ellie-app.com/gDKjNpc7wjra1 (Just hit the + button to generate some exceptions)

Folks suggested these alternatives (ranked here from best to worst, IMO):
- Use a Webpack loader to make Elm code not run directly on

[2022-02-10 16:02] NeoVier commented on #678
Yeah, the ones produced in that example don't really affect the user (and I think it's like that for the most part of the Sentry issues we get), but some other types can cause bugs like the one on the video on the issue description

[2022-02-11 18:05] lucca65 opened #685 "Allow marking notification as read without opening it + Group by community"
**What we have**
A long list with all notifications across all communities. Its hard to know from which community is it from (you have look at the Symbol/Icon) and to actually mark as read you have to navigate to the link associated with the notification.

**Proposal**
Maybe we could improve this a little, allowing for grouping by community, sorting unread first, allowing a "mark as read" button.

[2022-02-11 20:28] NeoVier commented on #659
Since we're messing with it on this issue, I just realized another issue related to the profile name which happens on desktop when the search bar is open:

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/39280468/153665359-485f8670-29a1-4386-b0ba-9bca3214f242.png">

It shouldn't wrap the line, it should look like this:

<img width="228" alt="image" src="https://user-im

[2022-02-14 12:54] NeoVier opened #688 "Improve our tests with elm-coverage"
**What we have**
We have, at the time of writing, 90 tests, for around 45k lines of Elm code. Even though Elm doesn't seem to need as many tests as other languages, since the compiler can help us so much, having more automated tests might be a nice sanity check for future us.

**Proposal**
Implement more tests! In #582, we added some initial tests for very particular functions, since that was the

[2022-02-14 12:55] NeoVier commented on #688
Putting this on the icebox for now, as it's just something to have in mind

[2022-02-16 19:42] NeoVier opened #689 "This is a bug report"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Cambiatus Env you are using**
Put the URL of the page you are trying to use

**Desktop (

[2022-02-16 20:04] #689 closed

[2022-02-18 11:20] NeoVier commented on #670
I love this banner idea! I think that kind of card looks really nice, and it's also kind of similar to the new shop cards:
<img width="322" alt="image" src="https://user-images.githubusercontent.com/39280468/154673002-84a53e49-100d-4c5d-a42e-63f9e761f292.png">

[2022-02-19 15:04] NeoVier commented on #688
We might also consider testing our update functions with packages like [Janiczek/architecture-test](https://package.elm-lang.org/packages/Janiczek/architecture-test/latest/) (though we would need a way to include a `Nav.Key` on our tests for most of the update functions, because we would need to construct a `Shared` record)

[2022-02-21 12:40] NeoVier opened #692 "Fix error handling on forms"
**Describe the bug**
There is a very hidden edge case where the error reporting for forms doesn't work. It has to do with `OptionalResult.OptNothing`. When a form has a specific combination of `OptNothing`s, the result of the form is always `OptNothing`, making it impossible to validate the form. One such combination is a `Form.arbitrary` inside a `Form.withGroup`, and can be seen on the `/communi

[2022-02-21 16:53] rafachadud commented on #670
@lucca65, @NeoVier can we allow users to open the images if they are displayed like a banner?
Just because the use case may be displaying an event banner with text info, so users need to have the ability to open the image in full size/full screen.

[2022-02-21 17:00] lucca65 commented on #670
Not on the list display, but they can open it on the details page, right?

[2022-02-22 14:02] #673 closed

[2022-02-22 22:29] #603 closed

[2022-02-22 22:35] NeoVier commented on #681
@juramos-2020 @rafachadud Do we have any news on this? I remember these options are on the new profile page, do we have them somewhere else to add before the new profile page?

@lucca65 mentioned this should come in on the next release which is... tomorrow 😬. It's really quick and simple to add this feature though, and we can move it to the new profile page when that gets done.

What do you folks

[2022-02-22 23:47] juramos-2020 commented on #681
@NeoVier vou aguardar a @rafachadud trocar uma ideia com vc e lhe mostrar a proposta que ela montou.

[2022-02-23 12:32] rafachadud commented on #681
@NeoVier I missed this is on the new release. D:

But we can do like this for the current profile style, ad the toggles in the profile, in the section where they download their 12 words.
https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=659%3A14435

I put them in the same section for the redesign of the profile, so it makes sense to be there. :D

Does this works?

[2022-02-23 12:36] NeoVier commented on #681
Yep, that looks good to me @rafachadud, thanks!

[2022-02-23 15:49] #665 closed

[2022-02-23 18:49] #681 closed

[2022-02-24 12:48] NeoVier commented on #675
This was fixed by #658, so I'm closing this

[2022-02-24 12:48] #675 closed

[2022-02-25 12:52] NeoVier commented on #660
Just so we don't get lost, here's the link for the new designs: https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=623%3A12865

[2022-02-25 13:01] NeoVier commented on #670
@rafachadud what's the status on this? Is there something left to do on the design side, or can we start working on it?

[2022-02-26 15:57] muguika opened #697 "Error while creating new action on CMBX (production)"
**Describe the bug**
I'm getting a "Oh oh. Algo salió mal." message when trying to create a new action. Tried twice yesterday, twice today, same result. Both on desktop and mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CMBX' and create a new action
2. Set reward (ex. 3000)
3. Keep expiration off
4. Make it manual, add verifiers, add verifier reward (ex. 5)
5. Add photo, pdf

[2022-02-26 21:04] NeoVier commented on #697
Thanks for using Github @muguika! Your GitHub skills are on point, that's a very nice description!

This was a quick one, solved by #699 💪

[2022-02-26 21:27] lucca65 commented on #697
Publicado @muguika! Pode tentar novamente por gentileza?

[2022-02-26 23:18] muguika commented on #697
tudo certo agora, actions created! :)

[2022-03-01 14:03] NeoVier commented on #661
@lucca65 precisamos mandar a decisão do usuário (aceitar ou não os termos de serviço) pro backend, ou vamos fazer a validação só no frontend?

[2022-03-02 02:42] lucca65 commented on #661
Teremos de ter ambos. Vou abrir um PR com essa alteração

[2022-03-02 11:20] #657 closed

[2022-03-02 15:57] lucca65 commented on #419
Community creation and sale are done, @NeoVier?

[2022-03-02 16:15] NeoVier commented on #419
We already capture those errors and show generic error messages, but we don't have translations for them yet, which I believe is the point of this issue (adding specific translations for each contract error)

[2022-03-03 18:00] rafachadud commented on #670
@lucca65 @NeoVier this is done but the image.

I prepared a couple of solutions to exemplify, the use case for displaying the images is for event related claims, so community users can check the banner.

I made this two examples:
https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=651%3A14003
https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=656%3A20543

[2022-03-03 18:34] NeoVier commented on #670
Just so we don't lose context if we come back to this after a while, we're also discussing this on Slack: https://cambiatus.slack.com/archives/CB0UA5SBE/p1646331483070599?thread_ts=1646236731.046819&cid=CB0UA5SBE

[2022-03-03 21:12] #692 closed

[2022-03-03 23:35] lucca65 opened #701 "Add an extra call to community creation"
**Is your feature request related to a problem? Please describe.**
After the role feature implementation we got an extra step that must be taken during the community creation process.

**Describe the solution you'd like**
We need to call a new contract action `upsertrole` with the default member role:
[code]

**Describe alternatives you've considered**
N/A

**Additional context**
This will be chan

[2022-03-03 23:35] lucca65 commented on #701
Bro, can you squeeze in this enhancement?

[2022-03-03 23:48] NeoVier commented on #701
Sure!

[2022-03-06 20:55] lucca65 commented on #237
Context changed a lot since this issue was created. I'll be closing this now. Not because this is not a great and useful feature, but because we have other focus.

[2022-03-06 20:55] #237 closed

[2022-03-06 21:21] lucca65 opened #702 "Add contact information and new footer"
**Is your feature request related to a problem? Please describe.**
We are now preparing for our next milestone: improving the Shop. As part of our efforts to be more transparent and offer more help to the user, as now things will keep changing faster and faster, we should help the community users to be in touch with the admins.

**Describe the solution you'd like**
A while ago @juramos-2020 create

[2022-03-06 21:53] lucca65 commented on #702
PR/branch for the needed backend: https://github.com/cambiatus/backend/pull/213

[2022-03-07 12:48] NeoVier commented on #702
Nice! I think it would be nice for the admins if they could, instead of a phone number, add a link (e.g. a WhatsApp group invite link). Is that a use case for the new `label` field?

[2022-03-07 13:03] lucca65 commented on #702
Well I guess we can simply add a new type for this. Nice thinking bro, I'll add it!

[2022-03-07 13:18] lucca65 commented on #702
Done!

[2022-03-07 14:53] NeoVier opened #704 "Add ability to drag and drop files into the File Uploader"
**What we have**
We have a form component called `FileUploader`. It's general enough that it can work with multiple file types, it already has some nice styles and all that. You can interact with it by clicking it, which will show you a file selector, so you can select a file on your device.

**Proposal**
Add ability to also drag and drop files into it. Users would have two options on how to inter

[2022-03-07 15:15] juramos-2020 commented on #702
Hy @lucca65 @NeoVier

guys I didn't even remember this footer 🙈

Maybe he needs a drawing to include the [Guidelines and code of conduct ](https://www.figma.com/file/pjrI6ovITeudHw8CYYY7HV/Terms-%26-Conditions-%7C-Cookie-%26-LGPD?node-id=113%3A1160)right?
But it would be something very simple, just include the link.

[2022-03-07 15:16] lucca65 commented on #702
nóis tarda mas não falha

[2022-03-07 15:25] lucca65 commented on #704
Nice!! we really be missing this

[2022-03-08 13:39] NeoVier commented on #702
@juramos-2020 @lucca65 where should we put the form for community admins to add/edit contacts? Should it be a new page? I think the "Community information" (`/community/settings/info`) is pretty crowded already. Should the form look like the one we use for users?

[2022-03-08 13:43] lucca65 commented on #702
I'd +1 this, this page was not made to grow a lot, and it will keep getting bigger in the next cycles of features and releases. Shop will need to have several admin pages (a few examples: categories, moderation, configurations like the % of fiat allowed, reports, promoted sales, etc).

While I don't have a solution for this, here is an example of a tool we use, called Sentry that have a super comp

[2022-03-09 19:08] juramos-2020 commented on #702
Thanks guys, @NeoVier @lucca65

I'll make a proposal for that

[2022-03-09 19:17] NeoVier commented on #702
@juramos-2020 just as a reminder to take into account while designing this, we also have a `label` field now, which means people can give their contacts more descriptive names. From the original description:

I would say that, in order to not clutter the contact form too much, we could have a little button next to the contact type that shows a new field to edit the label:

<img width="1263" alt="U

[2022-03-10 13:20] lucca65 commented on #702
+1 @NeoVier, no big changes and still simple. If the user don't see/use it, we keep the regular description, as the label is nullable! nice and elegant

[2022-03-10 19:23] #701 closed

[2022-03-11 17:49] lucca65 opened #707 "Allow images to be cropped"
**Is your feature request related to a problem? Please describe.**
Our image handling in the app today is very basic. We simply allow the user to upload an image.

**Describe the solution you'd like**
We should be able to allow for cropping images directly into the form. This way we can make sure that all images follow the correct aspect, when that is needed (like photos from an action or profile

[2022-03-11 18:08] lucca65 commented on #514
/remind me about checking this with the design team in 1 month

[2022-03-15 13:32] NeoVier commented on #702
@juramos-2020 any news on this?

[2022-03-15 19:23] juramos-2020 commented on #702
Oi @NeoVier

já estava finalizando uma [nova proposta](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=1225%3A2613).

Mas antes de finaliza-la, conversei com a Rafa e Karla e combinamos que eu falaria com alguns representantes das comunidades para extrair a real expectativa de uso desse footer.
A ideia de usá-lo como "contato de suporte" foi levantado há muito tempo pel

[2022-03-15 19:25] juramos-2020 commented on #702
O link de "Termos e condições" não está atrelado a essa issue correto?
O "contato de suporte" pode ficar pausado e mesmo assim termos a implementação do link de "Termos e condições" ?

[2022-03-15 21:18] juramos-2020 commented on #702
OI @lucca65

nesse caso vc sugere fazer a implementação do footer com a opção de "contato para suporter" mesmo antes de termos esse feedback da comunidade?

Ou vamos lançar com o link dos "Termos e condições" e depois sim implementamos o "contato para suporte"?

Desculpe é que não ficou claro pra mim.

[2022-03-15 21:40] lucca65 commented on #702
@NeoVier podemos também fazer um PR só pra manter o GraphQL atualizado, e depois fazemos os forms de contato e exibição dos mesmos no footer

[2022-03-15 21:43] juramos-2020 commented on #702
Valeu @lucca65 😉👍

[2022-03-22 19:33] #702 closed

[2022-03-27 21:04] juramos-2020 commented on #702
OI @lucca65 e @NeoVier

Finalizei o novo footer com o contato para suporte. Falei com a Flavinha e com a Irene e pra elas ainda faz sentido mantermos esse recurso no footer.

Vamos continuar tratando disso nesse PR? ou vcs vão abrir outro?

Segue como ficou:

[Um novo espaço de configuração mais flexivel](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=1225%3A2613).
Tro

[2022-03-27 21:35] NeoVier opened #713 "Add community contacts"
**What we have**
We already have an API that allows community to have contacts. We are also working on the new community page, and it will show community contacts if there are any

**Proposal**
We just need to have a way for community admins to actually edit the community contacts

**Why**
To have better communication between community members and the admin team

**How**
- [Adding a screen for com

[2022-03-27 21:36] NeoVier commented on #702
Ficou show @juramos-2020! Criei uma nova issue pra conversarmos melhor sobre isso: #713. Vou deixar uns comentários lá para ficar melhor organizado. Já coloquei esses links lá também 😄

[2022-03-27 21:49] NeoVier commented on #713
@juramos-2020 @rafachadud recentemente eu e o @lucca65 estávamos conversando sobre esse form de contatos (falamos no contexto de contatos de usuário, mas acho que o mesmo cabe no caso da comunidade), e achamos que poderia ser mais "dinâmico": ao invés de mostrar vários campos vazios inicialmente, teria um botão de "+" para adicionar um novo tipo de contato, e assim o usuário iria populando. O @luc

[2022-03-27 22:20] NeoVier opened #714 "Add empty state to shop"
**What we have**
We have a beautiful new shop interface. However, we didn't treat the case of it being empty:
![image](https://user-images.githubusercontent.com/39280468/160303407-8106ef39-0da2-4efd-a101-2a4ca95c9064.png)

**Proposal**
Use some illustration or text to tell the user we couldn't find any sales on the community

**Why**
If we just show nothing, users may be confused and think the sho

[2022-03-27 22:21] NeoVier commented on #714
@juramos-2020 can you help us out with this one? I think we have lots of space to put a nice illustration there!

[2022-03-27 22:31] NeoVier opened #715 "Fix layout issues with new footer"
**Describe the bug**
After #702, where we changed how our footer looks, some pages look broken (list below)

**To Reproduce**
1. Log into the app
2. Go to pages listed below
3. See error (it may be different based on the page)

**Expected behavior**
The footer should stay at the bottom of the page, without covering any content.

**Screenshots**
These are the pages I could find:
- [x] Transfer succ

[2022-03-28 12:17] lucca65 commented on #714
+1, been thinking about the same after opening CMBX this month

[2022-03-31 17:12] #420 closed

[2022-04-04 11:16] juramos-2020 commented on #714
Hi @NeoVier

in this case, this community will have shop?
because if this community won't have shop we can desabiliytar this recourse.
but if intencion is have the shop, we can work on illustration

I don't know if cmbx will have products in the store now, or if we have that intention. So I think we can disable it. And if we are going to work the shop on it in the future, we can enable it.

Do I t

[2022-04-04 11:25] NeoVier commented on #714
I don't think it matters if the community pretends to use the shop or not, and it's not a CMBX exclusive thing.

If the community has the shop feature turned on, we need to show the shop. It may happen that there are no products on the shop yet (it's probably a pretty rare edge case), and we need to communicate that to the users, instead of just having a blank screen.

[2022-04-04 11:46] NeoVier commented on #714
Another possible scenario is when the user clicks on the button that shows only the user's sales. If they have no sales, they also see a blank screen.

Maybe we could have something that kind of teaches the user, saying something like "Start by creating your first sale" and an illustration pointing at the "Create New" button

[2022-04-04 11:54] juramos-2020 commented on #714
ok let's work on these illustrations 😉👍

[2022-04-04 14:32] NeoVier opened #717 "Add a caching layer to our GraphQL operations"
**Is your feature request related to a problem? Please describe.**
We know people use the app on local markets in Ethiopia and Costa Rica. In those circumstances, internet access is usually not great. We've had reports that the incremental load of fields we've implemented in #640 has helped them, and that's nice, but we could do even better!

Also, loading Muda (the largest community by member cou

[2022-04-04 20:44] lucca65 commented on #717
This looks great! We have some workflows that could really benefit from this, like on the shop, where we open a sale and get back to the list! Some page transitions don't really require a full reload so it would be great!

[2022-04-05 15:13] juramos-2020 opened #718 "Bug in My Claims"
**Describe the bug**
in the area of ​​analyzed claims of the Play4change community, the actions that were claimed and analyzed in the other communities appear

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my claims
2. Click on analyzed
3. See error

![image](https://user-images.githubusercontent.com/67649886/161784712-c57ec85a-c41c-4c50-b2b7-87b42d14aeec.png)

**Expected behavior**
I

[2022-04-05 19:17] rafachadud commented on #713
@NeoVier @juramos-2020 @lucca65

Eu fiz essa primeira opção de como os contatos podem ser, eu me inspirei mais na interface do Facebook, porque eu gosto da solução deles e acho que é um produto que os users estão um pouco mais familiarizados.

Eu ainda acho que dar apenas uma opcao de cada contato seria melhor, porque nao teremos labels no perfil apenas os ícones, e pode ser um pouco confuso ter v

[2022-04-06 23:24] lucca65 commented on #713
@rafachadud honestamente, não gostei muito, pq apesar de simplificar um pouco, mantem a mesma essência: todos os campos estão sempre lá.

1. Conforme adicionarmos mais tipos de contato, esse form ficará gigante (como Facebook, Signal, Endereços de carteiras de blockchain, etc)
2. Não aproveitamos as labels, que podem ser úteis. Por exemplo, eu tenho um número de telefone do brasil e um da Costa Ri

[2022-04-06 23:25] lucca65 commented on #713
Se @juramos-2020 e @NeoVier puderem comentar também, seria legal avançarmos na discussão, mesmo que offline e de maneira assíncrona

[2022-04-07 01:24] NeoVier commented on #713
+1 pro que o @lucca65 disse. Acredito que no app da Cambiatus poderíamos ter algumas áreas com design mais clean/simples, e acho que esse form é um ótimo candidato!

Reitero o exemplo de contatos do iOS: é extremamente simples de entender, visualmente agradável, e não ocupa mais espaço do que o necessário. Além disso, é praticamente a mesma coisa que estamos tentando resolver.

Os forms em geral d

[2022-04-07 17:29] juramos-2020 commented on #713
Ola pessoal ! desculpa a demora em dar um feedback 🏃‍♂️

+1 para o **exemplo de contatos do iOS**. Acho interessante como ele deixa a tela mais limpa e permite a customização de forma mais dinâmica.

Sobre a ideia de **ter ícones customizáveis** vou pesquisar algumas referências para trazer um olhar mais aguçado sobre isso.
De primeira impressão meu coração fica dividido, pois acho que visualmente

[2022-04-07 18:06] NeoVier commented on #713
Sim @juramos-2020 , se formos pelo caminho de ícones customizáveis, precisaríamos de uma maneira de definir eles. E com isso, acabamos carregando um pouco mais o form de contatos... temos que ter uma maneira que esse input não ocupe tanto espaço para o form continuar simples

[2022-04-07 18:12] NeoVier opened #719 "Review screen that shows your own offer on the shop"
**What we have**
When you click on an offer on the shop that is made by you, you see a similar screen to other offers (not created by you), but without your contact information, and with an "Edit" button instead of "Buy"

**Proposal**
Review this design to:
- Make it clearer it's your offer
- Show the offer the same way other people see it

**Why**
- It might be confusing to people, and they might

[2022-04-07 18:12] NeoVier commented on #719
cc @lucca65 @muguika @rafachadud @juramos-2020

[2022-04-07 18:49] rafachadud commented on #713
Eu particularmente nao gosto da opcao de ícones customizáveis, porque joga a usabilidade pra escanteio. hehe

Eu votaria em deixar os ícones padroes para dispositivos de comunicacao, com a possibilidade do user editar o label para aquele modo de comunicacao. Assim o user pode adicionar "Whatsapp Pessoal", "Whats da Loja", resolvendo o problema de adicionar apenas uma opcao de contato para cada.

A

[2022-04-08 02:34] NeoVier commented on #713
Acho que é por aí mesmo, @rafachadud!

+1!

O form realmente é grande, mas não tenho certeza sobre essa parte de quebrar ele... No mínimo, acho que as informações pessoais e de contatos devem ficar juntas. Uma ideia para a edição da imagem de capa é mostrar ela do mesmo jeito que ela é mostrada no perfil público (no topo, ocupando a largura da tela inteira), mas com um botão para alterá-la (o Face

[2022-04-08 15:12] lucca65 commented on #719
+1 to this topic, i really like the way it is right now, its the best interaction of this screen but we give no tools to the seller, and having a way to better preview their page would be awesome. We can move all relevant buttons (edit, restock, pause, etc) to the top with a big, shiny color that is always visible.

We are going to see a lot of changes to the shop in the next few weeks as this is

[2022-04-08 15:35] juramos-2020 commented on #713
+1 Rafa

[2022-04-08 16:39] lucca65 commented on #713
Seria legal ter coisas mais complexas, mas +1, acho que é melhor manter os ícones regulares pra simplificar

Como temos o tipo de antemão, podemos colocar um daqueles avisos "você está sendo redirecionado para fora da cambiatus, continuar?"

Gosto assim, não sei se entendi direito o print mas deixaria só um card com várias linhas, ao invés de um card por contato. Dá pra ir colocando quanto quisere

[2022-04-08 18:00] lucca65 opened #720 "Create new report screen"
**Is your feature request related to a problem? Please describe.**
From time to time, communities ask us for a report so they get a better picture of what's community doing. Usually they ask for a report with the current balances of all the community. Until today, we've been getting it manually by checking bloks.io. @NeoVier Implemented a script to make it easier to fetch such data.

But it would

[2022-04-08 18:26] juramos-2020 opened #721 "Upload to community banner photo"
**What we have**
Add a new community configuration option

**Proposal**
Add in community settings an Upload for community banner photo

**Why**
Now communities have a community profile page, which will allow them to have a banner, but we still don't have the option to upload this image in settings

**How**
Add in community settings an Upload for community banner photo
https://www.figma.com/file/nE

[2022-04-08 18:36] NeoVier commented on #721
@juramos-2020 the banner (we called it cover when we implemented it, but I believe it's the same thing) can be uploaded on the "Community Information" page in settings (`/community/settings/info`):

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/39280468/162500858-fe46de6b-1fe2-498f-86ff-6b97750259c4.png">

It's the same image we use in the "Join" page. I think me and

[2022-04-08 18:41] NeoVier commented on #720
The mentioned script is now uploaded here: https://github.com/cambiatus/eosQuery

[2022-04-08 18:44] juramos-2020 commented on #721
OI @NeoVier

sim, estou sabendo que atualmente temos esse campo de upload da imagem em configurações, que usa a mesma imagem tanto para a página de "join" como para o banner de perfil da comunidade.

Mas em alguma reunião - não me recordo qual 😅 - falamos de ter uma opção em configurações para que a comunidade possa fazer esse upload de forma separada.

Será que entendi errado? 😅

[2022-04-08 18:46] NeoVier commented on #721
Bom, pode ser... Eu não me recordo, talvez eu não estava junto 😅. Talvez o @lucca65 ou a @muguika possam saber melhor

[2022-04-08 18:46] juramos-2020 commented on #721
@rafachadud @lucca65 vocês se recordam dessa conversa?

[2022-04-08 18:49] lucca65 commented on #721
@juramos-2020 isso está implementado no PR do how to earn que está aberto...

podemos fechar junto, oq acham? @juramos-2020 @NeoVier

[2022-04-08 18:52] NeoVier commented on #721
@lucca65 No PR do how to earn não mexemos no input, só começamos a mostrar na página sobre a comunidade

[2022-04-08 19:26] lucca65 commented on #721
Bem, conversamos  nesses dias sobre a foto de banner do perfil da comunidade ser diferente da usada no login, até pq o contexto diferente, daria pra ter duas. Acho que isso é legal, principalmente se tivermos um "preview" simplificado de como fica essa imagem em cada um dos cenários.

Por exemplo:

<img width="231" alt="Captura de Tela 2022-04-08 às 16 25 37" src="https://user-images.githubuserco

[2022-04-08 19:38] juramos-2020 commented on #721
OI @lucca65 , sim, para essa issue acho que já temos uma resolução.
Podemos abrir uma nova para mais essa melhoria de "preview".

[2022-04-08 21:40] NeoVier commented on #721
Beleza pessoal, vou abrir uma nova issue pra tratarmos do preview.

Até lá, seguimos usamos a mesma imagem em todos os lugares, como já estamos fazendo? Acho que sem o preview ficaria bastante confuso qual imagem serve para que, o que acham?

[2022-04-08 21:44] NeoVier opened #722 "Add preview to community images"
**What we have**
A regular form to configure community information that has an image uploader. That image is used in the Join page and in the About the Community page.

**Proposal**
Use different images in those pages. To do that in a non-confusing way, we should have a mini preview to explain where each image goes, and how they will look.

**Why**
It offers better customization for the communitie

[2022-04-08 21:44] NeoVier commented on #721
Nova issue criada ☝️

[2022-04-08 21:56] juramos-2020 commented on #721
Oi Henrique

fiz uma descrição na imagem falando para aonde iria cada upload.
Mas se você acha que ainda tá confuso por não ter o preview e quiser aguardar, tudo bem. Só não tenho certeza se vamos conseguir priorizar isso agora. Mas posso te confirmar depois da nossa reunião de design na segunda.

Eu tinha até feito uma opção usando um tooltip que abria uma ilustração mostrando de qual cenário se

[2022-04-08 22:30] NeoVier commented on #721
Ainda fico um pouco dividido... Pra gente essa explicação faz sentido, mas imaginando um admin entrando na tela, talvez não faça tanto sentido sem esse contexto. Por outro lado, sei que temos várias outras coisas com maior prioridade agora, e pode demorar um pouco até implementarmos o preview.

Acho que um tooltip não funcionaria muito bem aqui, talvez ficasse melhor se colocássemos na própria pág

[2022-04-08 22:32] NeoVier commented on #721
@lucca65 no lado técnico, hoje a comunidade só tem uma lista de imagens. Continuaríamos com essa lista, e cada índice representa uma imagem diferente (por exemplo, a primeira imagem é a imagem de capa, e a segunda é a do perfil), ou teríamos mudanças na api?

[2022-04-08 22:56] juramos-2020 commented on #721
Também podemos manter, por enquanto, a mesma imagem para os dois cenários até conseguirmos chegar no preview correto 😉👍

[2022-04-11 15:08] rafachadud commented on #721
@NeoVier @juramos-2020 concordo em manter a mesma imagem nos dois cenários. Precisamos repensar as configuracaoes para acomodar melhor a página da comunidade. Talvez algo como o Facebook faz com as páginas faca sentido. Vou explorar essa ideia no perfil do usuário também, porque nao curto muito a imagem de capa estar escondida no formulário. hehe

[2022-04-11 15:50] lucca65 commented on #721
+1

[2022-04-18 17:50] rafachadud commented on #714
@NeoVier
I prepared two empty states for the shop:

- Shop with no products
[https://www.figma.com/file/rT5DMvPAtvbHSxNBwQENDM/New-shop---v1?node-id=2381%3A12952](url)

- Users with no offers
[https://www.figma.com/file/rT5DMvPAtvbHSxNBwQENDM/New-shop---v1?node-id=2402%3A15566](url)

[2022-04-18 18:27] rafachadud commented on #713
Olá de novo @NeoVier @lucca65!

Eu atualizei a proposta no Figma [https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=1033%3A26385](url), com o fluxo de com funcionaria, acho que agora está mais perto de uma versao final. :D

Acho que podemos discutir se precisamos de um botao "+" depois do tipo de contato selecionado, para o user adicionar vários daquele mesmo. Mas o que acha

[2022-04-18 20:05] NeoVier commented on #714
Great @rafachadud, thanks!

[2022-04-19 14:49] NeoVier commented on #713
@rafachadud temos essa issue pra falar sobre o perfil: https://github.com/cambiatus/frontend/issues/660

Em relação à proposta do novo form de contatos, o campo de label me parece pequeno... Até labels curtas vão ter um scroll horizontal (que é bem chato quando acontece com um texto).

[2022-04-20 11:18] juramos-2020 commented on #713
Ola @NeoVier @lucca65

Aqui está o [Footer atualizado](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=331%3A2262) com a opção de contato para suporte

 Essa é a [atualização da área de configurações](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=1220%3A1846).
Antes o usuário tinha que entrar em configurações, clicar em “recursos” para habi

[2022-04-20 12:34] lucca65 commented on #660
@rafachadud Esse elemento não é redundante agora que já selecionamos pelo modal? https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=1051%3A25309

[2022-04-20 13:37] NeoVier opened #726 "Improve community settings flow"
**What we have**
Community admins need to go to a "Features" page to enable/disable certain features, and then go to that feature's page to adjust settings about it.

**Proposal**
Review how we do this, making it a better flow: community admins can go directly to the specific feature's page and edit and enable/disable it there

**Why**
To make it easier to administer the community

**How**
Follow

[2022-04-20 13:39] NeoVier commented on #713
Nossa, bem melhor @juramos-2020 🔥. Pra não desviar muito da issue (já temos bastante discussão aqui), criei outra issue pra visitarmos as outras páginas de configurações (a de contatos de suporte vamos fazer nessa issue aqui mesmo): #726

Sobre os designs, deixei apenas um comentário no figma: https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn?node-id=1324:2466#182595163

[2022-04-20 13:42] NeoVier commented on #726
@juramos-2020 poderia fazer a versão desktop dessa nova tela de configurações? Vamos manter o estilo atual, de ter várias cards dispostas verticalmente?

Além disso, percebi que o shop foi removido da página de recursos, é isso mesmo? Como faremos pra habilitar e desabilitar o shop?

[2022-04-20 15:57] juramos-2020 commented on #713
Show de bola 😉

[2022-04-21 14:32] #714 closed

[2022-04-21 18:08] #670 closed

[2022-04-21 23:11] #715 closed

[2022-04-22 00:03] juramos-2020 commented on #726
Oi Henrique segue a [versão desktop ](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=0%3A1)

Eu tinha pensando em deixar um fluxo mais fácil e acessível, mas realmente não tem como tirar essa função de "habilitar/desabilitar" do shop. Então voltei atrás e refiz o design, [segue atualizado
](https://www.figma.com/file/RSoh4DDEj0N1TVkQT0SxIn/Header-and-Footer?node-id=122

[2022-04-22 14:46] NeoVier commented on #726
Boa @juramos-2020, valeu!

[2022-04-22 17:42] lucca65 opened #730 "Update Shop integration to stop using blockchain"
**What we have**
We currently use EOSIO to store our offers, synced up with our Postgres database by event source. Although

**Proposal**
Start using our new GraphQL Shop mutations to create products

**Why**
Although this is working, its hard for us to do any changes or big improvements to the flow, such as orders, tracking, categories etc.

**How**
Follow the changes introduced on https://github

[2022-04-22 18:02] lucca65 opened #731 "Allow more images on a shop product"
**Is your feature request related to a problem? Please describe.**
Today, our shop products only allow for one image, we need to change that to allow several

**Describe the solution you'd like**
Follow our [Figma designs](https://www.figma.com/file/rT5DMvPAtvbHSxNBwQENDM/New-shop---v1?node-id=1686%3A10038) to implement the new form with several steps, including the one that allows for images.

As

[2022-04-25 19:46] NeoVier opened #733 "Add version tag to Sentry errors"
**What we have**
We use Sentry to log runtime errors on production.

**Proposal**
Some time ago, we started showing the current commit hash on the app to help us debug errors from users. However, we only have access to that if users send us screenshots or something like that. We could also send this commit hash to Sentry.

**Why**
We can eliminate "false" bugs, caused by browser caching and things

[2022-04-25 19:47] NeoVier commented on #733
@lucca65 do you know if Sentry has something to do this automatically, or if we need to do it ourselves? (it's very very easy to do, but maybe they have something ready for this already 🤷)

Looking through the error, I couldn't find anything related to the app version or commit hash

[2022-04-27 02:49] lucca65 commented on #733
Bro you can do this by adding context to the Sentry JS object: https://docs.sentry.io/platforms/javascript/enriching-events/context/

If you have access to the version on the index.js file, should be super ez

[2022-04-27 12:08] NeoVier commented on #733
Yeah, that's pretty much what I was planning to do. I was mostly wondering if they had something to do that automatically through their dashboard or something.

This way is super easy though, so no problem!

[2022-04-27 19:39] #659 closed

[2022-04-27 19:40] #733 closed

[2022-04-28 19:22] NeoVier opened #738 "Objectives don't open on Windows"
**Describe the bug**
The objectives on the new "How to earn" page don't open properly on Windows. Here's how they show up when clicking them to open:

![image](https://user-images.githubusercontent.com/39280468/165829674-182fbbb7-fec0-467e-ab8b-7bae24848597.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Be on a Windows machine
2. Go to the "How to earn" page
3. Click on an objective to

[2022-04-28 20:23] lucca65 commented on #738
wow, weird

[2022-04-29 18:07] lucca65 opened #741 "On Action's modal, long texts get cropped"
**Describe the bug**
Long texts gets cropped and are not readable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Muda's How to Earn page
2. Click on the "Colaborar com projetos parceiros da rede Muda" Objective
3. Open the first action (with reward of 75 MUDA)
4. See error

**Expected behavior**
The text should line break and be visible

**Screenshots**
<img width="826" alt="Captura d

[2022-04-29 19:17] sentry-io[bot] opened #742 "[EOS] assertion failure with message: Can't find any sale with given sale_id"
Sentry Issue: [FRONTEND-3RR](https://sentry.io/organizations/cambiatus/issues/3236258442/?referrer=github_integration)

[code]

[2022-05-04 02:57] NeoVier opened #744 "Add cache for non-submitted form data"
**Is your feature request related to a problem? Please describe.**
Sometimes it can happen that users leave the app (lose connection, reload the page, close the tab, ...) accidentally while filling a form. For longer forms (like the action one, or the new multi-part shop form) this can be very frustrating (it even happened while I was typing this issue 🤦)

**Describe the solution you'd like**
We n

[2022-05-04 03:01] NeoVier commented on #744
Since everything in the `Form` module is very modular and extensive, we could even have cache only for specific form fields. I'm not sure why we would want that, but it's just to say that we can do a lot of cool stuff on this topic

We took a long time to create this form structure, so let's use it 💪

[2022-05-04 13:51] lucca65 opened #745 "Add indicator to show that an action is already closed, completed and automatic"
**What we have**
Today, when searching for an action we show all actions in existence in a same community.

**Proposal**
1. Add a section or any other visual indicator that an action is closed or completed and thus cannot be claimed.
2. Disable the claim button and add indication if its automatic

**Why**
This may be misleading as some users might want to claim and have no idea if an action is clo

[2022-05-04 19:42] #741 closed

[2022-05-05 00:45] lucca65 opened #746 "Notifications page don't work properly when displaying product images"
**Describe the bug**
Notification page don't load if there is a notification with a product image on it

**To Reproduce**
Steps to reproduce the behavior:
1. Have one product of yours bought
2. Click on the notification bell
3. See error

**Expected behavior**
It should display the notification screen

**Screenshots**
<img width="1281" alt="Captura de Tela 2022-05-04 às 21 45 20" src="https://use

[2022-05-05 00:51] lucca65 commented on #746
It might also happen on related pages like payment history

[2022-05-05 00:53] NeoVier commented on #746
For now we should just show the first image out of the `images` field, right? I don't think we have designs for that with multiple images, and we don't really let people add multiple images yet anyway

[2022-05-05 01:06] lucca65 commented on #746
yeah first image is fine?

[2022-05-05 01:14] #746 closed

[2022-05-06 12:24] juramos-2020 commented on #745
Segue o que temos atualmente na tela de busca:

![image](https://user-images.githubusercontent.com/67649886/167130107-b11aec56-aec5-45d3-8cd8-fcd01968ed7f.png)

@lucca65 @NeoVier Sugiro inicialmente mudarmos esse cenário do cards das ações para o que a @rafachadud fez na tela de[ "How to earn"](https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=732%3A20001)

Enquanto a @rafac

[2022-05-06 18:23] NeoVier commented on #745
+1

[2022-05-09 18:24] rafachadud commented on #707
Hi @lucca65 @NeoVier @MatheusBuss.
I have a first design update on this, link to figma: https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=1154%3A53050

Basically is a modal that shows the size of the canvas and the image, allowing users to resize (zoom in and out) and drag the image.

I also made a test with this modal for other use cases, like the cover images for user prof

[2022-05-09 20:26] NeoVier commented on #707
Nice, thanks @rafachadud

(Yes, this is the right issue 😄)

[2022-05-13 18:15] NeoVier commented on #707
We should take as a parameter the aspect ratio and minimum size for images

[2022-05-13 18:34] lucca65 commented on #249
closing this for now. A lot has progressed. We still don't have socket updates for a true live app, but all the points on the issue were solved

[2022-05-13 18:34] #249 closed

[2022-05-13 18:35] lucca65 commented on #303
we don't have any bots creating accounts yet. Closing for now

[2022-05-13 18:35] #303 closed

[2022-05-13 18:37] lucca65 commented on #359
Closing as we do have this possibility, but KYC is not being actively used in a way that requires this

[2022-05-13 18:37] #359 closed

[2022-05-13 18:38] #419 closed

[2022-05-13 18:38] lucca65 commented on #419
Closing, too old

[2022-05-13 18:38] #497 closed

[2022-05-13 18:39] lucca65 commented on #497
Old as well. We also have improved contacts that can be used

[2022-05-13 19:06] lucca65 opened #749 "Listagem com todos os usuários"

[2022-05-15 01:56] #713 closed

[2022-05-17 20:57] #731 closed

[2022-05-18 03:31] NeoVier commented on #707
@rafachadud @juramos-2020 @lucca65 I'm not sure what the best flow is, maybe you can help me out:

1. The form starts with a button to upload a file
2. The user clicks the button
3. We show the prompt to select a file
4. User selects file
5. Here I'm confused:
  a. We show the modal right away
  b. We show the image, just like we do now. When the user clicks the image, the modal opens

Option 5.a.

[2022-05-18 13:05] rafachadud commented on #707
@NeoVier I would go for option b, I checked some other websites, and they only open the modal when there's only 1 image upload, if there's many, the user needs to click on the image to edit/crop.

I would not validate by aspect ratio, since the crop is suppose to crop the image to the right ratio?

[2022-05-20 18:04] lucca65 opened #751 "Improve settings page"
Our current settings page look like this:

<img width="1310" alt="Captura de Tela 2022-05-20 às 14 59 42" src="https://user-images.githubusercontent.com/1082127/169586470-53d3b562-1856-4468-9b9b-b15436e323c8.png">

It makes a little bit hard to navigate as all functionality is scattered around. We could review the hierarchy and improve how settings are accessible on the community, to make the flow

[2022-05-20 18:05] lucca65 commented on #751
@juramos-2020 @rafachadud podem nos ajudar com isso? Não é prioridade, mas seria legal começarmos a ver algo nesse sentido agora que vamos ter mais telas de configuração com a entrada de funcionalidades do Shop e depois de roles. Já tá difícil de usar hoje sem essas funcionalidades

[2022-05-20 18:06] lucca65 commented on #660
@juramos-2020 @rafachadud alguma novidade nisso?

[2022-05-20 18:38] lucca65 commented on #745
@juramos-2020 @rafachadud Alguma novidade sobre isso?

[2022-05-20 18:44] lucca65 commented on #721
@juramos-2020 @rafachadud Muito obrigado vamos implementar

[2022-05-20 21:41] juramos-2020 commented on #660
Oi @lucca65
o que está pendente desta entrega?

[2022-05-20 21:53] juramos-2020 commented on #751
OI @lucca65

essa issue seria uma melhoria [dessa issue](https://github.com/cambiatus/frontend/issues/726)?

[2022-05-20 22:10] juramos-2020 commented on #751
Caso seja uma melhoria, adorei as referencias isso vai ajudar muito! 🙏

Para ajudar na formulação de uma proposta, gostaria de pedir uma ajudinha. Você pode responder as perguntas abaixo?
Eu comecei respondendo, mas gostaria do seu complemento 😉👍

**Essa melhoria vai resolver qual problema?**
- diminuir os espaços vazio
- dar mais opções de configurações

**Minha expectativa com ela é de...**
- de

[2022-05-20 23:08] lucca65 commented on #660
@juramos-2020 fiz um comentário dia 20 de abril sobre isso

[2022-05-20 23:10] lucca65 commented on #751
Sim, é na mesma tela, mas acho que vai mais longe né? Por mim poderíamos fazer uma melhoria só já com os painéis repensados em uma estrutura melhor.... Oq acham @juramos-2020 @NeoVier

[2022-05-20 23:16] lucca65 commented on #751
**Essa melhoria vai resolver qual problema?**
- As configurações são muito confusas de acessar hoje
- Muitas configurações ficam sem hierarquia. Comunicados está no mesmo nível de Informações da comunidade.

**Minha expectativa com ela é de...**
- deixar as opções de configurações mais visíveis
- Tornar a visualização das comunidades mais fácil, parecida e familiar com outros apps com configuraçõe

[2022-05-23 16:49] rafachadud commented on #660
![Screenshot 2022-05-23 at 18 46 51](https://user-images.githubusercontent.com/67650032/169868858-b81533ef-af00-4c13-9f1c-843a7cbb233e.png)

@lucca65 eu resolvi o comentário no Figma, mas era relacionado ao label do contato (esse é o novo link para o node em questao)
[https://www.figma.com/file/l2HhpioJFpVSUW6E5ZjBn9/Acessibilidade?node-id=1138%3A22924](url)

No mais, as interfaces do novo perfil

[2022-05-23 19:26] lucca65 commented on #660
entendi @rafachadud acho que com vários lugares pra gente conversar (slack figma GitHub) vai rolar mesmo confusão e desencontros.

[2022-05-24 13:32] juramos-2020 commented on #660
Legal @rafachadud

Acho que quando for uma discursão mais ampla, principalmente que possa ter envolvimento da Karla e do Luiz, seria interessante começarmos a discursão no slack (canal de dev ou ux-ui).

Pra mim o figma funciona bem quando é para os Devs indicarem alguma alteração simples na interface, algo bem pontal. Mas se quiserem compartilhar o link da tela por aqui e descrever a alteração, t

[2022-05-24 14:07] NeoVier commented on #660
@rafachadud @juramos-2020 para não fugirmos da issue, [criei uma discussão](https://github.com/orgs/cambiatus/discussions/753) para falarmos melhor sobre isso 😄

[2022-05-24 15:01] lucca65 commented on #660
uhul bom uso da ferramenta de discussão! Vou responder por lá! valeu @NeoVier

[2022-05-24 18:15] lucca65 commented on #726
Valeu @juramos-2020 to tirando o Assign de você e colocando pro @NeoVier!

[2022-05-24 18:32] juramos-2020 commented on #726
Oi Lucca

vocês vão implementar essa "novo settings" desta issue?
estavamos conversando na Issue #751 sobre fazer uma settings mais power rsrsrs ....

Fiquei na dúvida agora. Vocês vão implementar primeiro essa #726 que é o tempo que eu trabalho na issue #751?

E essa #751 entra só depois como uma melhoria da #726?

[2022-05-24 20:01] lucca65 opened #754 "Visualização e edição de categorias na comunidade"
Criar design das tela visualizar todas categorias na comunidade

Tela que serve para mostrar todas as categorias que uma comunidade tem e só pode ser acessada pelo administrador.

Aqui o administrador também poderá reordenar as categorias.

Deve mostrar como árvore, pois categorias podem possuir categorias dentro. Exemplos: [aqui](https://user-images.githubusercontent.com/1082127/169156525-fac104f

[2022-05-24 20:11] lucca65 commented on #726
Vamos implementar essa primeiro, depois vamos trabalhar na #751

[2022-05-25 17:37] NeoVier commented on #678
Criscia just reported an issue on Slack that is *probably* related to this. Here's the link to the Slack thread: https://cambiatus.slack.com/archives/CA4UKQBNU/p1653499498609129

In her case, the app became totally unresponsive, and nothing worked.

While we don't solve this issue, here are some suggestions for users facing this:

- Use the app in an anonymous tab
- Use the app in a different brow

[2022-05-26 15:02] NeoVier commented on #754
Podemos representar as categorias no frontend usando [zwilias/elm-rosetree](https://package.elm-lang.org/packages/zwilias/elm-rosetree/latest/Tree)! A estrutura é exatamente o que precisamos, e a documentação do pacote até mostra alguns casos de uso bem parecidos com o nosso

[2022-05-26 15:32] lucca65 commented on #754
Incrível! @NeoVier eu conversei com a @juramos-2020 nessa semana e topamos fazer um experimento de tocar essa tela sem referências de design. Não é o ideal mas o pessoal de design tá com as mãos cheias e essa é uma das telas que não estava pronta. Fora que a estrutura de categorias que usamos segue a estrutura de e-commerce que é diferente da estrutura de filtros que tínhamos no design.

Acha que

[2022-05-27 17:56] lucca65 opened #755 "Mudar URL de compartilhamento da comunidade"
Ao clicar no botão referenciado na imagem abaixo, geramos o link `https://buss.staging.cambiatus.io/community/about`. Melhor que não tenha `/community/about`

<img width="437" alt="Captura de Tela 2022-05-27 às 14 56 06" src="https://user-images.githubusercontent.com/1082127/170765308-ed3286dc-d854-4e27-8538-fcc4874ba413.png">

[2022-05-27 18:24] lucca65 commented on #745
@rafachadud aproveitando, vamos precisar também de um indicador de ações automáticas, hoje mostramos só o botão de compartilhar:

<img width="877" alt="Captura de Tela 2022-05-27 às 15 23 02" src="https://user-images.githubusercontent.com/1082127/170769011-44a9a9c1-e742-4cde-91f7-67eea803dff2.png">

Fiz uma anotação tosca de que devemos diferenciá-las nessa tela e na pesquisa!

[2022-05-29 11:36] rafachadud commented on #745
@lucca65 esqueci de compartilhar o link 🫠🫠🫠
[https://www.figma.com/file/CO9QI0RyRxdx9ShfHJCo2g/acessibilidade?node-id=1171%3A24117](url)

O que seriam acoes automaticas? 🤔

[2022-05-30 01:14] lucca65 commented on #745
são um tipo de ação na Cambiatus que existem desde a primeira versão, que não precisam dos votos e do processo de reinvidicacao. Te convidei pra gente conversar disso há alguns meses: https://github.com/orgs/cambiatus/discussions/671#discussion-3806007

[2022-05-30 01:15] lucca65 commented on #745
Obrigado Rafa, ficou show!

[2022-05-30 16:05] lucca65 commented on #707
@juramos-2020 contou que estão trabalhando nisso

[2022-05-30 20:23] NeoVier commented on #707
@juramos-2020 @rafachadud @lucca65  como vamos forçar o aspect ratio das imagens, precisamos saber que aspecto devemos usar em cada imagem. Aqui está uma lista de todas as imagens que podem ser carregadas por usuários:

- Foto de perfil (Acredito que esse deve ser um quadrado - aspect ratio de 1 : 1)
- Logo da comunidade (Também acho que deve ser 1 : 1, mas **os ícones disponíveis por padrão não s

[2022-05-30 23:02] lucca65 commented on #707
+1!

Acho que o Shop pode se manter como está hoje, sem forçar um ratio, a mesma coisa para as imagens de verificação

@rafachadud qual seria a proporção ideal para a capa da comunidade?

[2022-05-31 18:28] rafachadud commented on #745
@lucca65 eu adicionei um textinho referente à acoes automáticas no mesmo link do figma. 👯
![Screenshot 2022-05-31 at 20 26 50](https://user-images.githubusercontent.com/67650032/171258898-10ae6774-6e05-49c0-9a1d-2e5d8a66daed.png)

[2022-05-31 18:35] rafachadud commented on #707
Faz sentido um numero quebrado?
Fiz os calculos e seria algo em torno de 6,4 : 1, se nao podemos fazer 7 : 1 ?

[2022-05-31 19:39] NeoVier commented on #707
Podemos usar números quebrados sim @rafachadud. Será que não seria mais interessante usar um ratio mais "comum", como 1:1, 4:3 ou 16:9 (ou algo perto desses valores)? Se fugirmos muito desses valores, vai ficar difícil para os usuários colocarem uma foto inteira

Além disso, acho que essa conta não tá certa 😅 Um ratio de 7 : 1 fica assim:
<img width="782" alt="image" src="https://user-images.githu

[2022-05-31 19:51] NeoVier commented on #707
Ah, esquece, eu tava pensando na foto do produto 🤦 Acho que esse ratio faz sentido pra imagem da comunidade

[2022-06-01 07:37] rafachadud commented on #707
Sim, seria para a capa da comunidade xD

Minhas habilidades matemáticas já foram melhores, hoje em dia está osso. hahah

Mas fiz os calculos com o formato web (antes eu tinha calculado com base nas medidas do design) e deu uma proporcao de 9 : 2. Talvez algo assim funcione?

[2022-06-01 17:09] lucca65 commented on #707
Pessoal dei uma pesquisada rápida aqui no que o pessoal mais especializado recomenda pra tirar o máximo de velocidade de carregamento e qualidade visual e o recomendado 16/9 ou até mesmo 3/1 ou 2/1 para esse tipo de imagem.

Algumas referências, falam de blogs mas também como Facebook e Twitter fazem
https://www.strikingly.com/content/blog/website-image-size-guidelines/
https://www.picmonkey.com/b

[2022-06-02 17:51] rafachadud commented on #707
+1 Lucca!

Inclusive dei uma pesquisada em como o Youtube trata (porque gosto das dimensoes da capa de canal do youtube) e tem a mesma proporcao de 16:9, entao podemos manter essa e dar o crop com as medidas exatas da altura e largura.

![Screenshot 2022-06-02 at 19 50 21](https://user-images.githubusercontent.com/67650032/171694775-c7f9962f-8288-468a-86d8-c3b916189604.png)

[2022-06-03 03:07] NeoVier opened #756 "Allow dragging and dropping entries from file uploaders that take multiple entries"
**What we have**
A new and revamped file uploader that can now take multiple entries at once.

**Proposal**
Add the ability to drag and drop entries in order to reorder them.

**Why**
So that it's possible to reorder images that have already been uploaded.

**How**
Using the [HTML Drag and Drop API](https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API). There are a few elm packa

[2022-06-03 15:47] lucca65 commented on #754
acho melhor deixarmos isso pra outra issue bro, assim podemos iterar melhor em como isso vai ficar, acho que podemos aprender bastante com a maneira com que outras lojas fazem

[2022-06-03 15:48] #755 closed

[2022-06-03 17:49] lucca65 opened #758 "Ao digitar rápido no campo de busca, temos resultados errados"
**Describe the bug**
Algumas vezes temos resultados que não correspondem com o termo pesquisado

**To Reproduce**
Steps to reproduce the behavior:
1. Abra o campo de pesquisa,
2. digite, rapidamente a palavra `terapia`
3. Dependendo da conexão poderão vir +/- 16 resultados ou +/- 500

**Expected behavior**
Mostrar somente os resultados pertinentes a pesquisa

**Cambiatus Env you are using**
muda.c

[2022-06-04 17:51] lucca65 opened #759 "Tela de administração de produtos"
Com as funcionalidades que estamos desenvolvendo para a loja, precisamos de uma tela onde seja possível ver todos os produtos de maneira melhor.

A única tela que temos hoje é a vitrine, que foi criada com o intuito de ser utilizada pelo usuário final onde busca o que quer comprar.

Para o administrador ou vendedor, uma tela onde pudesse:

- Ordenar produtos mais buscados, mais comprados, maior e

[2022-06-10 17:16] NeoVier opened #761 "Verification code shows up even for actions that don't need it"
**Describe the bug**
Some actions require a proof code, while some don't.

In cases where the action requires proof *photo*, we are still showing the proof code, even if it's not needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an action that requires proof photo (but not proof code)
2. Go to the objectives page and click to claim the action
3. See proof code

**Expected behavi

[2022-06-10 17:26] #707 closed

[2022-06-13 15:51] lucca65 opened #762 "Editar a ordem dos objetivos e ações"

[2022-06-13 15:54] lucca65 commented on #762
@juramos-2020 pode colocar uma descrição do que já temos disso? Aquilo que conversamos no Zoom

[2022-06-13 15:55] lucca65 opened #763 "Listagem de todos os produtos para o admin"

[2022-06-15 13:25] NeoVier opened #764 "Prevent translation files from being cached from previous versions"
**What we have**
We have a few JSON files that represent text in different languages that we make available in the app. Their names look like `en-US.json`, `pt-BR.json`, etc., and to load them we just make a GET request to `/translations/{filename}`.

This means that when we update the app, these files might be cached, and users may see the translation keys instead of the translated text. They the

[2022-06-15 20:15] lucca65 commented on #764
To follow up this, this happens on every deploy since the first version of the app. Its solved by a hard reload, no need to clean cache. `cmd+R` or `ctrl+F5` does the trick. Reloading on safari mobile also do it.

[2022-06-20 12:28] juramos-2020 commented on #762
Olá @lucca65 @rafachadud

segue a [proposta da tela de edição](https://www.figma.com/file/WbLY4a33elsepvpTYX6Mhn/Objetivos-%26-A%C3%A7%C3%B5es?node-id=1840%3A12386) da ordenação dos Objetivos e Ações 😉👍

[2022-06-20 12:57] juramos-2020 commented on #685
O que temos hoje:

![image](https://user-images.githubusercontent.com/67649886/174605991-fae6b429-9b26-492c-9482-00fd16b96b0f.png)

Sugestão além de melhorar o design:

- Segmentar as notificações por comunidade. Ex.: Se estou na comunidade **Verdes** deve aparecer notificações apenas da comunidade **Verdes**.
- Ordenar as notificações com base nas datas, mostrando as mais recentes primeiro.

[2022-06-20 13:45] NeoVier commented on #762
@juramos-2020 será que o ícone de arrastar não ficaria melhor dentro dos cards? Do jeito que está, fora dos cards, eles podem parecer um pouco desalinhados, além de que os objetivos perdem bastante espaço na tela para acomodar esse ícone (e as ações perdem mais espaço ainda). Além disso, normalmente o ícone de arrastar são 6 pontos:

<img width="246" alt="image" src="https://user-images.githubuser

[2022-06-20 13:48] NeoVier commented on #685
Talvez seja legal continuar mostrando as notificações de outras comunidades também, mas separado (pode ser confuso ver uma notificação de uma comunidade, e no outro dia entrar em outra comunidade e não ver aquela notificação). Poderíamos fazer algo parecido com isso:

<details>
<summary>
<h2>Verdes</h2>
</summary>

1. Primeiro exemplo Verdes
2. Segundo exemplo Verdes
</details>

<details>
<summary

[2022-06-20 14:25] juramos-2020 commented on #762
Me surgiu esse questionamento na hora de criar e acabei optando por deixar, obrigada por compartilhar sua visão 😉👍
Nesse caso concordo que a melhor opção seria remover o ícone de arrastar para incluir as setas de "mover para cima" e "mover para baixo" 😉👍

[2022-06-20 16:00] lucca65 commented on #685
+1 pra gente continuar mostrando as comunidades. A maior parte das pessoas só tem uma comunidade então acho que nesse caso podemos ocultar o header.

[2022-06-20 16:09] lucca65 commented on #762
@juramos-2020 obrigado por avançar nisso! é uma coisa que já podemos passar pra play for change e é fácil de implementar! (pelo menos no backend, imagino que no front também).

Tenho algumas sugestões de mudança:

1. não gosto muito dessa coisa de ter duas formas de editar, uma na tela de exibição e outra na tela de admin. Essa é uma coisa que está aparecendo também nas ferramentas administrativas

[2022-06-20 16:36] juramos-2020 commented on #762
Valeu pelas sugestões Lucca 😉👍

Sobro o tópico 1, na verdade, é só uma forma de editar.  O botão de editar que deixei em "How to earn" é um atalho que leva para a página de edição dentro das configurações.

[2022-06-22 15:55] juramos-2020 commented on #762
Ola pessoal @lucca65 @NeoVier @rafachadud

segue [uma versão mais atualizada](https://www.figma.com/file/WbLY4a33elsepvpTYX6Mhn/Objetivos-%26-A%C3%A7%C3%B5es?node-id=1845%3A17316), porém ainda não finalizada.

Antes gostaria de explicar alguns pontos que me serviram como base em algumas decisões:

- Sobre entrar no **modo de ordenação**, segui por esse caminho para que os **cards das ações** sofra

[2022-06-22 16:03] juramos-2020 commented on #763
@lucca65 @NeoVier vocês já estão precisando dessa tela "pra já" ?

Tinha combinado de entregar essa semana mas não sei se vou conseguir.
Se estiverem precisando, peço que me informem, que dou uma priorizada nela para não gerar atrasos para vocês. 😉👍

[2022-06-22 16:11] NeoVier commented on #763
Não precisa apressar não @juramos-2020, já temos algumas coisas no backlog para irmos fazendo

[2022-06-23 02:08] NeoVier opened #765 "Validate translation files"
**What we have**
We have a few JSON files we use to translate text into English, Portuguese, Spanish, etc.

These files are all of different lengths, which means some files have missing keys. We also don't really know which keys are still in use and which keys aren't being used anymore.

**Proposal**
Check that all of the files have the same keys and that they're all in sync with each other. While

[2022-06-23 17:45] NeoVier opened #766 "Show correct urls on the category editing page"
**What we have**
We introduced shop categories in #760. We have a few places where we show url-related data, but we only show a generic url, not the actual final url.

**Proposal**
Show the full URL.

For example, on the sharing preview, we should show `https://buss.staging.cambiatus.io/categories/:categoryName` instead of just `https://buss.staging.cambiatus.io`

The other case is in the slug, sh

[2022-06-23 19:59] lucca65 commented on #762
+1 pra termos os ". . ." com mais opções, isso inclusive pode nos dar novas possibilidades como um atalho para completar uma ação.

Acho que pra mim o ideal seria: ter a habilidade de arrastar as ações naturalmente (sem precisar entrar num modo de ordenação) e ter os botões de ordenação CIMA e BAIXO dentro do menu de contexto.

[2022-06-23 20:00] lucca65 commented on #763
+1, sem pressa @juramos-2020 tem bastante coisa no backlog 😁

[2022-06-23 20:05] lucca65 commented on #765
Smart stuff!

[2022-06-23 22:59] #758 closed

[2022-06-24 17:18] #761 closed

[2022-06-24 18:35] lucca65 opened #769 "Create view category screen"
We need a simple screen to show all products from a given category. It should be plain and simple:

- Name of the category
- Image and banner, if filled
- List of products
- Cards with the subcategories on the top

We can iterate over it on the future if necessary

[2022-06-24 18:49] lucca65 opened #770 "Allow user to associate to categories to their product"
**Is your feature request related to a problem? Please describe.**
With the implementation of #760 categories in the community we need a way to associate a product to one or more categories.

**Describe the solution you'd like**
Modify the edit form to support categories, selecting as many as the user wants. We can follow the category screen tree-like design

When selecting a child, it should also

[2022-06-24 22:26] lucca65 opened #772 "Remember scroll position when navigating the shop"
**What we have**
Currently when we are navigating the shop we don't keep track on the scroll position it is, making harder to navigate. After opening an offer, I can't resume the scrolling.

**Proposal**
Keep the offer list on the state and make navigation smoother.

**Why**
Its hard to navigate on the shop, this would be a good improvement

**How**
--

**Additional context**
Actually noticed this

[2022-06-24 22:31] lucca65 opened #773 "Photo viewer for images"
**What we have**
Now that we can have good image uploading, but we are missing better ways to actually consume those images

**Proposal**
we should add a photo viewer, to make the photo bigger

**Why**
Today, the only way to see more details of an offer, claim proof or profile image is by zooming in with the browser with varying results.

**How**
Add a new component, present in our Elm Book, that

[2022-06-28 15:56] lucca65 commented on #751
- [ ] a
- b
- c

[2022-06-28 15:59] lucca65 opened #774 "Planejar com os Buss"

[2022-06-29 21:07] juramos-2020 opened #775 "Erro no crop da imagem da Categoria"
**Describe the bug**
O crop está travando e a área da imagem que foi definida para corte não está salvando corretamente.

O erro foi reportado na issue #760

https://github.com/cambiatus/frontend/pull/760#issuecomment-1170290665

**Expected behavior**
Posicionar o crop sem "travas" e fazer com que a área selecionada apareça como salva.

**Screenshots**

[2022-06-29 21:27] juramos-2020 opened #776 "Erro no crop da Imagem"
**Describe the bug**

Erro reportado nessa issue:

https://github.com/cambiatus/frontend/pull/760#issuecomment-1170290665

**Expected behavior**
Mover a área de corte sem travas e salvar a imagem que foi definida pela área de corte.

**Screenshots**

[2022-06-29 22:56] NeoVier commented on #776
@juramos-2020 acho que abriu duas issues sem querer 😅. Vou fechar essa para termos só a #775 e não ficar com duplicatas

[2022-06-29 22:56] #776 closed

[2022-06-29 23:01] juramos-2020 commented on #775
Obrigada @NeoVier 😅🤟

[2022-06-30 13:47] lucca65 opened #777 "Update action form to support images"
Today we have an updated api/smart contract/event-source combo that supports a single image as a param for upserting actions. **We need to update the action form** to support it and also update some pages like How to Earn, search and claims. Please be aware that claims is a big part, with pages like "my claims", the dedicated view for a claim, the modal for a claim and an analysis (reviewers viewi

[2022-07-01 18:45] lucca65 opened #779 "Can't buy free offers"
**Describe the bug**
Although we allow offers to be free, by setting the price to 0, we can't buy them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an offer with any price
2. Go to the database and manually set the price as zero
3. Open the offer as a different user
4. Try to buy it
5. See error

**Expected behavior**
Not sure, it makes sense for us to allow this, but how do we st

[2022-07-01 19:18] lucca65 commented on #762
@juramos-2020 @rafachadud essa vai entrar naquilo que conversamos sobre ter um componente ordenável que vale pra outros elementos? Ou vamos fazer algo específico pra essa tela?

[2022-07-01 19:50] juramos-2020 commented on #762
Sim acredito que entre o que conversamos de ter esse componente ordenavel. Seria bom que usássemos a mesma estrutura e comportamento que vamos usar nas categorias, para que funcione da mesma forma sabe?

A única coisa que vou fazer de diferente para essa tela dos objetivos e ações é adicionar uma ilustração que informe sobre essa ordenação. Tinha feito um exemplo antes mas vou modificá-lo.

[2022-07-04 21:30] lucca65 opened #780 "Allow categories to be ordered properly"
**What we have**
On #754 we've added the ability to create categories, edit them and add them as subcategories to other categories.

Right now the interface have a confusing behavior as the categories don't keep the order you put them in if they are a root category. The editor also don't support dragging them to a specific position on the list.

**Proposal**
Implement this feature, using backend's

[2022-07-05 17:11] NeoVier opened #781 "Update search query"
**What we have**
We have a search query that searches members

**Proposal**
Update the query

**Why**
On https://github.com/cambiatus/backend/pull/249, we changed the member query on the search query

**How**
N/A

**Additional context**
N/A

[2022-07-05 17:13] NeoVier opened #782 "Update queries that need community id"
**What we have**
We have a lot of queries that need the current community symbol to work.

**Proposal**
Update those queries so that we don't need to give them the symbol anymore

**Why**
On https://github.com/cambiatus/backend/pull/252, we don't need this argument anymore

**How**
Run `yarn generate-graphql` and solve the errors

**Additional context**
N/A

[2022-07-05 20:20] NeoVier commented on #780
@juramos-2020 [mentioned Asana as an example of how to display the ordering](https://github.com/cambiatus/frontend/pull/760#issuecomment-1175373180):

Ver como se comporta a ordenação entre os tópicos e sub tópicos. Conseguimos ver também a hierarquia visual dando um bold para os textos dos tópicos.

https://photos.app.goo.gl/e6PZsiRWW6KuaHTm7

[2022-07-06 20:10] #754 closed

[2022-07-08 17:52] lucca65 commented on #770
We will show categories on the view product page as well? Maybe as pills?

[2022-07-08 17:58] lucca65 opened #783 "When objectives are disabled, I can still see the page and link "How to Earn""
**Describe the bug**
Even if I have objectives disabled on the community settings, I can still access "How to Earn" and try to claim. All claims still fail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a community
2. On the admin page, disable objectives
3. Go to dashboard
4. See error, the how to earn button is there5.
5. Manually enter /community/objectives on the end of the url
6.

[2022-07-08 18:04] lucca65 commented on #770
@juramos-2020 @rafachadud teremos algum tipo de indicador com a tela de visualização de oferta quando eu sou o dono?

Hoje a tela é igualzinha, se estou olhando pra uma oferta minha ou de outra pessoa, exceto por uma diferença:

O botão de **"comprar"** se torna **"editar"**. Seria legal ter alguma outra diferença, talvez uma barra no topo indicando alguma coisa ou dando certos botões?

Se não tiv

[2022-07-08 18:11] lucca65 commented on #780
Seguindo as sugestões do Asana, uma coisa legal que fazem é deixar você escolher o destino quando mover. Também tem um botão dedicado a isso que aparece com o hover. Pode ser uma boa referência de como melhorar isso

<img width="1047" alt="Captura de Tela 2022-07-08 às 15 10 40" src="https://user-images.githubusercontent.com/1082127/178047360-19b0c397-12f8-4ab6-aad4-0fac16889c84.png">

[2022-07-08 19:04] rafachadud commented on #770
@lucca65 @juramos-2020 posso trabalhar nisso durante o final de semana e testar algumas coisas mais simples. Pode ser? o/

[2022-07-08 19:25] juramos-2020 commented on #770
Tranquilo Rafa, no seu tempo ☺️

[2022-07-08 19:29] lucca65 opened #784 "Rich text don't display blank lines"
**Describe the bug**
When using rich text, such as in the community news, we don't display blank lines.

Steps to reproduce the behavior:
1. Create a new news on the community
2. Make sure it have blank lines on the text
3. Open the news on the community page
4. See error

**Expected behavior**
If we add blank lines on the communication, it should be displayed

**Screenshots**
The line problem can

[2022-07-08 20:54] NeoVier commented on #784
To add to this, it seems like the blank lines are displayed on the news itself, but it seems like we lose the blank lines when trying to edit again.

In order to show the empty lines on the rendered markdown, it's important to remember to leave at least one empty line (like in the example), which is what markdown requires (only breaking the line, without leaving an empty line, doesn't create a new

[2022-07-12 17:35] #781 closed

[2022-07-13 18:55] #782 closed

[2022-07-18 14:01] NeoVier opened #791 "Show better error when buying too much"
**Is your feature request related to a problem? Please describe.**
When you buy something from the shop, we don't validate the amount you will spend before you click "buy" and send a transaction to the blockchain. If you try to spend more than you own, you get this error:
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/39280468/179527928-159b2bde-03e7-490e-aea7-f26fccd

[2022-07-18 14:03] lucca65 commented on #791
This solution could also be valid when transferring. Right now we simply show an input error. Maybe we can direct the user to "How To Earn" too, in case of invalid form

[2022-07-19 17:29] #778 closed

[2022-07-19 20:04] #783 closed

[2022-07-22 18:24] lucca65 commented on #777
@rafachadud como tá indo essa? Uma sugestão legal seria de ter o DS para upload de imagem, que pode seguir o que temos aqui: https://cambiatus-elm-book.netlify.app/forms/file

Isso é o que já temos de DS (talvez um dev system?) sobre esse componente

[2022-07-22 18:38] lucca65 opened #793 "Add category filters to our shop window display"
Following https://www.figma.com/file/OSqvmNO3HSzRJSrp9Of865/New-Shop?node-id=1679%3A8948, we need to implement the categories filter to our window display/shop showcase. \

[2022-07-22 19:41] #745 closed

[2022-07-25 12:55] NeoVier opened #795 "Use masonry layout on analysis page"
**What we have**
On the analysis page, some cards may be taller than others:
![image](https://user-images.githubusercontent.com/39280468/180781507-dbe40fbc-9819-425d-b55a-1f55c7bdbbc6.png)

Right now, we just show rows of the same height.

However, we've created a component, `MasonryLayout`, which will display different-height rows. It's used in the How to Claim page:
![image](https://user-images.

[2022-07-25 12:57] NeoVier commented on #795
@lucca65 @juramos-2020 @rafachadud what do you think about this one? Do you think it's a valid change? Maybe keeping same height rows is better for people who want to take a quick glance at the claims

[2022-07-25 13:16] lucca65 commented on #795
+1 this screen as it is right now could be improved!

[2022-07-25 16:03] lucca65 opened #796 "Create user settings page (with new text for notifications)"
Modify text email preferences to be more clear that the notification is actually an email

<img width="628" alt="Captura de Tela 2022-07-25 às 13 04 53" src="https://user-images.githubusercontent.com/1082127/180823921-0f4b2ba9-9930-40dc-8cc5-fed60d1eab1a.png">

## Context

Discussed during our RICE session on 25 July with @juramos-2020 and @iamluizhadad

[2022-07-25 16:06] lucca65 commented on #796
@juramos-2020 pode sugerir como os textos podem ficar?

[2022-07-26 12:11] rafachadud commented on #777
Oie @lucca65, demorei mas saiu.

Eu usei o mesmo estilo que temos para o upload das claims e acredito ser o que temos no elm book. Vou adicionar esse elemento no nosso arquivo do design system.

https://www.figma.com/file/esLEQOPHNaq3TJoQGpNbuZ/Dashboard?node-id=589%3A2394

[2022-07-26 17:01] juramos-2020 commented on #770
@lucca65 acho que [esse pedido](https://github.com/cambiatus/frontend/issues/770#issuecomment-1179241844) resolve a issue #719 .

@rafachadud quando você for atualizar o link, pode colocar na issue #719 😉👍

[2022-07-26 17:38] rafachadud commented on #719
@juramos-2020 @NeoVier @lucca65 updated in here: https://www.figma.com/file/OSqvmNO3HSzRJSrp9Of865/New-Shop?node-id=2876%3A49405

[2022-07-26 17:56] NeoVier commented on #719
@rafachadud what do you think of making the "This is your offer" element as wide as the image? Something like the one from boosted offers: https://www.figma.com/file/OSqvmNO3HSzRJSrp9Of865/New-Shop?node-id=2722%3A48929

We could say something like "This is how other users view your offer. Click here to edit it".

I'm not sure if this is the appropriate issue (and maybe it would be more significant

[2022-07-26 18:18] juramos-2020 commented on #719
@NeoVier @rafachadud

Acho que isso poderia ser resolvido em outra issue que pode entrar como prioridade mais a frente.

[2022-07-26 19:33] rafachadud commented on #719
@NeoVier @juramos-2020 I made a version 2 using the same element. Let me know which one it's best.  https://www.figma.com/file/OSqvmNO3HSzRJSrp9Of865/New-Shop?node-id=2938%3A49531

+1
I really liked this idea to have some statistics, we can even think in the future to do one page with overall statistics for all offers created by one user, so they can check what is performing the best and trace the

[2022-07-26 20:00] juramos-2020 commented on #719
Eu gosto da primeira opção, mas com o elemento do  "This is your offer" sendo da mesma largura da imagem, que nem vc fez na segunda opção.

O que eu não gostei na segunda opção é que parece que o elemento do "This is your offer" está "brigando" visualmente com o header da pág, devido ter uma altura maior.
E acho que a frase "This is how other users view your offer. Click here to edit it" trás uma